{include file="index/header" /}
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>客户管理</a>
        <a href="<?=url('crm/index')?>">客户列表</a>
        <a><cite>编辑客户</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('crm/index')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" action="<?=url('crm/edit')?>?user_id={$user.crm_user_id}" method="post">
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>所在城市</label>
                    <div class="layui-input-inline">
                        <select name="crm_city" lay-verify="required">
                            <option value="">请选择所在城市</option>
                            {volist name='city' id='vo'}
                            <option value="{$vo.crm_c_id}" {if condition="$vo.crm_c_id eq $user.crm_city"}selected{/if} >{$vo.crm_city}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="crm_service_type" lay-verify="required" lay-filter="aihao">
                            <option value="">请选服务类别</option>
                            {volist name='service' id='vo'}
                            <option value="{$vo.crm_s_id}" {if condition="$vo.crm_s_id eq $user.crm_service_type"}selected{/if}>{$vo.crm_type}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>客户编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="crm_user_bid" value="{$user.crm_user_bid}" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">客户姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="crm_user_name" value="{$user.crm_user_name}"  placeholder="请输入客户姓名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">微信号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$user.crm_wechat}" onblur="checkWechat()" id="crm_wechat" name="crm_wechat" placeholder="请输入微信号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">推荐人ID</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$user.crm_refer}" name="crm_refer" id="crm_refer" placeholder="请输入推荐人微信号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$user.crm_phone}" name="crm_phone" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>客户来源</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$user.crm_user_from}" lay-verify="required" name="crm_user_from" placeholder="请输入客户来源" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>租房区域</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$user.crm_school}" name="crm_school" lay-verify="required|title" placeholder="请输入租房区域" autocomplete="off" class="layui-input">
                    </div>
                </div>
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">备注名称</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input type="text" value="{$user.crm_remarks}" name="crm_remarks"  placeholder="请输入备注名称" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">性别</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input type="radio" name="crm_sex" value="1" {if condition="1 eq $user.crm_sex"}checked{/if} title="男">-->
<!--                        <input type="radio" name="crm_sex" value="2" {if condition="2 eq $user.crm_sex"}checked{/if} title="女">-->
<!--                        <input type="radio" name="crm_sex" value="3" {if condition="3 eq $user.crm_sex"}checked{/if} title="未知">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">客户生日</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" value="{$user.crm_birthday}" class="layui-input" name="crm_birthday" readonly id="test2" placeholder="请选择客户生日">-->
<!--                    </div>-->
<!--                </div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房源类型</label>
                    <div class="layui-input-inline">
                        <select name="crm_house_type" lay-verify="required">
                            <option value="">请选择房源类型</option>
                            {volist name='houseType' id='vo'}
                            <option value="{$vo.ht_id}" {if condition="$vo.ht_id eq $user.crm_house_type"}selected{/if}>{$vo.ht_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span style="color: red;">*</span>基本需求</label>
                    <div class="layui-input-inline">
                        <select name="crm_room_type" lay-verify="required" lay-filter="aihao">
                            <option value="">请选户型</option>
                            {volist name='roomType' id='vo'}
                            <option value="{$vo.ht_id}" {if condition="$vo.ht_id eq $user.crm_room_type"}selected{/if}>{$vo.ht_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" value="{$user.crm_live_time}" name="crm_live_time" id="monthly" readonly placeholder="请选择入住时间">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span style="color: red;">*</span>价格</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="crm_price_min" lay-verify="required" lay-filter="aihao">
                                <option value="">$最小值</option>
                                {volist name='priceRange' id='vo'}
                                <option value="{$vo.ht_name}"  {if condition="$vo.ht_name eq $user.crm_price_min"}selected{/if} >{$vo.ht_name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="crm_price_max" lay-verify="required" lay-filter="aihao">
                                <option value="">$最大值</option>
                                {volist name='priceRange' id='vo'}
                                <option value="{$vo.ht_name}" {if condition="$vo.ht_name eq $user.crm_price_max"}selected{/if} >{$vo.ht_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">是否有车位</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="crm_car_site[1]" lay-skin="primary" title="有"  {if condition="$user.crm_car_site eq 1"}checked{/if}  >
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span style="color: red;">*</span>精细需求</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入精细需求" lay-verify="required" name="crm_need" class="layui-textarea">{$user.crm_need}</textarea>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>客户状态</label>
                    <div class="layui-input-inline">
                        <select name="crm_user_status" lay-verify="required">
                            <option value="">请选择客户状态</option>
                            {volist name='userStatus' id='vo'}
                            <option value="{$vo.id}" {if condition="$vo.id eq $user.crm_user_status"}selected{/if}>{$vo.status_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">是否星标</label>
                    <div class="layui-input-block">
                        <input type="radio" name="crm_is_star" value="2" title="常规" {if condition="2 eq $user.crm_is_star"}checked{/if}>
                        <input type="radio" name="crm_is_star" value="1" title="星标" {if condition="1 eq $user.crm_is_star"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="saveInfo">修改</button>
                        <a class="layui-btn layui-btn-primary" href="<?=url('crm/index')?>">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function checkWechat(){
        var crm_wechat=$('#crm_wechat').val();
        var user_id={$user.crm_user_id};
        $.ajax({
            type:"post",
            url:"<?=url('crm/checkWechat')?>",
            dataType: 'json',
            data:{'crm_wechat':crm_wechat,'user_id':user_id},
            success:function (data) {
                console.log(data);
                if(data.code >1){
                    layer.msg(data.msg, {icon: 2, time: 1000});
                }else if(data.code <= 1){
                    layer.msg(data.msg, {icon: 1, time: 1000});
                }
            },
            error:function (error) {
                console.log(error);
            }
        })
    }
    layui.use(['form', 'jquery','laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate
            ,$ = layui.jquery;
        //入住时间
        //入住时间
        laydate.render({
            elem: '#monthly'
            ,trigger: 'click'
        });
        //客户生日
        laydate.render({
            elem: '#test2'
        });
        //alert
        laydate.render({
            elem: '#alert'
            ,type: 'datetime'
        });

        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
            ,content: function(value){
                var cont=layedit.getContent(index); //获取编辑器内容
                if(cont.length <= 0){
                    return '请输入内容信息！';
                }
            }
        });
    });
</script>
{include file="index/footer" /}