{include file="index/header" /}
<style>
    .layui-table-cell{
        height:36px !important;
        line-height:36px !important;
        clear: both;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>客户管理</a>
        <a><cite>中介推荐</cite></a>
    </span>
</div>
<hr/>
<!--<section class="panel panel-padding" style="padding-top: 10px;padding-left: 10px;">-->
<!--    <form class="layui-form layui-form-pane1">-->
<!--        <div class="layui-form-item  demoTable">-->
<!--            <div class="layui-inline">-->
<!--                <div class="layui-input-inline" style="width: 250px;">-->
<!--                    <input type="text" name="keywords" id="keywords"  placeholder="请输入微信号/备注名/客户编号" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-inline">-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="cus_opptime" readonly class="layui-input" id="live_time" placeholder="请选择客户入住时间">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-inline">-->
<!--                <div class="layui-input-inline">-->
<!--                    <span class="layui-btn" data-type="reload">查询</span>-->
<!--                    <a href="<?=url('crm/formuser')?>" class="layui-btn layui-btn-warm">刷新</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</section>-->
<table class="layui-table" lay-filter="demo" lay-size="sm" lay-skin="line" lay-data="{height: 'full-80', page:true, url:'/admin/crm/recomData/', limit:20,limits:[20,30,50] ,id: 'testReload'}" >
    <thead>
    <tr>
        <th lay-data="{field:'fu_id', width:80}">ID</th>
        <th lay-data="{field:'fu_user_name', width:120}">客户姓名</th>
        <th lay-data="{field:'fu_phone', width:120}">联系电话</th>
        <th lay-data="{field:'fu_user_wechat', width:160}">微信号</th>
        <th lay-data="{field:'fu_addtime', width:160}">提交时间</th>
        <th lay-data="{field:'status',templet: '#toDetails', width:80}">状态</th>
        <th lay-data="{field:'update_time', width:160}">回访时间</th>
        <th lay-data="{field:'admin', width:160}">管理员</th>
        <th lay-data="{width:120, toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>
<script type="text/html" id="toDetails">
    {{#  if(d.status === 2){ }}
    <span style="color:red">
        未回访
    </span>
    {{#  }else{ }}
    <span style="color:green">
        已回访
    </span>
    {{#  } }}
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>回访</a>
</script>
<script>
    layui.use(['table','laydate','form'], function(){
        var table = layui.table
            ,form = layui.form
            ,laydate = layui.laydate;
        laydate.render({
            elem: '#live_time'
            ,range: true
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var fu_id = data.fu_id;
            if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title: '回访信息',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: "<?=url('crm/upinfo')?>?fu_id="+fu_id
                });
            }
        });
    });
</script>
{include file="index/footer" /}