{include file="index/header" /}
<style>
   .friend-img{
       width: 40px;
       height: 40px;
       border-radius: 100%;
   }
    .friend-nick{
        width: 100px;
        padding-left: 10px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .layim-friend{
        position: relative;
        margin: 5px;
        padding: 5px 30px 5px 5px;
        line-height: 40px;
        cursor: pointer;
        border-radius: 3px;
    }
    .current-img{
        position: relative;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    .myMsg{
        text-align: right;
        padding-left: 0;
        padding-right: 60px;
        position: relative;
        font-size: 0;
        margin-bottom: 10px;
        padding-left: 60px;
        min-height: 68px;
    }
   .user-div{
       position: absolute;
       left: 3px;
       vertical-align: top;
       font-size: 14px;
   }
   .user-div-l{
       position: absolute;
       vertical-align: top;
       font-size: 14px;
       display: inline-block;
       text-align: right;
   }
   .m-img{
       width: 40px;
       height: 40px;
       border-radius: 100%;
   }
    .user-div-l img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .user-div-l cite{
        position: absolute;
        left: 60px;
        top: -2px;
        width: 500px;
        line-height: 24px;
        font-size: 12px;
        white-space: nowrap;
        color: #999;
        text-align: left;
        font-style: normal;
    }
    .user-div cite{
        left: auto;
        right: 60px;
        text-align: right;
        position: absolute;
        /*left: 60px;*/
        top: -2px;
        width: 500px;
        line-height: 24px;
        font-size: 12px;
        white-space: nowrap;
        color: #999;
        font-style: normal;
    }
    .layim-chat-text{
        margin-right: 0;
        text-align: right;
        background-color: #5FB878;
        color: #fff;
        position: relative;
        line-height: 22px;
        margin-top: 25px;
        padding: 8px 15px;
        border-radius: 3px;
        word-break: break-all;
        vertical-align: top;
        font-size: 14px;
        display: inline-block;
    }
    .ulayim-chat-text{
        margin-right: 0;
        text-align: left;
        background-color: #e2e2e2;
        color: #333;
        position: relative;
        line-height: 22px;
        margin-top: 25px;
        margin-left: 60px;
        padding: 8px 15px;
        border-radius: 3px;
        word-break: break-all;
        vertical-align: top;
        font-size: 14px;
        display: inline-block;
    }
    .li{
        position: relative;
        font-size: 0;
        margin-bottom: 10px;
        min-height: 68px;
    }
    .layim-chat-user{
        position: absolute;
        left: auto;
        right: 3px;
        vertical-align: top;
        font-size: 14px;
        text-align: right;
    }
    .mycite{
        left: auto;
        right: 60px;
        text-align: right;
        position: absolute;
        top: -2px;
        width: 500px;
        line-height: 24px;
        font-size: 12px;
        white-space: nowrap;
        color: #999;
        font-style: normal;
    }
    .layim-chat-main{
        padding: 15px 15px 5px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 499px;
    }
    .layim-this{
        background-color: #F3F3F3;
    }
</style>
<div style="margin: 20px;">
        <span class="layui-breadcrumb" lay-separator=">">
            <a>客户管理</a>
            <a><cite>站内信</cite></a>
        </span>
</div>
<div>
    <div>
        <div style="width: 20%;float:left;display: block;background-color: #d9d9d9">
            <ul class="layui-unselect layim-chat-list" id="chat-list">
                <li class="layim-friend layim-chatlist-friend layim-this">
                    <img class="friend-img" src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="">
                    <span class="friend-nick">谢小楠</span>
                </li>
                <li class="layim-friend layim-chatlist-friend" onclick="changeUser(this)">
                    <img class="friend-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                    <span class="friend-nick">马小云</span>
                </li>
                <li class="layim-friend layim-chatlist-friend" onclick="changeUser(this)">
                    <img class="friend-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                    <span class="friend-nick">马小云</span>
                </li>
                <li class="layim-friend layim-chatlist-friend" onclick="changeUser(this)">
                    <img class="friend-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                    <span class="friend-nick">马小云</span>
                </li>
            </ul>
        </div>
        <div style="width: 79%;float:left;display: block">
            <div class="layim-chat-other" style="height: 80px;width: 100%;background-color: #ececec">
                <img src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="" class="current-img">
                <span class="layim-chat-username">谢小楠</span>
            </div>
            <div class="layim-chat-main">
                <ul id="msglist">
                    <li class="myMsg li">
                        <div class="layim-chat-user">
                            <img class="m-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                            <cite class="mycite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="layim-chat-text">
                            您好，我现在有事不在，一会再和您联系。
                        </div>
                    </li>
                    <li class="u-msg li">
                        <div class="user-div-l">
                            <img src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="">
                            <cite class="ucite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="ulayim-chat-text">
                            你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。
                        </div>
                    </li>
                    <li class="myMsg li">
                        <div class="layim-chat-user">
                            <img class="m-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                            <cite class="mycite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="layim-chat-text">
                            您好，我现在有事不在，一会再和您联系。
                        </div>
                    </li>
                    <li class="u-msg li">
                        <div class="user-div-l">
                            <img src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="">
                            <cite class="ucite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="ulayim-chat-text">
                            你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。

                        </div>
                    </li>
                    <li class="u-msg li">
                        <div class="user-div-l">
                            <img src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="">
                            <cite class="ucite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="ulayim-chat-text">
                            你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。

                        </div>
                    </li>
                    <li class="myMsg li">
                        <div class="layim-chat-user">
                            <img class="m-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                            <cite class="mycite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="layim-chat-text">
                            您好，我现在有事不在，一会再和您联系。
                        </div>
                    </li>
                    <li class="u-msg li">
                        <div class="user-div-l">
                            <img src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="">
                            <cite class="ucite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="ulayim-chat-text">
                            你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。

                        </div>
                    </li>
                    <li class="myMsg li">
                        <div class="layim-chat-user">
                            <img class="m-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                            <cite class="mycite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="layim-chat-text">
                            您好，我现在有事不在，一会再和您联系。
                        </div>
                    </li>
                    <li class="u-msg li">
                        <div class="user-div-l">
                            <img src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="">
                            <cite class="ucite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="ulayim-chat-text">
                            你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。

                        </div>
                    </li>
                    <li class="myMsg li">
                        <div class="layim-chat-user">
                            <img class="m-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                            <cite class="mycite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="layim-chat-text">
                            您好，我现在有事不在，一会再和您联系。
                        </div>
                    </li>
                    <li class="u-msg li">
                        <div class="user-div-l">
                            <img src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="">
                            <cite class="ucite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="ulayim-chat-text">
                            你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。

                        </div>
                    </li>
                    <li class="u-msg li">
                        <div class="user-div-l">
                            <img src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="">
                            <cite class="ucite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="ulayim-chat-text">
                            你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。

                        </div>
                    </li>
                    <li class="myMsg li">
                        <div class="layim-chat-user">
                            <img class="m-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                            <cite class="mycite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="layim-chat-text">
                            您好，我现在有事不在，一会再和您联系。
                        </div>
                    </li>
                    <li class="u-msg li">
                        <div class="user-div-l">
                            <img src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg" alt="">
                            <cite class="ucite">
                                <i>2020-06-18 15:10:41</i>
                                纸飞机
                            </cite>
                        </div>
                        <div class="ulayim-chat-text">
                            你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。

                        </div>
                    </li>
                </ul>
            </div>
            <div class="foooter">
                <div class="layui-form-item layui-form-text" style="position: fixed;bottom: 0;width: 100%;">
                    <div class="layui-input-inline" style="width: 70%">
                        <input type="text" placeholder="请输入你想说的话..." class="layui-input" id="content" style="border-radius: 105px;">
                    </div>
                    <div class="layui-input-inline">
                        <span class="layui-btn" id="send" style="border-radius: 50px;">发送</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .foooter{
        border-top: 1px solid #F1F1F1;
        position: fixed;
        width: 100%;
        bottom: 0;

    }
</style>
<script>
    $('#send').click(function () {
        var content = $('#content').val();
        var now = new Date();
        var year = now.getFullYear(); //得到年份
        var month = now.getMonth();//得到月份
        var date = now.getDate();//得到日期
        var hour = now.getHours();//得到小时
        var minu = now.getMinutes();//得到分钟
        var sec = now.getSeconds();//得到秒
        var nowDate = year+'-'+month+'-'+date+' '+hour+':'+minu+':'+sec;
        var html ='<li class="myMsg li">\n' +
            '                        <div class="layim-chat-user">\n' +
            '                            <img class="m-img" src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg" alt="">\n' +
            '                            <cite class="mycite">\n' +
            '                                <i>'+nowDate+'</i>\n' +
            '                                夜微凉\n' +
            '                            </cite>\n' +
            '                        </div>\n' +
            '                        <div class="layim-chat-text">\n' +
            '                            '+content+'。\n' +
            '                        </div>\n' +
            '                    </li>';
        $('#msglist').append(html);
        $('#contne').val('')
    })
    $("#chat-list li").click(function(){
        console.log(123);
        $(this).addClass("layim-this").siblings().removeClass("layim-this");
        $("#content .mod").eq($(".title li").index(this)).show().siblings("#content .mod").hide();
    });
</script>
{include file="index/footer" /}