{include file="index/header" /}
<style>
   .friend-img{
       width: 40px;
       height: 40px;
       border-radius: 100%;
   }
    .friend-nick{
        width: 100px;
        padding-left: 10px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .layim-friend{
        position: relative;
        margin: 5px;
        padding: 5px 30px 5px 5px;
        line-height: 40px;
        cursor: pointer;
        border-radius: 3px;
    }
    .current-img{
        position: relative;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    .myMsg{
        text-align: right;
        padding-left: 0;
        padding-right: 60px;
        position: relative;
        font-size: 0;
        margin-bottom: 10px;
        padding-left: 60px;
        min-height: 68px;
    }
   .user-div{
       position: absolute;
       left: 3px;
       vertical-align: top;
       font-size: 14px;
   }
   .user-div-l{
       position: absolute;
       vertical-align: top;
       font-size: 14px;
       display: inline-block;
       text-align: right;
   }
   .m-img{
       width: 40px;
       height: 40px;
       border-radius: 100%;
   }
    .user-div-l img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .user-div-l cite{
        position: absolute;
        left: 60px;
        top: -2px;
        width: 500px;
        line-height: 24px;
        font-size: 12px;
        white-space: nowrap;
        color: #999;
        text-align: left;
        font-style: normal;
    }
    .user-div cite{
        left: auto;
        right: 60px;
        text-align: right;
        position: absolute;
        /*left: 60px;*/
        top: -2px;
        width: 500px;
        line-height: 24px;
        font-size: 12px;
        white-space: nowrap;
        color: #999;
        font-style: normal;
    }
    .layim-chat-text{
        margin-right: 0;
        text-align: right;
        background-color: #5FB878;
        color: #fff;
        position: relative;
        line-height: 22px;
        margin-top: 25px;
        padding: 8px 15px;
        border-radius: 3px;
        word-break: break-all;
        vertical-align: top;
        font-size: 14px;
        display: inline-block;
    }
    .ulayim-chat-text{
        margin-right: 0;
        text-align: left;
        background-color: #e2e2e2;
        color: #333;
        position: relative;
        line-height: 22px;
        margin-top: 25px;
        margin-left: 60px;
        padding: 8px 15px;
        border-radius: 3px;
        word-break: break-all;
        vertical-align: top;
        font-size: 14px;
        display: inline-block;
    }
    .li{
        position: relative;
        font-size: 0;
        margin-bottom: 10px;
        min-height: 68px;
    }
    .layim-chat-user{
        position: absolute;
        left: auto;
        right: 3px;
        vertical-align: top;
        font-size: 14px;
        text-align: right;
    }
    .mycite{
        left: auto;
        right: 60px;
        text-align: right;
        position: absolute;
        top: -2px;
        width: 500px;
        line-height: 24px;
        font-size: 12px;
        white-space: nowrap;
        color: #999;
        font-style: normal;
    }
    .layim-chat-main{
        padding: 15px 15px 5px;
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
        min-height: 299px;
    }
    .layim-this{
        background-color: #F3F3F3;
    }
    .layui-left-chat{
        width: 20%;
        float:left;
        display: block;
        background-color: #d9d9d9;
        overflow-x: hidden;
        overflow-y: auto;
        height: 582px;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a><cite>站内信</cite></a>
    </span>
</div>
<div>
    <div>
        <div class="layui-left-chat">
            <ul class="layui-unselect layim-chat-list" id="chat-list">
                {volist name='list' id='item'}
                    <li class="layim-friend layim-chatlist-friend" data-id="{$item.mp_id}">
                        <img class="friend-img" src="{$item.avaurl}" alt="">
                        <span class="friend-nick">{$item.nickname}</span>
                        {if condition='$item.count neq 0'}
                        {if condition='$item.count gt 100'}
                        <span class="friend-count layui-badge">99+</span>
                        {else/}
                        <span class="friend-count layui-badge">{$item.count}</span>
                        {/if}
                        {/if}
                    </li>
                {/volist}
            </ul>
        </div>
        <div style="width: 79%;float:left;display: block">
            <div class="layim-chat-other" style="height: 80px;width: 100%;background-color: #ececec;padding: 8px;">
                <img src="https://wx.huaxiangxiaobao.com/static/logo.png" alt="" class="current-img" id="current-img">
                <span class="layim-chat-username" id="current-nick">花香小宝</span>
                <input type="hidden" id="avatar" value="{$avatar}">
                <input type="hidden" id="nickname" value="{$nickname}">
            </div>
            <div class="layim-chat-main">
                <ul id="msglist">
                    <li>在这里你可以和客户沟通！</li>
                </ul>
            </div>
            <div class="foooter" style="display: none" id="foooter">
                <div class="layui-form-item layui-form-text" style="position: fixed;bottom: 0;width: 100%;height: 25px;">
                    <div class="layui-input-inline" style="width: 70%">
                        <input type="text" placeholder="请输入你想说的话..." class="layui-input" id="content" style="border-radius: 105px;">
                    </div>
                    <div class="layui-input-inline">
                        <span class="layui-btn" id="send" data-id="0" style="border-radius: 50px;">发送</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .foooter{
        border-top: 1px solid #F1F1F1;
        position: fixed;
        width: 100%;
        bottom: 0;

    }
</style>
<script>
    $(document).keyup(function(event){
        if(event.keyCode ==13){
            var mpid = $('#send').attr('data-id');
            var avatar = $('#avatar').val();
            var nickname = $('#nickname').val();
            var content = $('#content').val();
            var now = new Date();
            var year = now.getFullYear(); //得到年份
            var month = now.getMonth()+1;//得到月份
            var date = now.getDate();//得到日期
            var hour = now.getHours();//得到小时
            var minu = now.getMinutes();//得到分钟
            var sec = now.getSeconds();//得到秒
            var nowDate = year+'-'+month+'-'+date+' '+hour+':'+minu+':'+sec;
            var html ='<li class="myMsg li">\n' +
                '                        <div class="layim-chat-user">\n' +
                '                            <img class="m-img" src="'+avatar+'" alt="">\n' +
                '                            <cite class="mycite">\n' +
                '                                <i>'+nowDate+'</i>\n' +
                '                                '+nickname+'\n' +
                '                            </cite>\n' +
                '                        </div>\n' +
                '                        <div class="layim-chat-text">\n' +
                '                            '+content+'。\n' +
                '                        </div>\n' +
                '                    </li>';
            $('#msglist').append(html);
            $('#content').val('')
            $.ajax({
                type: 'POST',
                url: "<?=url('user/sendmsg')?>",
                data: {mpid:mpid,content:content},
                dataType:  'json',
                success: function(data){
                }
            });
        }
    });
    $($(".layim-chat-main")).height(document.documentElement.clientHeight-225);
    $($(".layui-left-chat")).height(document.documentElement.clientHeight-65);
    $('#send').click(function () {
        var mpid = $('#send').attr('data-id');
        var avatar = $('#avatar').val();
        var nickname = $('#nickname').val();
        var content = $('#content').val();
        var now = new Date();
        var year = now.getFullYear(); //得到年份
        var month = now.getMonth();//得到月份
        var date = now.getDate();//得到日期
        var hour = now.getHours();//得到小时
        var minu = now.getMinutes();//得到分钟
        var sec = now.getSeconds();//得到秒
        var nowDate = year+'-'+month+'-'+date+' '+hour+':'+minu+':'+sec;
        var html ='<li class="myMsg li">\n' +
            '                        <div class="layim-chat-user">\n' +
            '                            <img class="m-img" src="'+avatar+'" alt="">\n' +
            '                            <cite class="mycite">\n' +
            '                                <i>'+nowDate+'</i>\n' +
            '                                '+nickname+'\n' +
            '                            </cite>\n' +
            '                        </div>\n' +
            '                        <div class="layim-chat-text">\n' +
            '                            '+content+'。\n' +
            '                        </div>\n' +
            '                    </li>';
        $('#msglist').append(html);
        $('#content').val('')
        $.ajax({
            type: 'POST',
            url: "<?=url('user/sendmsg')?>",
            data: {mpid:mpid,content:content},
            dataType:  'json',
            success: function(data){
            }
        });
    })
    $("#chat-list li").click(function(){
        $(this).addClass("layim-this").siblings().removeClass("layim-this");
        $('#foooter').show();
        $("#msglist").empty();
        //假装消除未读
        $(this).children('.friend-count').remove();
        var img = $(this).children('.friend-img').attr('src');
        var nick = $(this).children('.friend-nick').html();
        $('#current-img').attr('src',img);
        $('#current-nick').html(nick);
        var mp_id = $(this).attr('data-id');
        $('#send').attr('data-id',mp_id);
        //根据mp_id异步获取消息内容
        $.ajax({
            type: 'POST',
            url: "<?=url('user/getmsgcon')?>",
            data: {mp_id:mp_id},
            dataType:  'json',
            success: function(data){
                if(data.code == 1 ){
                    var msgs = data.data;
                    console.log(msgs);
                    var user = data.user;
                    console.log(user);
                    var str = '';
                    for (var i = 0; i <msgs.length; i++) {
                        if(msgs[i].postit == 'message-r'){
                            //消息是我的消息在右边
                            str +='<li class="myMsg li">\n' +
                                '                        <div class="layim-chat-user">\n' +
                                '                            <img class="m-img" src="'+user.avatar+'" alt="">\n' +
                                '                            <cite class="mycite">\n' +
                                '                                <i>'+msgs[i].xcx_msg_add_time+'</i>\n' +
                                '                                '+user.nickname+'\n' +
                                '                            </cite>\n' +
                                '                        </div>\n' +
                                '                        <div class="layim-chat-text">\n' +
                                '                            '+msgs[i].xcx_msg_content+'\n' +
                                '                        </div>\n' +
                                '                    </li>';
                        }else{
                            //消息是你的消息在左边
                            str +='<li class="u-msg li">\n' +
                                '                        <div class="user-div-l">\n' +
                                '                            <img src="'+user.uavatar+'" alt="">\n' +
                                '                            <cite class="ucite">\n' +
                                '                                <i>'+msgs[i].xcx_msg_add_time+'</i>\n' +
                                '                               '+user.unickname+'\n' +
                                '                            </cite>\n' +
                                '                        </div>\n' +
                                '                        <div class="ulayim-chat-text">\n' +
                                '                            '+msgs[i].xcx_msg_content+'\n' +
                                '\n' +
                                '                        </div>\n' +
                                '                    </li>';

                        }
                    }
                    $("#msglist").html(str);
                }else{

                }
            }
        });
    });
</script>
{include file="index/footer" /}