{include file="index/header" /}
<style>
    .red{
        color: red;
    }
</style>
<div class="layui-body" style="width: 97%;">
    <div class="layui-main" style="width: 97%;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>网站首页</legend>
        </fieldset>
        <section class="panel panel-padding" style="padding-top: 10px;padding-left: 10px;">
            <form class="layui-form layui-form-pane1" action="<?=url('index/oasearch')?>" method="post">
                <div class="layui-form-item  demoTable">
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 500px;" >
                            <input type="text" name="keywords" id="keywords"  placeholder="请输入地址/订单号/付款单号" style="width: 500px;" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-normal"  id="reload">OA全局查找</button>
                        </div>
                    </div>
                </div>
            </form>

            <form class="layui-form layui-form-pane1" action="<?=url('index/search')?>" method="post">
                <div class="layui-form-item  demoTable">
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 500px;" >
                            <input type="text" name="keywords" id="keyword"  placeholder="请输入地址/订单号/用户ID/付款单号/微信id/用户姓名" style="width: 500px;" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-normal"  id="reloads">CRM全局查找</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md3">
                    <div class="layui-card">
                        <a href="<?=url('order/order')?>">
                            <div class="layui-card-header">未安排的看房单</div>
                            <div class="layui-card-body">
                                <h2 class="red">{$kanfang}</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-card">
                        <a href="<?=url('order/order')?>">
                            <div class="layui-card-header">未安排的水电气网</div>
                            <div class="layui-card-body">
                                <h2 class="red">{$energy}</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-card">
                        <a href="<?=url('clean/export')?>">
                            <div class="layui-card-header">两天内要做的清洁检查</div>
                            <div class="layui-card-body">
                                <h2 class="red">{$clean}</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-card">
                        <a href="<?=url('house/wait')?>">
                            <div class="layui-card-header">待审房源</div>
                            <div class="layui-card-body">
                                <h2 class="red">{$house}</h2>
                            </div>
                        </a>
                    </div>
                </div>
<!--                <div class="layui-col-md3">-->
<!--                    <div class="layui-card">-->
<!--                        <a href="<?=url('index/asdf')?>">-->
<!--                            <div class="layui-card-header">asdasf</div>-->
<!--                            <div class="layui-card-body">-->
<!--&lt;!&ndash;                                <h2 class="red">{$house}</h2>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['element','jquery','layer'], function(){
        var element = layui.element,
            $ = layui.jquery,
            layer = layui.layer;
    });
</script>
{include file="index/footer" /}