{include file="index/header" /}
<div class="layui-body">
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" id="myForm">
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>所在城市</label>
                    <div class="layui-input-inline">
                        <select name="crm_city" lay-verify="required">
                            <option value="">请选择所在城市</option>
                            {volist name='city' id='vo'}
                            <option value="{$vo.crm_c_id}">{$vo.crm_city}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="crm_service_type" lay-verify="required" lay-filter="aihao">
                            <option value="">请选服务类别</option>
                            {volist name='service' id='vo'}
                            <option value="{$vo.crm_s_id}">{$vo.crm_type}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>客户编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="crm_user_bid"  value="{$custId}" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">客户姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="crm_user_name" placeholder="请输入客户姓名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">微信号</label>
                    <div class="layui-input-block">
                        <input type="text" name="crm_wechat" id="crm_wechat" onblur="checkWechat()"  placeholder="请输入微信号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">推荐人ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="crm_refer" id="crm_refer" placeholder="请输入推荐人微信号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        <input type="text" name="crm_phone"  placeholder="请输入手机号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>客户来源</label>
                    <div class="layui-input-inline">
                        <select name="crm_user_from" lay-verify="required" lay-filter="aihao" id="ba_admin">
                            <option value="">请选客户来源</option>
                            {volist name='userForm' id='vo'}
                            <option value="{$vo.fu_name}">{$vo.fu_name}</option>
                            {/volist}
                            <option value="0">其他</option>
                        </select>
                    </div>
                    <div style="display: none" id="addUser">
                        <div class="layui-input-inline">
                            <input type="text" id="values" placeholder="请输客户来源" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>租房区域</label>
                    <div class="layui-input-block">
                        <input type="text" name="crm_school" lay-verify="required" placeholder="请输入租房区域" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="crm_remarks"  placeholder="请输入备注名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="crm_sex" value="1" title="男">
                        <input type="radio" name="crm_sex" value="2" title="女">
                        <input type="radio" name="crm_sex" value="3" title="未知" checked="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">客户生日</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="crm_birthday" readonly id="test2" placeholder="请选择客户生日">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房源类型</label>
                    <div class="layui-input-inline">
                        <select name="crm_house_type" lay-verify="required">
                            <option value="">请选择房源类型</option>
                            {volist name='houseType' id='vo'}
                            <option value="{$vo.ht_id}">{$vo.ht_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span style="color: red;">*</span>基本需求</label>
                    <div class="layui-input-inline">
                        <select name="crm_room_type" lay-verify="required" lay-verify="required">
                            <option value="">请选户型</option>
                            {volist name='roomType' id='vo'}
                            <option value="{$vo.ht_id}">{$vo.ht_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="crm_live_time" id="monthly" readonly placeholder="请选择入住时间">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span style="color: red;">*</span>价格</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="crm_price_min" lay-verify="required">
                                <option value="">$最小值</option>
                                {volist name='priceRange' id='vo'}
                                <option value="{$vo.ht_name}">{$vo.ht_name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="crm_price_max" lay-verify="required">
                                <option value="">$最大值</option>
                                {volist name='priceRange' id='vo'}
                                <option value="{$vo.ht_name}">{$vo.ht_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">是否有车位</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="crm_car_site[1]" lay-skin="primary" title="有">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span style="color: red;">*</span>精细需求</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入租房需求" lay-verify="required" name="crm_need" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>客户状态</label>
                    <div class="layui-input-inline">
                        <select name="crm_user_status" lay-verify="required">
                            <option value="">请选择客户状态</option>
                            {volist name='userStatus' id='vo'}
                            <option value="{$vo.id}">{$vo.status_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>提醒时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required" name="alert_time" readonly id="alert" placeholder="请选择提醒时间">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span style="color: red;">*</span>提醒原因</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入提醒原因" lay-verify="required" name="alert_remark" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">是否星标</label>
                    <div class="layui-input-block">
                        <input type="radio" name="crm_is_star" value="2" title="常规" checked>
                        <input type="radio" name="crm_is_star" value="1" title="星标">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <span class="layui-btn" lay-submit lay-filter="saveInfo">发布</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate
            ,$ = layui.jquery;

        form.on('select(aihao)', function(data){
            var froms  = data.value;
            if(froms == 0 ){
                $('#addUser').show();
                $('#ba_admin').attr('name','');
                $('#values').attr('name','crm_user_from');
                layer.msg('如果你选择了其他，请把客户来源情况写在后面的输入框里！');
            }else{
                $('#ba_admin').attr('name','crm_user_from');
                $('#values').attr('name','');
                $('#addUser').hide();
            }
        });

        form.on('submit(saveInfo)', function(){
            $.ajax({
                type: 'POST',
                url: "<?=url('light/adduser')?>",
                data:$('#myForm').serialize(),
                dataType:  'json',
                success: function(data){
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    if(data.code > 0){
                        var user = data.data;
                        parent.$('#selectedUser').show();
                        var html = '<lable class="userss"><span style="margin-left: 15px;" class="layui-btn layui-btn-xs layui-btn-normal">'+user+'</span><i  class="close layui-icon"></i><input type="hidden" class="userid" name="cl_user_ids[]" lay-verify="userReq" value='+user+' /></lable>';
                        parent.$('#userList').append(html);
                        parent.layer.close(index);
                    }else{
                        layer.msg(data.msg);
                    }

                }
            });
        });

        //入住时间
        laydate.render({
            elem: '#monthly'
            ,trigger: 'click'
        });
        //客户生日
        laydate.render({
            elem: '#test2'
            ,trigger: 'click'
        });
        //alert
        laydate.render({
            elem: '#alert'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
            ,content: function(value){
                var cont=layedit.getContent(index); //获取编辑器内容
                if(cont.length <= 0){
                    return '请输入内容信息！';
                }
            }
        });
    });
    function checkWechat(){
        var crm_wechat=$('#crm_wechat').val();
        $.ajax({
            type:"post",
            url:"<?=url('crm/checkWechat')?>",
            dataType: 'json',
            data:{'crm_wechat':crm_wechat,'user_id':'0'},
            success:function (data) {
                console.log(data);
                if(data.code >1){
                    layer.msg(data.msg, {icon: 2, time: 1000});
                }else if(data.code <= 1){
                    layer.msg(data.msg, {icon: 1, time: 1000});
                }
            },
            error:function (error) {
                console.log(error);
            }
        })
    }
</script>
{include file="index/footer" /}