{include file="index/header" /}
<style>
    .layui-table-cell{
        height:86px !important;
        clear: both;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>租房订单</a>
        <a><cite>待结算订单</cite></a>
    </span>
</div>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this" onclick="switchOrder(0)">全部订单</li>
        <li onclick="switchOrder(5)">一站式</li>
        <li onclick="switchOrder(4)">闪电租房</li>
        <li onclick="switchOrder(6)">单次闪电</li>
        <li onclick="switchOrder(7)">学生公寓</li>
        <li onclick="switchOrder(8)">个人房源</li>
    </ul>
<section class="panel panel-padding" style="padding-top: 10px;padding-left: 10px;">
    <form class="layui-form layui-form-pane1">
        <div class="layui-form-item  demoTable">
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" name="keywords" id="keywords"  placeholder="请输入订单编号" class="layui-input">
                </div>
            </div>
<!--            <div class="layui-inline">-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="cc_pay_time" readonly class="layui-input" id="cc_pay_time" placeholder="请选择收押时间">-->
<!--                </div>-->
<!--            </div>-->
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 300px;">
                    <span class="layui-btn layui-btn-sm" data-type="reload">查询</span>
<!--                    <span class="layui-btn layui-btn-normal layui-btn-sm" id="export">导出</span>-->
                    <a href="<?=url('light/balance')?>" class="layui-btn layui-btn-warm layui-btn-sm">刷新</a>
                </div>
            </div>
        </div>
    </form>
</section>
<div class="layui-btn-group demoTable" style="margin-left: 15px;">
    <button class="layui-btn layui-btn-sm" data-type="getCheckData">结算</button>
</div>
<table class="layui-table" lay-filter="demo" lay-size="sm" lay-skin="line" lay-data="{height: 'full-200', page:true, url:'/admin/light/baData/', limit:20,limits:[20,30,50] ,id: 'testReload'}" >
    <thead>
    <tr>
        <th lay-data="{type:'checkbox', width:48}"></th>
        <th lay-data="{field:'cl_order_id', width:120}">订单编号</th>
        <th lay-data="{field:'cl_order_type', width:90}">订单类型</th>
        <th lay-data="{field:'cl_pay_types',templet: '#userIDS',width:160}">客户ID</th>
<!--        <th lay-data="{field:'cl_sl_deadline',templet: '#showTime',width:160}">待结算截止日期</th>-->
        <th lay-data="{field:'cl_pay_type',width:100}">付款方式</th>
        <th lay-data="{field:'cl_price',width:110}">收款金额（$）</th>
        <th lay-data="{field:'cl_pay_id',width:100}">付款id</th>
        <th lay-data="{field:'cl_is_pay',width:100}">是否结算</th>
<!--        <th lay-data="{field:'cl_orderStatus',width:100}">订单状态</th>-->
        <th lay-data="{field:'cl_admin_sale',width:80}">售前</th>
        <th lay-data="{width:280, toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>
</div>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="sex" lay-skin="switch" value="{{d.cl_id}}" lay-text="是|否" lay-filter="sexDemo" {{ d.cc_check == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="userIDS">
    {{# for(var i = 0;i < d.cl_user_ids.length;i++){ }}
    <span class="layui-badge layui-bg-gray">{{d.cl_user_ids[i]}}</span><br/>
    {{# } }}
</script>
<script type="text/html" id="showTime">
    {{#  if(d.orderColor === 'red'){ }}
    <span class="layui-badge">{{d.cl_sl_deadline}}</span>
    {{#  } else if(d.orderColor === 'orange') { }}
    <span class="layui-badge layui-bg-orange">{{d.cl_sl_deadline}}</span>
    {{#  } else if(d.orderColor === 'green') { }}
    <span class="layui-badge layui-bg-green">{{d.cl_sl_deadline}}</span>
    {{#  }else{ }}
    <span class="layui-badge layui-bg-gray">{{d.cl_sl_deadline}}</span>
    {{#  } }}
</script>
<input type="text" id="copy" style="z-index: -1;opacity: 0;">
<script type="text/html" id="barDemo">
    {{#  if(d.cl_order_status == 1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-xs  layui-btn-warm" lay-event="alert"><i class="layui-icon">&#xe637;</i>派单</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
    {{#  }else if(d.cl_order_status == 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="cancel"><i class="layui-icon">&#x1006;</i>取消</a>
    {{#  }else{ }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="details"><i class="layui-icon">&#xe705;</i>查看</a>
    {{#  } }}
</script>
<script>
    layui.use(['table','laydate','form','element'], function(){
        var table = layui.table
            ,form = layui.form
            ,element = layui.element
            ,laydate = layui.laydate;
        laydate.render({
            elem: '#cc_pay_time'
            ,range: true
        });
        var $ = layui.$, active = {
            reload: function(){
                var keywords = $('#keywords').val();
                var live_time = $('#cc_pay_time').val();
                //执行重载
                table.reload('testReload', {
                    url: '/admin/light/baData/'
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keywords: keywords,
                        live_time: live_time
                    },
                    success:function (data) {
                        console.log(data);
                    }
                });
            },
            getCheckData: function(){ //获取选中数据
                layer.confirm('确定批量结算订单？', {
                    btn : [ '确定', '取消' ]//按钮
                }, function() {
                    var ids = '';
                    var checkStatus = table.checkStatus('testReload')
                        ,data = checkStatus.data;
                    for(var i=0;i<data.length;i++){
                        ids+=','+checkStatus.data[i].cl_id;
                    }
                    $.ajax({
                        type: 'POST',
                        url: "<?=url('light/batchBalance')?>?ids="+ids,
                        data: {ids:ids},
                        dataType:  'json',
                        success: function(data){
                            if(data.code == '1'){
                                layer.alert('批量结算成功！', {
                                    icon: 1,
                                    skin: 'layer-ext-moon',
                                    time: 2000,
                                    end: function(){
                                        window.location.href='<?=url("light/balance")?>';
                                    }
                                });
                            }
                        }
                    });
                },function(){
                    layer.msg('您已取消该操作！',{
                        time: 2000,
                        end: function(){
                            window.location.href='<?=url("order/balance")?>';
                        }
                    });
                });
            }

        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var cl_id = data.cl_id;
            if(obj.event === 'details'){
                window.location.href='<?=url("light/detail")?>?cl_id='+cl_id;
            }
        });
    });
    $('#export').click(function () {
        var keywords = $('#keywords').val();
        var live_time = $('#cc_pay_time').val();
        window.location.href='<?=url("light/logout")?>?keywords='+keywords+'&status='+status+'&live_time='+live_time;
    });
    function addArt() {
        window.location.href='<?=url("light/add")?>';
    }
    function switchOrder(id) {
        layui.use(['table','jquery'], function(){
            var table = layui.table;
            table.reload('testReload', {
                url: '/admin/light/baData/'
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    step: id,
                },
                success:function (data) {
                    console.log(data);
                }
            });
        })
    }

</script>
{include file="index/footer" /}