{include file="index/header" /}
<style>
    .item_img{
        width: 120px;
        height: 105px;
        float: left;
        margin-top: 20px;
    }
    .logoPre{
        width: 216px;
        height: 150px;
    }
</style>
<div class="layui-body">
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form">
                <blockquote class="layui-elem-quote">
                    <legend style="color:red; font-weight: bolder;">
                        订单状态：{$light.cl_orderStatus}
                    </legend>
                </blockquote>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>售前需求</legend>
                </fieldset>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    售前工号：
                    {$light.cl_admin_sale}
                    <br><br>
                    订单编号：
                    {$light.cl_order_id}
                    <input type="hidden" value="{$light.cl_order_id}" id="cl_order_id"/>
                    <br><br>
                    客户编号：{if condition='$light.cl_user_ids neq null'}
                    {volist name='light.cl_user_idss' id="item" key="k"}
                    <a class="layui-badge layui-bg-blue" href="<?=url('crm/details')?>?user_bid={$item}">{$item}</a>
                    {/volist}
                    {/if}
                    <br><br>
                    付款时间：{$light.cl_pay_time}
                    <br><br>
                    付款金额：{$light.cl_price}
                    <br><br>
                    付款方式：{$light.cl_pay_type}
                    <br><br>
                    付款ID：{$light.cl_pay_id}
                    <br><br>
                    收款凭证：<div class="pic-more">
                    <ul class="pic-more-upload-list">
                        <div id="layer-photos-demo" class="layer-photos-demo">
                        {if condition='$light.cl_pay_img neq null'}
                        {volist name='light.cl_pay_imgs' id="item" key="k"}
                        <li class="item_img">
                                <img style="height: 80px;width:100px;" src="__PUBLIC__/{$item}" class="img" layer-src="__PUBLIC__/{$item}" >
                            <input type="hidden" name="cl_pay_img[]" value="{$item}" />
                        </li>
                        {/volist}
                        {else/}
                        未上传
                        {/if}
                        </div>
                    </ul>
                </div>
                    <br><br>
                    <br><br>
                    <br><br>
                    服务协议：{if condition='$light.cl_agreement neq null'}
                        <span id="showDoc" data-href="__PUBLIC__/{$light.cl_agreement}" class="layui-btn layui-btn-xs" >{if condition='$light.cl_agree_name neq null'}{$light.cl_agree_name}{else/}点击查看协议{/if}</span>
                    {/if}
                    <br><br>
                    售前备注：{$light.cl_remarks}
                </blockquote>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>租房顾问</legend>
                </fieldset>
                <br/>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    顾问工号：
                    {$light.cl_cl_admin}
                    <br><br>
                    接单时间：
                    {$light.cl_end_time}
                    <br><br>
                    转交时间：
                    {$light.cl_to_sale_time}
                    <br><br>
                    合同解读&签约订房：
                    {if condition="$light.cl_cl_agree_sign eq 1"} 是{else/}否{/if}
                    <br><br>
                    删除资料：
                    {if condition="$light.cl_cl_delete eq 1"} 是{else/}否{/if}
                    <br><br>
                    房源地址: {$light.cl_cl_house_address}
                    <br><br>
                    中介名称: {$light.cl_cl_inter}
                    <br><br>
                    顾问备注：{$light.cl_cl_remarks}
                </blockquote>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>售后服务</legend>
                </fieldset>
                <br/>
                <blockquote class="layui-elem-quote">
                    本页面子订单仅做展示，订单功能操作可前往：
                    <a class="layui-btn layui-btn-normal layui-btn-sm" href="<?=url('order/order')?>?keywords={$light.cl_order_id}">订单管理</a>
                </blockquote>
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                        <col width="200">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>订单类型</th>
                        <th>订单编号</th>
                        <th>订单状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if condition='$light.subOrder neq null'}
                    {volist name='light.subOrder' id='vo'}
                    <tr>
                        <td>{$vo.orderStep}</td>
                        <td>{$vo.order_id}</td>
                        <td>{$vo.order_statuss}</td>
                        <td>
                            <span class="layui-btn layui-btn-normal layui-btn-xs details" data-id="{$vo.crm_id}" data-step="{$vo.order_step}" data-status="{$vo.order_status}">查看</span>
                        </td>
                    </tr>
                    {/volist}
                    {/if}
                    {volist name='clean' id='vo'}
                    <tr>
                        <td>清洁检查</td>
                        <td>{$vo.cc_order_id}</td>
                        <td>---</td>
                        <td>
                            <span class="layui-btn layui-btn-normal layui-btn-xs" onclick="details({$vo.cc_id})">查看</span>
                            <a class="layui-btn layui-btn-xs"  href="<?=url('clean/index')?>?keywords={$light.cl_order_id}" >管理</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <br/>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    是否结算：
                    {if condition="$light.cl_is_pay eq 1"} 是{else/}否{/if}
                    <br><br>
                    结算操作员：{$light.cl_pay_admin}
                    <br><br>
                    结算时间: {$light.cl_fl_pay_time}
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    售后工号：
                    {$light.cl_sl_admin}
                    <br><br>
<!--                    结算截止时间：-->
<!--                    {$light.cl_sl_deadline}-->
<!--                    <br><br>-->
                    检查归档：
                    {if condition="$light.cl_sl_is_check eq 1"} 是{else/}否{/if}
                    <br><br>
                    要好评：
                    {if condition="$light.cl_sl_good_com eq 1"} 是{else/}否{/if}
                    <br><br>
                    回访发圈拉群:
                    {if condition="$light.cl_sl_is_review eq 1"} 是{else/}否{/if}
                    <br><br>
                    回访图片
                    <div class="layui-form-item" id="pics">
                        <div class="layui-input-block" style="width: 70%;">
                            <div class="layui-upload">
                                <div class="pic-more">

                                    <ul class="pic-more-upload-list" id="slide-pc-priview">
                                    <div id="layer-photos-demo1" class="layer-photos-demo">
                                        {if condition='$light.cl_sl_img neq null'}
                                        {volist name='light.cl_sl_imgs' id="item" key="k"}
                                        <li class="item_img">
                                            <img style="height: 80px;width:100px;" src="__PUBLIC__/{$item}" class="img" layer-src="__PUBLIC__/{$item}" >
                                            <input type="hidden" name="cl_sl_img[]" value="{$item}" />
                                        </li>
                                        {/volist}
                                        {else/}
                                        未上传
                                        {/if}
                                    </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    售后备注：{$light.cl_sl_remarks}
                </blockquote>
                {if condition='$light.cl_order_refund neq 0'}
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>退款记录</legend>
                </fieldset>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    退款单号：
                    {$refund.cr_refund_order}
                    <br><br>
                    退款金额：
                    {$refund.cr_price}
                    <br><br>
                    退款原因：
                    {$refund.cr_resaon}
                    <br><br>
                    退款时间：
                    {$refund.cr_refund_time}
                    <br><br>
                    退款凭证：
                    <image id="logoPre"
                           {if condition="$refund.cr_img eq null"}
                           {else/}
                    src="__PUBLIC__/{$refund.cr_img}"
                    class="logoPre"
                    {/if}
                    >
                    <br><br>
                    经手人：
                    {$refund.cr_admin}
                    <br><br>
                </blockquote>
                {/if}
                {if condition='$type neq 3'}
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a class="layui-btn" href="javascript:history.back(-1)">关闭</a>
                    </div>
                </div>
                {/if}
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','layer','laydate'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,laydate = layui.laydate
            ,layer = layui.layer
            ,$ = layui.jquery;
        layer.photos({
            photos: '#layer-photos-demo'
            ,anim: 5
        });
        layer.photos({
            photos: '#layer-photos-demo1'
            ,anim: 5
        });
        $('#showDoc').click(function () {
            var urls = $(this).attr('data-href');
            console.log(urls);
            layer.open({
                type: 2,
                title: '查看协议',
                shadeClose: true,
                shade: false,
                maxmin: true,
                area: ['80%', '80%'],
                content: urls
            });
        });
        $('.details').click(function () {
            var crm_id = $(this).attr('data-id');
            var step = $(this).attr('data-step');
            var status = $(this).attr('data-status');
            var url = '';
            if(status != 1){
                url = "<?=url('order/orderDet')?>?crm_id="+crm_id;
            }else{
                if(step == 1){
                    url = "<?=url('light/subdet1')?>?crm_id="+crm_id;
                }else if(step == 2){
                    url = "<?=url('light/subdet2')?>?crm_id="+crm_id;
                }else if(step == 3){
                    url = "<?=url('light/subdet3')?>?crm_id="+crm_id;
                }
            }
            layer.open({
                type: 2,
                title: '查看详情',
                shadeClose: true,
                shade: false,
                maxmin: true,
                area: ['80%', '80%'],
                content: url
            });
        });
    });
    function details(cc_id) {
        var href='<?=url("clean/details")?>?cc_id='+cc_id;
        layer.open({
            type: 2,
            title: '查看详情',
            shadeClose: true,
            shade: false,
            maxmin: true,
            area: ['80%', '80%'],
            content: href
        });
    }
</script>
{include file="index/footer" /}