{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
    .item_img{
        width: 120px;
        height: 105px;
        float: left;
        margin-top: 20px;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>租房订单</a>
        <a><cite>修改订单（顾问）</cite></a>
    </span>
    </div>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" id="myForm">
                <blockquote class="layui-elem-quote">
                    <legend style="color:red; font-weight: bolder;">
<!--                        材料申请日期：{$light.cl_end_time}-->
<!--                        <br/>-->
<!--                        <br/>-->
                        订单状态：{$light.cl_orderStatus}
                    </legend>
                </blockquote>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>售前需求</legend>
                </fieldset>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    售前工号：
                    {$light.cl_admin_sale}
                    <br><br>
                    订单编号：
                    {$light.cl_order_id}
                    <input type="hidden" value="{$light.cl_order_id}" id="cl_order_id"/>
                    <br><br>
                    客户编号：{if condition='$light.cl_user_ids neq null'}
                    {volist name='light.cl_user_idss' id="item" key="k"}
                    <a class="layui-badge layui-bg-blue" href="<?=url('crm/details')?>?user_bid={$item}">{$item}</a>
<!--                    <span class="layui-badge layui-bg-blue">{$item}</span>-->
                    {/volist}
                    {/if}
                    <br><br>
                    付款时间：{$light.cl_pay_time}
                    <br><br>
                    付款金额：{$light.cl_price}
                    <br><br>
                    付款方式：{$light.cl_pay_type}
                    <br><br>
                    付款ID：{$light.cl_pay_id}
                    <br><br>
                    收款凭证：
                    <div class="pic-more">
                        <ul class="pic-more-upload-list">
                            <div id="layer-photos-demo" class="layer-photos-demo">
                                {if condition='$light.cl_pay_img neq null'}
                                {volist name='light.cl_pay_imgs' id="item" key="k"}
                                <li class="item_img">
                                    <img style="height: 80px;width:100px;" src="__PUBLIC__/{$item}" class="img" layer-src="__PUBLIC__/{$item}" >
                                    <input type="hidden" name="cl_pay_img[]" value="{$item}" />
                                </li>
                                {/volist}
                                {else/}
                                未上传
                                {/if}
                            </div>
                        </ul>
                    </div>
                    <br><br>
                    <br><br>
                    <br><br>
                    服务协议：
                    {if condition='$light.cl_agreement neq null'}
                    <span id="showDoc" data-href="__PUBLIC__/{$light.cl_agreement}" class="layui-btn layui-btn-xs" >{if condition='$light.cl_agree_name neq null'}{$light.cl_agree_name}{else/}点击查看协议{/if}</span>
                    {/if}
                    <br><br>
                    售前备注：{$light.cl_remarks}
                </blockquote>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>租房顾问</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>接单日期</label>
                    <div class="layui-input-block">
                        <input type="text" name="cl_end_time" value="{$light.cl_end_time}" readonly class="layui-input">
                    </div>
                </div>

                <br/>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>合同解读&签约订房</label>
                    <div class="layui-input-block">
                        <input type="radio" name="cl_cl_agree_sign" lay-filter="confirm"  value="1" {if condition="$light.cl_cl_agree_sign eq 1"}checked{/if} title="是">
                        <input type="radio" name="cl_cl_agree_sign" lay-filter="confirm"  value="2" {if condition="$light.cl_cl_agree_sign eq 2"}checked{/if} title="否" >
                        <input type="hidden" value="{$light.cl_cl_agree_sign}"  id="cl_cl_agree_sign">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>删除资料</label>
                    <div class="layui-input-block">
                        <input type="radio" name="cl_cl_delete" lay-filter="delete"  value="1" {if condition="$light.cl_cl_delete eq 1"}checked{/if} title="是">
                        <input type="radio" name="cl_cl_delete" lay-filter="delete"  value="2" {if condition="$light.cl_cl_delete eq 2"}checked{/if} title="否" >
                        <input type="hidden" value="{$light.cl_cl_delete}"  id="cl_cl_delete">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房源地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="cl_cl_house_address" value="{$light.cl_cl_house_address}" placeholder="请输入房源地址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>中介名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="cl_cl_inter" placeholder="请输入中介名称" value="{$light.cl_cl_inter}" autocomplete="off" class="layui-input">
                    </div>
                </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">顾问备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入备注" name="cl_cl_remarks" class="layui-textarea">{$light.cl_cl_remarks}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <span class="layui-btn" lay-submit lay-filter="saves">提交</span>
                    <span class="layui-btn layui-btn-primary" lay-submit lay-filter="saveInfo">保存</span>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<script>
    layui.use(['form', 'jquery','upload','layer','laydate'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,laydate = layui.laydate
            ,layer = layui.layer
            ,$ = layui.jquery;
        layer.photos({
            photos: '#layer-photos-demo'
            ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
        laydate.render({
            elem: '#alert'
            ,type: 'date'
            ,trigger: 'click'
        });
        laydate.render({
            elem: '#deadline'
            ,type: 'date'
            ,trigger: 'click'
        });
        //提交更新状态
        form.on('submit(saves)', function(){
            layer.confirm('提交后不能修改哦~~，确定提交吗？', {
                btn : [ '提交', '取消' ]//按钮
            }, function() {
                var cl_id = {$light.cl_id};
                $.ajax({
                    type: 'POST',
                    url: "<?=url('light/edit1')?>?cl_id="+cl_id,
                    data:$('#myForm').serialize(),
                    dataType:  'json',
                    success: function(data){
                        if(data.code == 1){
                            layer.msg(data.msg);
                            window.location.href='<?=url("light/guwen")?>';
                        }else{
                            layer.msg(data.msg);
                        }
                    }
                });
            },function(){
                layer.msg('您已取消该操作！',{
                    time: 2000
                });
            });
        });
        //保存不更新状态
        form.on('submit(saveInfo)', function(){
            console.log(132);
            var cl_id = {$light.cl_id};
            $.ajax({
                type: 'POST',
                url: "<?=url('light/edit1')?>?cl_id="+cl_id+"&type=1",
                data:$('#myForm').serialize(),
                dataType:  'json',
                success: function(data){
                    if(data.code == 1){
                        layer.msg(data.msg);
                        window.location.href='<?=url("light/guwen")?>';
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
        });
        //文件
        upload.render({
            elem: '#test3'
            ,url: '{:url("admin/light/upload")}'
            ,exts: 'PDF|XLS|XLSX,'
            ,size: '100000'
            ,done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                console.log(res);
                $('#docUrl').val('' +res.filepath + '');
            }
        });
        //图片上传
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("light/upload")}'
            ,size:600 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#cl_pay_img').val('');
                console.log(res);
                console.log(res.filepath);
                layer.close(loading);
                $('#cl_pay_img').val(res.filepath);
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLIC__/"+res.filepath);
                $('#display').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
        form.on('radio(confirm)', function (data) {
            var need = data.value;
            if(need == 1){
                $('#cl_cl_agree_sign').val('1');
                layer.msg('请检查合同解读&签约订房是否已完成');
            }else{
                $('#cl_cl_agree_sign').val('2');
                layer.msg('请检查合同解读&签约订房是否已完成');
            }
        });
        form.on('radio(delete)', function (data) {
            var need = data.value;
            if(need == 1){
                $('#cl_cl_delete').val('1');
                layer.msg('请检查客户资料是否已删除');
            }else{
                $('#cl_cl_delete').val('2');
                layer.msg('请检查客户资料是否已删除');
            }
        });
        $('#showDoc').click(function () {
            var urls = $(this).attr('data-href');
            layer.open({
                type: 2,
                title: '查看协议',
                shadeClose: true,
                shade: false,
                maxmin: true,
                area: ['80%', '80%'],
                content: urls
            });
        });
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            },radioreq:function (value) {
                var need = $("#cl_cl_agree_sign").val();
                if(need  != 1){
                    return '请检查合同解读&签约订房是否已经确认';
                }
            },delreq:function (value) {
                var need = $("#cl_cl_delete").val();
                if(need  != 1){
                    return '请检查资料是否已删除';
                }
            }
        });
        $('#createSub').click(function () {
            var orderId = $('#cl_order_id').val();
            var cl_id = {$light.cl_id};
            console.log(cl_id);
            layer.open({
                type: 2,
                title: '【闪电租房】'+orderId+'创建子订单',
                shadeClose: true,
                shade: false,
                maxmin: true,
                area: ['80%', '80%'],
                content: "<?=url('light/addsub1')?>?cl_id="+cl_id
            });
        });
    });
    $("body").on("click",".close",function(){
        $(this).parents(".userss").remove();
    });
</script>
{include file="index/footer" /}