{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }.item_img{
         width: 120px;
         height: 105px;
         float: left;
         margin-top: 20px;
     }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>租房订单</a>
        <a><cite>修改订单（售前）</cite></a>
    </span>
    </div>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" action="<?=url('light/edit')?>?cl_id={$light.cl_id}" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>订单编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="cl_order_id" lay-verify="required|title" placeholder="请输入订单编号" value="{$light.cl_order_id}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">搜索客户</label>
                    <div class="layui-input-inline">
                        <select name="modules" id="users" lay-search="">
                            <option value="">直接选择客户编号</option>
                            {volist name='user' id='vo'}
                            <option value="{$vo.crm_user_bid}">{$vo.crm_user_bid}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline" style="display: none">
                        <select name="modules" id="user2" lay-search="">
                            <option value="">直接选择客户编号</option>
                            {volist name='user' id='vo'}
                            <option value="{$vo.crm_user_bid}">{$vo.crm_user_bid}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <span class="layui-btn layui-btn-sm" id="addUser">添加客户</span>
                        <span class="layui-btn layui-btn-sm" id="addOrderUser">添加订单客户</span>
                    </div>
                </div>
                <div class="layui-form-item" id="selectedUser">
                    <label class="layui-form-label">已选客户</label>
                    <div class="layui-input-block" id="userList">
                        {if condition='$light.cl_user_ids neq null'}
                            {volist name='light.cl_user_idss' id="item" key="k"}
                            <lable class="userss">
<!--                                <span style="margin-left: 15px;" class="layui-btn layui-btn-xs layui-btn-normal">{$item}</span>-->
                                <a class="layui-badge layui-bg-blue" href="<?=url('crm/details')?>?user_bid={$item}">{$item}</a>
                                <i class="close layui-icon"></i>
                                <input type="hidden" class="{if condition='$light.cl_user_ids neq null' }userid{/if}" name="cl_user_ids[]" value='{$item}' />
                            </lable>
                            {/volist}
                        {/if}
                    </div>
                    <input type="hidden" id="userids" lay-verify="userReq">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">推荐人IDS</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$light.cl_refer_ids}" id="cl_refer_ids" name="cl_refer_ids" readonly placeholder="推荐人IDS在选择客户后自动填充！不可修改" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>付款时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required"  name="cl_pay_time" readonly id="alert" value="{$light.cl_pay_time}" placeholder="请选择付款时间">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">时间为澳洲时间。</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">付款方式</label>
                    <div class="layui-input-inline">
                        <select name="cl_pay_type" lay-filter="cl_pay_type">
                            <option value="">请选择客户付款方式</option>
                            <option value="1" {if condition="$light.cl_pay_type eq 1"} selected{/if}>淘宝</option>
                            <option value="2" {if condition="$light.cl_pay_type eq 2"} selected{/if}>转账</option>
                            <option value="3" {if condition="$light.cl_pay_type eq 3"} selected{/if}>汇款</option>
                        </select>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">客户付给我们的钱的付款方式</div>
                </div>
                <div class="layui-form-item" pane  id="order_price">
                    <label class="layui-form-label"><span style="color: red;">*</span>付款金额</label>
                    <div class="layui-input-inline">
                        <input type="number" value="{$light.cl_price}" class="layui-input" lay-verify="required"  name="cl_price" id="cl_price" placeholder="{if condition="$light.cl_pay_type eq 1"}￥{else/}${/if}">
                    </div>
                    <div class="layui-form-mid layui-word-aux" id="price_unit" style="color:red !important;">单位：{if condition="$light.cl_pay_type eq 1"}人民币（￥）{else/}澳币（$）{/if}</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">付款ID</label>
                    <div class="layui-input-inline">
                        <input type="text" value="{$light.cl_pay_id}" class="layui-input" name="cl_pay_id" placeholder="请输入付款ID，如淘宝订单号">
                    </div>
                </div>

                <div class="layui-form-item" id="pics">
                    <div class="layui-form-label">收款凭证</div>
                    <div class="layui-input-block" style="width: 70%;">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal pull-left" id="slide-pc">选择多图</button>
                            <div class="pic-more">
                                <ul class="pic-more-upload-list" id="slide-pc-priview">
                                    <div id="layer-photos-demo1" class="layer-photos-demo">
                                    {if condition='$light.cl_pay_img neq null'}
                                    {volist name='light.cl_pay_imgs' id="item" key="k"}
                                    <li class="item_img">
                                        <div class="operate">
                                            <i  class="close layui-icon"></i>
                                        </div>
                                        <img style="height: 80px;width:100px;" src="__PUBLIC__/{$item}" class="img"  layer-src="__PUBLIC__/{$item}" >
                                        <input type="hidden" name="cl_pay_img[]" value="{$item}" />
                                    </li>
                                    {/volist}
                                    {else/}
                                    未上传
                                    {/if}
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;font-weight: bolder">图片单个不大于2M！图片格式限于jpg|png|jpeg。</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">服务协议</label>
                    {if condition='$light.cl_agreement neq null'}
                    <div class="layui-input-inline">
                        <span id="showDoc" data-href="__PUBLIC__/{$light.cl_agreement}" class="layui-btn layui-btn-xs" >{if condition='$light.cl_agree_name neq null'}{$light.cl_agree_name}{else/}点击查看协议{/if}</span>
                    </div>
                    {/if}
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>更新服务协议</button>
                    </div>
                    <div class="layui-input-inline">
                        <input id="docUrl" type="hidden" name="cl_agreement" value="{$light.cl_agreement}" class="layui-input" readonly/>
                        <input id="docName" type="hidden" name="cl_agree_name" value="{$light.cl_agree_name}" class="layui-input" readonly/>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;font-weight: bolder">服务协议仅限于PDF|XLS|XLSX</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>接单日期</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required"  name="cl_end_time" readonly id="deadline" value="{$light.cl_end_time}" placeholder="请选择时间">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">时间为澳洲时间。</div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">任务备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入任务备注" name="cl_remarks" class="layui-textarea">{$light.cl_remarks}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="saveInfo">修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','layer','laydate'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,laydate = layui.laydate
            ,layer = layui.layer
            ,$ = layui.jquery;
        layer.photos({
            photos: '#layer-photos-demo1'
            ,anim: 5
        });
        form.on('select(cl_pay_type)', function(data){
            var type = data.value;
            if(type == 1){
                $('#cl_price').attr('placeholder','￥');
                $('#cl_price').val('');
                $('#price_unit').html('单位：人民币（￥）');
            }else{
                $('#cl_price').attr('placeholder','$');
                $('#cl_price').val('');
                $('#price_unit').html('单位：澳币（$）');
            }
        });
        //alert
        laydate.render({
            elem: '#alert'
            ,type: 'date'
            ,trigger: 'click'
        });
        laydate.render({
            elem: '#deadline'
            ,type: 'date'
            ,trigger: 'click'
        });
        $('#addOrderUser').click(function () {
            layer.open({
                type: 2,
                title: '创建订单用户',
                shadeClose: true,
                shade: false,
                maxmin: true,
                area: ['80%', '80%'],
                content: "<?=url('light/adduser')?>"
            });
        });
        $('#showDoc').click(function () {
            var urls = $(this).attr('data-href');
            layer.open({
                type: 2,
                title: '查看协议',
                shadeClose: true,
                shade: false,
                maxmin: true,
                area: ['80%', '80%'],
                content: urls
            });
        });

        //文件
        upload.render({
            elem: '#test3'
            ,url: '{:url("admin/light/uploadfile")}'
            ,exts: 'PDF|XLS|XLSX,'
            ,size: '100000'
            ,done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                console.log(res);
                $('#showDoc').attr('data-href','__PUBLIC__/'+res.filepath);
                $('#showDoc').html(res.name);
                $('#docUrl').val('' +res.filepath + '');
                $('#docName').val('' +res.name + '');
            }
        });

        //图片
        upload.render({
            elem: '#slide-pc',
            url: '{:url("light/upload")}',
            size: 3000,
            exts: 'jpg|png|jpeg',
            multiple: true,
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res) {
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                console.log(res);
                $('#slide-pc-priview').append('' +
                    '<li class="item_img"><div class="operate"><i  class="close layui-icon"></i></div><img style="height: 80px;width:100px;" src="__PUBLIC__/' + res.filepath + '" class="img" ><input type="hidden" name="cl_pay_img[]" value="' + res.filepath + '" /></li>');
            }
        });
        form.on('radio(confirm)', function (data) {
            var need = data.value;
            if(need == 1){
                $('#cl_need_confirm').val('1');
                layer.msg('请检查客户的需求是否已经确认');
            }else{
                $('#cl_need_confirm').val('2');
                layer.msg('请检查客户的需求是否已经确认');
            }
        });
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            },radioreq:function (value) {
                var need = $("#cl_need_confirm").val();
                if(need  != 1){
                    return '请检查客户的需求是否已经确认';
                }
            },userReq:function (value) {
                var need = $(".userid").length;
                if(need  <= 0){
                    return '请至少添加一个客户！';
                }
            }
        });
        $('#addUser').click(function () {
            var user = $('#users').val();
            if(!user){
                layer.alert('请至少选择一个客户', {
                    skin: 'layui-layer-molv'
                    ,closeBtn: 0
                });
            }else{
                $('#selectedUser').show();
                var html = '<lable class="userss"><span style="margin-left: 15px;" class="layui-btn layui-btn-xs layui-btn-normal">'+user+'</span><i  class="close layui-icon"></i><input type="hidden" class="userid"  name="cl_user_ids[]" value='+user+' /></lable>';
                $('#userList').append(html);
                $("#users").empty();
                var option = $('#user2').html();
                $("#users").append(option);
                form.render("select");
            }
        });
    });
    $("body").on("click",".close",function(){
        $(this).parents(".userss").remove();
    });
</script>
{include file="index/footer" /}