{include file="index/header" /}
<style>
    .layui-table-cell{
        height:86px !important;
        /*line-height:86px !important;*/
        clear: both;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>一站式</a>
        <a><cite>订单列表（售前）</cite></a>
    </span>
    <div style="float:right;">
        <button class="layui-btn layui-btn-primary layui-btn-sm"  onclick="addArt()"><i class="layui-icon"></i>创建订单</button>
    </div>
</div>
<section class="panel panel-padding" style="padding-top: 10px;padding-left: 10px;">
    <form class="layui-form layui-form-pane1">
        <div class="layui-form-item  demoTable">
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" name="keywords" id="keywords"  placeholder="请输入订单编号" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select name="cl_order_type" id="cl_order_type">
                        <option value="">请选择订单状态</option>
                        {volist name='status' id='vo'}
                        <option value="{$key}">{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select name="cl_cl_admin" id="cl_cl_admin" lay-search="">
                        <option value="">输入或选择顾问</option>
                        {volist name='guwen' id='vo'}
                        <option value="{$vo.ad_id}">{$vo.ad_realname}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="cc_pay_time" readonly class="layui-input" id="cc_pay_time" placeholder="添加时间">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 300px;">
                    <span class="layui-btn layui-btn-sm" data-type="reload">查询</span>
                                        <span class="layui-btn layui-btn-normal layui-btn-sm" id="export">导出</span>
                    <a href="<?=url('light/onestep')?>" class="layui-btn layui-btn-warm layui-btn-sm">刷新</a>
                </div>
            </div>
        </div>
    </form>
</section>
<table class="layui-table" lay-filter="demo" lay-size="sm" lay-skin="line" lay-data="{height: 'full-170', page:true, url:'/admin/light/indexData/', where:{step: 5},limit:20,limits:[20,30,50] ,id: 'testReload'}" >
    <thead>
    <tr>
        <th lay-data="{field:'cl_order_id', width:120, sort: true}">订单编号</th>
        <th lay-data="{field:'cl_order_type', width:80}">订单类型</th>
        <th lay-data="{field:'cl_pay_types',templet: '#userIDS',width:150}">客户ID</th>
        <th lay-data="{field:'cl_pay_type',width:80}">付款方式</th>
        <th lay-data="{field:'cl_price',width:150}">收款金额</th>
        <th lay-data="{field:'cl_pay_id',width:100}">付款id</th>
        <th lay-data="{field:'cl_cl_admin',width:80}">顾问</th>
        <th lay-data="{field:'cl_order_refund',width:80}">是否退款</th>
        <th lay-data="{field:'cl_orderStatus',width:80}">订单状态</th>
        <th lay-data="{field:'cl_admin_sale',width:80}">售前</th>
        <th lay-data="{field:'cl_add_time',templet: '#showTime', width:110, sort: true}">添加时间</th>
        <th lay-data="{width:280, toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="sex" lay-skin="switch" value="{{d.cl_id}}" lay-text="是|否" lay-filter="sexDemo" {{ d.cc_check == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="userIDS">
    {{# for(var i = 0;i < d.cl_user_ids.length;i++){ }}
    <span class="layui-badge layui-bg-gray">{{d.cl_user_ids[i]}}</span><br/>
    {{# } }}
</script>
<script type="text/html" id="showTime">
    <span class="layui-badge layui-bg-gray">{{d.cl_add_time}}</span>
</script>
<input type="text" id="copy" style="z-index: -1;opacity: 0;">
<script type="text/html" id="barDemo">
    {{#  if(d.cl_order_status == 1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-xs  layui-btn-warm" lay-event="alert"><i class="layui-icon">&#xe637;</i>派单</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
    {{#  }else if(d.cl_order_status == 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="cancel"><i class="layui-icon">&#x1006;</i>取消</a>
    {{#  }else{ }}
    {{#  } }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="details"><i class="layui-icon">&#xe705;</i>查看</a>
</script>
<script>
    layui.use(['table','laydate','form','element'], function(){
        var table = layui.table
            ,form = layui.form
            ,element = layui.element
            ,laydate = layui.laydate;
        laydate.render({
            elem: '#cc_pay_time'
            ,range: true
        });
        var $ = layui.$, active = {
            reload: function(){
                var keywords = $('#keywords').val();
                var live_time = $('#cc_pay_time').val();
                var cl_order_type = $('#cl_order_type').val();
                var cl_cl_admin = $('#cl_cl_admin').val();
                //执行重载
                table.reload('testReload', {
                    url: '/admin/light/indexData/'
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keywords: keywords,
                        cl_order_type: cl_order_type,
                        cl_cl_admin: cl_cl_admin,
                        live_time: live_time
                    },
                    success:function (data) {
                        console.log(data);
                    }
                });
            }

        };
        //监听是否开启操作
        form.on('switch(sexDemo)', function(obj){
            console.log(obj);
            var id = this.value;
            //如果选中状态是true,后台数据将要改为显示
            var change = obj.elem.checked;
            if(change){
                change = 1;
            }else{
                change = 2;
            }
            $.ajax({
                type: 'get',
                url: "<?=url('light/check')?>?cc_id="+id+ "&change="+change,
                dataType:  'json',
                success: function(data){
                    console.log(data);
                    layer.msg(data.msg);
                }
            });
        });

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var cl_id = data.cl_id;
            if(obj.event === 'edit'){
                window.location.href='<?=url("light/edit")?>?cl_id='+cl_id;
            }else if(obj.event === 'alert'){
                var text = '__ROOTDOMAIM__/oa/light/index?cl_id='+cl_id;
                $('#copy').val(text);
                $('#copy').select();
                document.execCommand("Copy");
                layer.msg('复制成功，快去分享给租房顾问吧！');
            }else if(obj.event === 'details'){
                window.location.href='<?=url("light/detail")?>?cl_id='+cl_id;
            }else if(obj.event === 'cancel'){
                layer.confirm('租房顾问是否与您达成共识取消此订单分配？', {
                    btn : [ '是', '否' ]//按钮
                }, function() {
                    $.ajax({
                        'type':"get",
                        'url':"<?=url('light/cancel')?>",
                        'data':{cl_id:cl_id},
                        'success':function (result) {
                            if(result.code < 1){
                                layer.msg(result.msg);
                            }else {
                                layer.msg(result.msg);
                                layer.open({
                                    title: '信息'
                                    ,content: result.msg
                                    ,yes: function(index){
                                        layer.close(index);
                                        window.location.href='<?=url("light/onestep")?>';
                                    }
                                    ,cancel:function (index) {
                                        layer.close(index);
                                        window.location.href='<?=url("light/onestep")?>';
                                    }
                                });
                            }
                        },
                        'error':function () {
                            console.log('error');
                        }
                    })
                },function(){
                    layer.msg('您已取消该操作！',{
                        time: 2000
                    });
                });
            } else if(obj.event === 'del'){
                layer.confirm('确定删除该记录？删除后不可恢复！', {
                    btn : [ '确定', '取消' ]//按钮
                }, function() {
                    $.ajax({
                        'type':"get",
                        'url':"<?=url('light/del')?>",
                        'data':{cl_id:cl_id},
                        'success':function (result) {
                            if(result.code < 1){
                                layer.msg(result.msg);
                            }else {
                                layer.msg(result.msg);
                                layer.open({
                                    title: '信息'
                                    ,content: result.msg
                                    ,yes: function(index){
                                        layer.close(index);
                                        window.location.href='<?=url("light/onestep")?>';
                                    }
                                    ,cancel:function (index) {
                                        layer.close(index);
                                        window.location.href='<?=url("light/onestep")?>';
                                    }
                                });
                            }
                        },
                        'error':function () {
                            console.log('error');
                        }
                    })
                },function(){
                    layer.msg('您已取消该操作！',{
                        time: 2000
                    });
                });
            }
        });
    });
    $('#export').click(function () {
        var keywords = $('#keywords').val();
        var live_time = $('#cc_pay_time').val();
        var cl_order_type = $('#cl_order_type').val();
        var cl_cl_admin = $('#cl_cl_admin').val();
        window.location.href='<?=url("export/light")?>?keywords='+keywords+'&step=5&live_time='+live_time+'&cl_order_type='+cl_order_type+'&cl_cl_admin='+cl_cl_admin;
    });
    function addArt() {
        window.location.href='<?=url("light/add")?>?step=5';
    }
    function switchOrder(id) {
        layui.use(['table','jquery'], function(){
            var table = layui.table;
            table.reload('testReload', {
                url: '/admin/light/orderData/'
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    step: id,
                },
                success:function (data) {
                    console.log(data);
                }
            });
        })
    }

</script>
{include file="index/footer" /}