{include file="index/header" /}
<style>
    .logoPre{
        width: 216px;
        height: 150px;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>闪电租房</a>
        <a><cite>发起退款</cite></a>
    </span>
    </div>
    <hr/>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" id="myForm">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>退款单号</label>
                    <div class="layui-input-block">
                        <input type="text" name="cr_refund_order" value="{$refund.cr_refund_order}" lay-verify="required|title" placeholder="请输入退款单号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">退款金额</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" value="{$refund.cr_price}" name="cr_price" placeholder="$">
                        <input type="hidden" class="layui-input" value="{$refund.cr_id}" name="cr_id">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">客户付给我们的钱</div>
                </div>
                <div class="layui-form-item one-pan">
                    <label class="layui-form-label"><span style="color: red;">*</span>退款凭证</label>

                    <div {if condition="$refund.cr_img eq null"}class="layui-upload-drag"{/if} id="uploadLogo" style="display:inline-block;" >
                    <image id="logoPre"
                           {if condition="$refund.cr_img eq null"}
                           {else/}
                    src="__PUBLIC__/{$refund.cr_img}"
                    class="logoPre"
                    {/if}
                    >
                    <input type="hidden" lay-verify="imgReg" name="cr_img" id="cr_img" value="{$refund.cr_img}"/>
                    </image>
                    {if condition="$refund.cr_img eq null"}
                    <div id="display">
                        <i class="layui-icon"></i>
                        <p>请点击此处上传封面图片</p>
                    </div>
                    {/if}
                </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">退款原因</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入退款原因" name="cr_resaon" class="layui-textarea">{$refund.cr_resaon}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <span class="layui-btn" lay-submit id="saveInfo">更新</span>
                        <a class="layui-btn layui-btn-primary" href="<?=url('light/sale')?>">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','laydate'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,laydate = layui.laydate
            ,$ = layui.jquery;
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("light/upload")}'
            ,size:600 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#cr_img').val('');
                console.log(res);
                console.log(res.filepath);
                layer.close(loading);
                $('#cr_img').val(res.filepath);
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLIC__/"+res.filepath);
                $('#display').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });

        $('#saveInfo').click(function () {
            console.log(123321);
            $.ajax({
                type:'post',
                url:'/admin/light/refunds',
                data:$("#myForm").serialize(),
                success:function (data) {
                    if(data.code == 1){
                        layer.alert('更新成功', {
                            icon: 1,
                            skin: 'layer-ext-moon',
                            time: 2000,
                            end: function(){
                                window.location.href="<?=url('light/sale')?>";
                            }
                        });
                    }else{
                        layer.alert('更新失败', {
                            icon: 1,
                            skin: 'layer-ext-moon',
                            time: 2000,
                            end: function(){
                                window.location.href="<?=url('light/sale')?>";
                            }
                        });
                    }
                },
                error:function (data) {
                    console.log(data)
                }
            })
        });

        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
        });
    });
</script>
{include file="index/footer" /}