{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
     .layui-upload-img { width: 90px; height: 90px; margin: 0; }
    .pic-more { width:100%; left; margin: 10px 0px 0px 0px;}
    .pic-more li { width:300px; float: left; margin-right: 5px;margin-top: 10px;}
    .pic-more li .layui-input { display: initial; }
    .pic-more li a { position: absolute; top: 0; display: block; }
    #slide-pc-priview .item_img img{ width:277px; height: 177px}
    #slide-pc-priview li{position: relative;}
    #slide-pc-priview li .operate{ color: #000; display: none;}
    #slide-pc-priview li .toleft{ position: absolute;top: 40px; left: 1px; cursor:pointer;}
    #slide-pc-priview li .toright{ position: absolute;top: 40px; right: 1px;cursor:pointer;}
    #slide-pc-priview li .close{position: absolute;top: 5px; right: 5px;cursor:pointer;}
    #slide-pc-priview li:hover .operate{ display: block;}
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
       <a>房源管理</a>
        <a href="<?=url('house/index')?>">房源列表</a>
        <a><cite>发布房源</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('house/index')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
<div style="margin: 10px">
    <div style="padding: 15px;">
        <form class="layui-form" action="<?=url('house/add')?>" method="post">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>基础信息</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>房源名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="required|title" placeholder="请输入房源名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>房源链接</label>
                <div class="layui-input-block">
                    <input type="text" name="http" lay-verify="required|title" placeholder="请输入房源链接" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>租金</label>
                <div class="layui-input-block">
                    <input type="text" name="price" lay-verify="required|title" placeholder="请输入租金" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>地址</label>
                <div class="layui-input-block">
                    <input type="text" name="address" id="address" lay-verify="required|title" placeholder="请输入地址" autocomplete="on" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学生公寓</label>
                <div class="layui-input-block">
                    <select name="studentapartment" lay-verify="required">
                        <option value="">请选择学生公寓</option>
                        {volist name='apartemnt' id='vo'}
                        <option value="{$vo.title}">{$vo.title}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>基础信息</label>
                <div class="layui-input-inline">
                    <select name="city" lay-verify="required" lay-filter="bu_p_id">
                        <option value="">请选择城市</option>
                        {volist name='city' id='vo'}
                        <option value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="school" lay-verify="required" id="school">
                        <option value="">请选择校区</option>
                    </select>
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>租约相关</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>入住时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="live_date" id="date" lay-verify="date" lay-verify="required" placeholder="请选择入住时间" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">时间为澳洲时间</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>房屋来源</label>
                <div class="layui-input-block">
                    <input type="radio" name="source" value="中介" title="中介" checked>
                    <input type="radio" name="source" value="个人" title="个人">
                    <input type="radio" name="source" value="学生公寓" title="学生公寓">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>出租方式</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" value="整租" title="整租" checked>
                    <input type="radio" name="type" value="单间" title="单间">
                    <input type="radio" name="type" value="厅卧" title="厅卧">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>性别限制</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男女不限" title="男女不限" checked>
                    <input type="radio" name="sex" value="限男性" title="限男性">
                    <input type="radio" name="sex" value="限女性" title="限女性">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>宠物</label>
                <div class="layui-input-block">
                    <input type="radio" name="pet" value="接受" title="接受" checked>
                    <input type="radio" name="pet" value="不接受" title="不接受">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">Bill相关</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="bill[包水]" lay-skin="primary" title="包水">
                    <input type="checkbox" name="bill[包电]" lay-skin="primary" title="包电">
                    <input type="checkbox" name="bill[包煤气]" lay-skin="primary" title="包煤气">
                    <input type="checkbox" name="bill[包网]" lay-skin="primary" title="包网">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">租期</label>
                <div class="layui-input-block">
                    <input type="radio" name="lease_term" value="少于3个月" title="少于3个月" checked>
                    <input type="radio" name="lease_term" value="3-6个月" title="3-6个月">
                    <input type="radio" name="lease_term" value="6-12个月" title="6-12个月">
                    <input type="radio" name="lease_term" value="租期可议" title="租期可议">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>房屋相关</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>房屋类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="house_type" value="公寓" title="公寓" checked>
                    <input type="radio" name="house_type" value="别墅" title="别墅">
                    <input type="radio" name="house_type" value="其他" title="其他">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>户型</label>
                <div class="layui-input-block">
                    <input type="radio" name="house_room" value="一室" title="一室" checked>
                    <input type="radio" name="house_room" value="两室" title="两室">
                    <input type="radio" name="house_room" value="三室" title="三室">
                    <input type="radio" name="house_room" value="三室以上" title="三室以上">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>卫生间</label>
                <div class="layui-input-block">
                    <input type="radio" name="toilet" value="1个" title="1个" checked>
                    <input type="radio" name="toilet" value="2个" title="2个">
                    <input type="radio" name="toilet" value="3个" title="3个">
                    <input type="radio" name="toilet" value="3个以上" title="3个以上">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>家具</label>
                <div class="layui-input-block">
                    <input type="radio" name="furniture" value="包家具" title="包家具" checked>
                    <input type="radio" name="furniture" value="不包家具" title="不包家具">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>车位</label>
                <div class="layui-input-block">
                    <input type="radio" name="car" value="0个" title="0个" checked>
                    <input type="radio" name="car" value="1个" title="1个">
                    <input type="radio" name="car" value="2个" title="2个">
                    <input type="radio" name="car" value="3个" title="3个">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">设施</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="home[游泳池]" lay-skin="primary" title="游泳池">
                    <input type="checkbox" name="home[健身房]" lay-skin="primary" title="健身房">
                    <input type="checkbox" name="home[车位]" lay-skin="primary" title="车位">
                </div>
            </div>

            <div class="layui-form-item" pane="">
                <label class="layui-form-label">交通</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="sation[巴士站]" lay-skin="primary" title="巴士站">
                    <input type="checkbox" name="sation[火车站]" lay-skin="primary" title="火车站">
                    <input type="checkbox" name="sation[电车站]" lay-skin="primary" title="电车站">
                    <input type="checkbox" name="sation[免费电车]" lay-skin="primary" title="免费电车">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>联系方式</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="real_name" lay-verify="required|title" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>电话</label>
                <div class="layui-input-block">
                    <input type="text" name="tel" lay-verify="required|phone" placeholder="请输入电话" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>微信号</label>
                <div class="layui-input-block">
                    <input type="text" name="wchat" lay-verify="required|title" placeholder="请输入微信号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>图片和视频</legend>
            </fieldset>
            <div class="layui-form-item" id="pics">
                <div class="layui-form-label">房源图片</div>
                <div class="layui-input-block" style="width: 70%;">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn pull-left" id="slide-pc">选择多图</button>
                        <div class="pic-more">
                            <ul class="pic-more-upload-list" id="slide-pc-priview">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux">请上传1-8张图片，默认第一个为封面图。</div>
            </div>
            <div class="layui-form-item one-pan">
                <label class="layui-form-label">房源视频</label>
                <div class="layui-upload-drag" id="uploadLogo">
                    <video id="logoPre">
                        <input type="hidden" name="video" id="video" value=""/>
                    </video>
                    <div id="display">
                        <i class="layui-icon"></i>
                        <p>请点击此处上传房源视频</p>
                    </div>
                </div>
                <br/>
                <div class="layui-form-mid layui-word-aux">视频仅限一个视频，大小控制在10M以内。</div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">房源简介</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入房源简介" name="content" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit>发布</button>
                    <a class="layui-btn layui-btn-primary" href="<?=url('house/index')?>">返回</a>
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','laydate','layedit'], function(){
        var form = layui.form
            ,upload = layui.upload
            , laydate = layui.laydate
            ,layedit = layui.layedit
            ,$ = layui.jquery;
        //日期
        laydate.render({
            elem: '#date'
        });
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '标题至少得2个字符啊';
                }
            }
            ,imgRegCaseType:function (value) {
                if(value.length <= 0){
                    return '请上传户型图';
                }
            }
            ,urlTest:function(value){
                if(value.length >0 ){
                    var Expression=/http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;
                    if(Expression.test(value)){
                    }else{
                        return "请输入正确的链接！";
                    }
                }
            }
            ,des_tanlent:function () {
                if (!$(".h_config").is(":checked")) {
                    return "一个房屋配置都没有嘛？";
                }
            }
        });
        form.on('select(bu_p_id)', function(data){
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.date); //得到美化后的DOM对象
            var id=data.value;
            $.ajax({
                type: 'POST',
                url: "<?=url('house/getSchool')?>",
                data: {id:id},
                dataType:  'json',
                success: function(data){
                    console.log(data);
                    var code=data.data;
                    $("#school").html("<option value=''>请选择校区</option>");
                    $.each(code, function(i, val) {
                        var option1 = $("<option>").val(val.name).text(val.name);
                        $("#school").append(option1);
                        form.render('select');
                    });
                    $("#school").get(0).selectedIndex=0;
                }
            });
        });
        //户型图片上传
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("house/upload")}'
            ,size:10240 //限制文件大小，单位 KB
            ,ext: 'mp4'
            ,accept: 'video' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#video').val('');
                console.log(res);
                layer.close(loading);
                $('#video').val(res.filepath);
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLIC__/"+res.filepath);
                $('#display').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
    });
</script>
{include file="index/footer" /}
<script>
    layui.use('upload', function(){
        var $ = layui.jquery;
        var upload = layui.upload;
        upload.render({
            elem: '#slide-pc',
            url: '{:url("house/upload")}',
            size: 5120,
            exts: 'jpg|png|jpeg',
            multiple: true,
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res) {
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                console.log(res);
                $('#slide-pc-priview').append('' +
                    '<li class="item_img"><div class="operate"><i  class="close layui-icon"></i></div><img src="__PUBLIC__/' + res.filepath + '" class="img" ><input type="hidden" name="images[]" value="' + res.filepath + '" /></li>');
            }
        });
    });
    //点击多图上传的X,删除当前的图片
    $("body").on("click",".close",function(){
        $(this).closest("li").remove();
    });
</script>