{include file="index/header" /}
<div class="layui-body">
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" id="houseForm">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>基础信息</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房源名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="case_title" name="title" lay-verify="required|title" placeholder="请输入房源名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <span class="layui-btn" lay-submit lay-filter="saveInfo">发布</span>
                        <a class="layui-btn layui-btn-primary" href="<?=url('house/index')?>">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="index/footer" /}
<script>
    layui.config({
        base: '../../../../layui/src/autocomplete/'  // 自己autocomplete文件路径
        , version: false,
        debug: false,
    });

    layui.use(['jquery', 'autocomplete'], function () {
        var $ = layui.jquery,
            autocomplete = layui.autocomplete;
        autocomplete.render({
            elem: $('#case_title'),
            cache: true,
            url: '/static/data.json',
            response: {code: 'code', data: 'data'},
            template_val: '{{d.phone_number}}',
            template_txt: '{{d.phone_number}} <span class=\'layui-badge layui-bg-gray\'>{{d.phone_number}}</span>',
            onselect: function (resp) {
                $('#content1').html("NEW RENDER: " + JSON.stringify(resp));
            }
        })
    });
</script>