{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:380px;
        top:0;
    }
    .logoPreimg{
        height: 251px;width: 91%;padding: 8px;
    }
    .inner-class{
        display:inline-block;padding: 0px;border: 0px;width: 100%;
    }
    .right{
        width: 68%;float:left;display: block;height: 400px;
    }
    .layui-form-onswitch i {
        left: 58px;
        background-color: #fff;
    }
    .layui-form-switch {
        width: 70px;
    }
    .layui-form-switch em {
        width: 50px;
    }
</style>
<style>
    .dragPic{
        width:704px;
        margin:50px auto;
    }
    .dragPicBox{
        width:704px;
        background-color:#c0ebd7;
        position:relative;
    }
    .dragPic .item{
        display: inline;
        float: left;
        height: 86px;
        width: 86px;
        cursor: move;

    }
    .dragPic .item span{
        width:80px;
        height:80px;
        display:block;
        margin:3px;
        border: 1px solid #CDCDCB;
    }
    .dragPic .item:hover span,.dragPic .selected span{
        border-color:#FF0000;
    }
    .dragPic .item.selected{
        border-color:#FF0000;
    }
    .dragPic span img{
        display: block;
        height: 80px;
        width: 80px;
    }
    .dragPic .spacing{
        position:absolute;
        width:6px;
        height:82px;
        background-color:#1ABC9C;
        margin-top:3px;
    }
    #slide-pc-priview .close:hover{ display: block;cursor:pointer;}

</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
       <a>房源管理</a>
        <a href="<?=url('house/index')?>">房源列表</a>
        <a><cite>发布房源</cite></a>
    </span>
        <div style="float:right;">
            <a href="javascript:history.go(-1);" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" id="myForm" action="<?=url('house/add')?>?typess={$typess}" method="post">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>基础信息</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房源名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required|title" placeholder="请输入房源名称" maxlength="50" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房屋地址</label>
                    <div class="layui-input-block" id="input">
                        <input type="text" id="end" autocomplete="off" class="layui-input" placeholder="请输入房屋地址">
                        <input type="text" name="address" id="address" style="display: none" readonly class="layui-input" lay-verify="required|addresss"  placeholder="目的地取值">
                        <input type="hidden" name="x" id="x" lay-verify="addres" autocomplete="off" class="layui-input" >
                        <input type="hidden" name="y" id="y" lay-verify="addres" autocomplete="off" class="layui-input" >
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="margin-left: 110px;color: red !important;">必须从下拉框中选择对应地址，否则无法显示地理位置</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房源链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="http"  placeholder="请输入房源链接" id="orderHouse" autocomplete="off" class="layui-input" onblur="checkHouseUrl()">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>城市</label>
                    <div class="layui-input-inline">
                        <input type="text" name="city" id="city" lay-verify="required|title" value="墨尔本" readonly class="layui-input">
                    </div>
                    <label class="layui-form-label"><span style="color: red;">*</span>校区</label>
                    <div class="layui-input-inline">
                        <select name="school" lay-verify="required" id="school">
                            <option value="">请选择校区</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>每周租金</label>
                    <div class="layui-input-inline">
                        <input type="number" min="0" name="price" lay-verify="required|prices" placeholder="请输入租金" id="price" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="checkbox" lay-skin="switch" lay-filter="switchRent" lay-text="租金可议|租金可议">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>租约相关</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>入住时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="live_date" id="date" lay-verify="date" lay-verify="required" placeholder="请选择入住时间" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="checkbox" lay-skin="switch" lay-filter="switchTest" lay-text="随时入住|随时入住">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房屋来源</label>
                    <div class="layui-input-block">
                        <input type="radio" name="source" value="中介" title="中介" checked>
                        <input type="radio" name="source" value="学生公寓" title="学生公寓">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>出租方式</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" value="整租" title="整租" checked>
                        <input type="radio" name="type" value="合租" title="合租">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>性别限制</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="不限" title="不限" checked>
                        <input type="radio" name="sex" value="限男性" title="限男性">
                        <input type="radio" name="sex" value="限女性" title="限女性">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>宠物</label>
                    <div class="layui-input-block">
                        <input type="radio" name="pet" value="不限" title="不限" checked>
                        <input type="radio" name="pet" value="接受" title="接受">
                        <input type="radio" name="pet" value="不接受" title="不接受">
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">Bill相关</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="bill[包水]" lay-skin="primary" title="包水">
                        <input type="checkbox" name="bill[包电]" lay-skin="primary" title="包电">
                        <input type="checkbox" name="bill[包气]" lay-skin="primary" title="包气">
                        <input type="checkbox" name="bill[包网]" lay-skin="primary" title="包网">
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">租期</label>
                    <div class="layui-input-block">
                        <input type="radio" name="lease_term" value="12+" title="12+" checked>
                        <input type="radio" name="lease_term" value="6-12" title="6-12">
                        <input type="radio" name="lease_term" value="3-6" title="3-6">
                        <input type="radio" name="lease_term" value="0-3" title="0-3">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>房屋相关</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房屋类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="house_type" value="公寓" title="公寓" checked>
                        <input type="radio" name="house_type" value="别墅" title="别墅">
                        <input type="radio" name="house_type" value="联排别墅" title="联排别墅">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>户型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="house_room" value="Studio" title="Studio">
                        <input type="radio" name="house_room" value="1" title="1" checked>
                        <input type="radio" name="house_room" value="2" title="2">
                        <input type="radio" name="house_room" value="3" title="3">
                        <input type="radio" name="house_room" value="4" title="4">
                        <input type="radio" name="house_room" value="5" title="5">
                        <input type="radio" name="house_room" value="6" title="6">
                        <input type="radio" name="house_room" value="7" title="7">
                        <input type="radio" name="house_room" value="8" title="8">
                        <input type="radio" name="house_room" value="9" title="9">

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>卫生间</label>
                    <div class="layui-input-block">
                        <input type="radio" name="toilet" value="0" title="0" checked>
                        <input type="radio" name="toilet" value="1" title="1">
                        <input type="radio" name="toilet" value="2" title="2">
                        <input type="radio" name="toilet" value="3" title="3">
                        <input type="radio" name="toilet" value="4" title="4">
                        <input type="radio" name="toilet" value="5" title="5">
                        <input type="radio" name="toilet" value="6" title="6">
                        <input type="radio" name="toilet" value="7" title="7">
                        <input type="radio" name="toilet" value="8" title="8">
                        <input type="radio" name="toilet" value="9" title="9">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>车位</label>
                    <div class="layui-input-block">
                        <input type="radio" name="car" value="0" title="0" checked>
                        <input type="radio" name="car" value="1" title="1">
                        <input type="radio" name="car" value="2" title="2">
                        <input type="radio" name="car" value="3" title="3">
                        <input type="radio" name="car" value="4" title="4">
                        <input type="radio" name="car" value="5" title="5">
                        <input type="radio" name="car" value="6" title="6">
                        <input type="radio" name="car" value="7" title="7">
                        <input type="radio" name="car" value="8" title="8">
                        <input type="radio" name="car" value="9" title="9">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>家具</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="home[床]" lay-skin="primary" title="床">
                        <input type="checkbox" name="home[沙发]" lay-skin="primary" title="沙发">
                        <input type="checkbox" name="home[餐桌]" lay-skin="primary" title="餐桌">
                        <input type="checkbox" name="home[椅子]" lay-skin="primary" title="椅子">
                        <input type="checkbox" name="home[WIFI]" lay-skin="primary" title="WIFI">
                        <input type="checkbox" name="home[空调]" lay-skin="primary" title="空调">
                        <input type="checkbox" name="home[洗衣机]" lay-skin="primary" title="洗衣机">
                        <input type="checkbox" name="home[冰箱]" lay-skin="primary" title="冰箱">
                        <input type="checkbox" name="home[微波炉]" lay-skin="primary" title="微波炉">
                        <input type="checkbox" name="home[暖气]" lay-skin="primary" title="暖气">
                        <input type="checkbox" name="home[电烤箱]" lay-skin="primary" title="电烤箱">
                        <input type="checkbox" name="home[洗碗机]" lay-skin="primary" title="洗碗机">
                    </div>
                </div>

                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">基本设施</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="furniture[游泳池]" lay-skin="primary" title="游泳池">
                        <input type="checkbox" name="furniture[健身房]" lay-skin="primary" title="健身房">
                        <input type="checkbox" name="furniture[停车位]" lay-skin="primary" title="停车位">
                        <input type="checkbox" name="furniture[电影院]" lay-skin="primary" title="电影院">
                        <input type="checkbox" name="furniture[花园]" lay-skin="primary" title="花园">
                        <input type="checkbox" name="furniture[门禁]" lay-skin="primary" title="门禁">
                        <input type="checkbox" name="furniture[前台]" lay-skin="primary" title="前台">
                        <input type="checkbox" name="furniture[桑拿]" lay-skin="primary" title="桑拿">
                    </div>
                </div>

                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">周边</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="sation[巴士站]" lay-skin="primary" title="巴士站">
                        <input type="checkbox" name="sation[火车站]" lay-skin="primary" title="火车站">
                        <input type="checkbox" name="sation[电车站]" lay-skin="primary" title="电车站">
                        <input type="checkbox" name="sation[餐馆]" lay-skin="primary" title="餐馆">
                        <input type="checkbox" name="sation[公园]" lay-skin="primary" title="公园">
                        <input type="checkbox" name="sation[警察局]" lay-skin="primary" title="警察局">
                        <input type="checkbox" name="sation[医院]" lay-skin="primary" title="医院">
                        <input type="checkbox" name="sation[超市]" lay-skin="primary" title="超市">
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">特色</label>
                    <div class="layui-input-block">
                        {volist name='tags' id='vo'}
                        <input type="checkbox" class="checkbox tags" lay-verify="required|des_tanlent"  lay-skin="primary" name="tags[{$vo.name}]" title="{$vo.name}">
                        {/volist}
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>房源简介</legend>
                </fieldset>
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                        <textarea placeholder="请输入房源简介" style="height: 400px;" maxlength="1000" name="content" class="layui-textarea"></textarea>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>联系方式</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="real_name" lay-verify="required|title" placeholder="请输入姓名" autocomplete="off" value="{$admin.ad_realname}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="tel" lay-verify="required" placeholder="请输入电话" autocomplete="off" value="{$admin.ad_phone}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">微信号</label>
                    <div class="layui-input-block">
                        <input type="text" name="wchat" placeholder="请输入微信号" autocomplete="off" value="{$admin.ad_weixin}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" placeholder="请输入邮箱" autocomplete="off" value="{$admin.ad_email}" class="layui-input">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>图片</legend>
                </fieldset>
                <div style="width: 100%;">
                    <div class="left" style="width: 30%;float:left;border-right: rgba(53, 153, 153) dashed 1px;display: block">

                        <div class="layui-form-mid layui-word-aux" style="margin-left: 40px;">图片要求，最大5MB，支持JPG/JEPG/PNG格式</div>
                        <div class="layui-form-item one-pan" style="margin-left: 40px;">
                            <div class="layui-upload-drag inner-class">
                                <image id="logoPreimg" class="logoPreimg">
                                    <input type="hidden" lay-verify="imgReg" name="thumnail" id="thumnail" value=""/>
                                </image>
                                <div id="displayImg">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" id="pics">
                            <div class="layui-input-inline" style="width: 70%;margin-left: 50px;">
                                <div class="layui-upload">
                                    <span style="color: red;padding: 8px;">*</span><button type="button" class="layui-btn layui-btn pull-left layui-btn-sm" id="uploadImg">请选择封面图片</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="layui-form-mid layui-word-aux" style="margin-left: 40px;">请上传0-8张其他详情图。</div>
                        <div class="layui-form-item">
                            <div class="layui-input-inline" style="width: 100%;margin-left: 50px;">
                                <div class="pic-more" style="height: 266px">
                                    <div class="dragPic">
                                        <div class="dragPic">
                                            <div class="dragPicBox clearfix" node-type="box" id="slide-pc-priview">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn layui-btn pull-left layui-btn-sm" id="slide-pc">请选择其他图片</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>视频</legend>
                </fieldset>
                <div class="layui-form-mid layui-word-aux" style="margin-left: 40px;">视频仅限一个视频，大小控制在10M以内。</div>
                <div class="layui-form-item one-pan" style="margin-left: 40px;">
                    <div class="layui-upload-drag" id="uploadLogo" style="padding: 50px;">
                        <video id="logoPre" style="display: none" controls="controls" autobuffer="autobuffer"  autoplay="autoplay" loop="loop" src="">
                            <input type="hidden" name="video" id="video" value=""/>
                        </video>
                        <div id="display">
                            <i class="layui-icon"></i>
                            <p>请点击此处选择视频</p>
                        </div>
                    </div>
                    <div class="layui-btn layui-btn-sm" id="upload-video" style="margin-left: 20px;" >上传视频</div>
                    <br/>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline" style="width: 230px;margin-left: 40px;">
                        <button class="layui-btn" lay-submit>发布</button>
                        <span class="layui-btn layui-btn-primary" id="save" >保存</span>
                        <a class="layui-btn layui-btn-primary" href="javascript:history.go(-1);">返回</a>

                    </div>
                </div>
            </form>

        </div>
    </div>
    <script>
        //保存不更新状态
        $('#save').click(function () {
            $.ajax({
                type: 'POST',
                url: "<?=url('house/add')?>?status=1&typess={$typess}",
                data:$('#myForm').serialize(),
                dataType:  'json',
                success: function(data){
                    if(data.code == 1){
                        layer.msg(data.msg);
                        window.location.href=data.url;
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
        });
    </script>
    <script>
        layui.link('/layui/src/autocomplete/autocomplete.css');
        layui.config({
            base: '/layui/src/autocomplete/'
            , version: false,
            debug: false,
        });
        layui.use(['form', 'jquery','upload','laydate', 'autocomplete'], function(){
            var form = layui.form
                ,upload = layui.upload
                , laydate = layui.laydate
                ,$ = layui.jquery,
                autocomplete = layui.autocomplete;

            autocomplete.render({
                elem: $('#end'),
                response: {code: 'code', data: 'suggestions'},
                template_val: '{{d.label}}',
                template_txt: '{{d.label}}',
                onselect: function (resp) {
                    var address = resp.label;
                    $('#address').val(address);
                    $('#end').hide();
                    $('#address').show();
                    locationAD(address);
                }
            });
            let APP_ID_HERE = "QuHxU6ypXzp37Dci84o8";
            let APP_CODE_HERE = "TDu_enlm0QIblRnIl33buw";
            let city_code = [{ code: "Melbourne", name: "墨尔本" }, { code: "Sydney", name: "悉尼" },{ code: "Tasmania", name: "塔州" }, { code: "Brisbane", name:"布里斯班"}];
            function locationAD(query) {
                $.getJSON("https://geocoder.api.here.com/6.2/geocode.json?gen=9&searchtext=" + query + "&app_id=" + APP_ID_HERE + "&app_code=" + APP_CODE_HERE, function (data) {
                    console.log(data);
                    var lati = data["Response"]["View"][0]["Result"][0]["Location"]["DisplayPosition"]["Latitude"];
                    var longi = data["Response"]["View"][0]["Result"][0]["Location"]["DisplayPosition"]["Longitude"];
                    var city = data["Response"]["View"][0]["Result"][0]["Location"]["Address"]["City"];
                    $('#x').val(lati);
                    $('#y').val(longi);
                    if(city == "Hobart" || city == "Launcestion"){
                        city = "Tasmania";
                    }
                    let cityName='';
                    let flag =false;
                    city_code.forEach((item,index,array)=>{
                        //执行代码
                        if(item.code == city){
                            flag = true;
                            cityName = item.name;
                            $('#city').val(cityName);
                        }
                    });
                    if(!flag){
                        $('#end').val('');
                        $('#end').show();
                        $('#address').val('');
                        $('#address').hide();
                        $('#end').focus();
                        return  layer.msg('我们尚未开展除墨尔本，悉尼，塔州，布里斯班四个地区外的业务，请重新填写地址');
                    }
                    $.ajax({
                        type: 'POST',
                        url: "<?=url('house/getSchoolss')?>",
                        data: {city:cityName},
                        dataType:  'json',
                        success: function(data){
                            console.log(data);
                            var code=data.data;
                            $("#school").html("<option value=''>请选择校区</option>");
                            $.each(code, function(i, val) {
                                var option1 = $("<option>").val(val.name).text(val.name);
                                $("#school").append(option1);
                                form.render('select');
                            });
                        }
                    });
                });

            }
            //日期
            laydate.render({
                elem: '#date'
            });
            //随时入住
            form.on('switch(switchTest)', function(data){
                if(this.checked){
                    $('#date').val('0000-00-00');
                    $('#date').hide();
                }else{
                    $('#date').show();
                }
            });
            //租金可议
            form.on('switch(switchRent)', function(data){
                if(this.checked){
                    $('#price').removeAttr('min');
                    $('#price').val('-1');
                    $('#price').hide();
                }else{
                    $('#price').show();
                }
            });
            //自定义验证规则
            form.verify({
                title: function(value){
                    if(value.length < 2){
                        return '标题至少得2个字符啊';
                    }
                },addres: function(value){
                    if(!value){
                        return '请输入正确的地址信息,并在推荐地址里选择！';
                    }
                },prices: function(value){
                    if(value <-1){
                        return '价格不能小于零！';
                    }
                },addresss: function(value){
                    var values = value.split(',');
                    if(values.length < 3){
                        return '请输入正确的地址信息！';
                    }
                }
                ,imgReg:function (value) {
                    if(value.length <= 0){
                        return '请上传封面图片';
                    }
                }
                ,imgRegCaseType:function () {
                    var len = $(".img_url").length;
                    if (len > 8) {
                        return "房源图片不超过8个？";
                    }
                }
                ,urlTest:function(value){
                    if(value.length >0 ){
                        var Expression=/http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;
                        if(Expression.test(value)){
                        }else{
                            return "请输入正确的链接！";
                        }
                    }
                }
                ,des_tanlent:function () {
                    var len = $(".tags:checked").length;
                    if (len > 6) {
                        return "房源标签选择数不超过6个？";
                    }
                }
            });
            form.on('select(bu_p_id)', function(data){
                var id=data.value;
                $.ajax({
                    type: 'POST',
                    url: "<?=url('house/getSchool')?>",
                    data: {id:id},
                    dataType:  'json',
                    success: function(data){
                        console.log(data);
                        var code=data.data;
                        $("#school").html("<option value=''>请选择校区</option>");
                        $.each(code, function(i, val) {
                            var option1 = $("<option>").val(val.name).text(val.name);
                            $("#school").append(option1);
                            form.render('select');
                        });
                        // $("#school").get(0).selectedIndex=0;
                    }
                });
            });
            //封面图上传
            upload.render({
                elem: '#uploadImg'
                ,url: '{:url("house/upload")}'
                ,exts: 'jpg|png|jpeg|gif|bmp|JPG'
                ,size: '30000'
                ,done: function(res){
                    layer.close(layer.msg());//关闭上传提示窗口
                    if(res.status == 0) {
                        return layer.msg(res.message);
                    }
                    $('#uploadImg').removeClass('layui-upload-drag');
                    $('#logoPreimg').css('width','91%');
                    $('#logoPreimg').css('height','251px');
                    $('#logoPreimg').attr('src',"__PUBLIC__/"+res.filepath);
                    $('#displayImg').hide();
                    console.log(res);
                    $('#thumnail').val('' +res.filepath + '');
                }
            });

            //视频上传
            upload.render({
                elem: '#uploadLogo'
                ,auto:false
                ,url: '{:url("house/upload")}'
                ,size:10240 //限制文件大小，单位 KB
                ,acceptMime: 'video/mp4'
                ,ext: 'mp4'
                ,accept: 'video' //限制文件大小，单位 KB
                ,bindAction: '#upload-video'
                ,choose:function(obj){
                    obj.preview(function(index, file, result){
                        let url = URL.createObjectURL(file);
                        $('#logoPre').show();
                        $('#display').hide();
                        $('#uploadLogo').removeClass('layui-upload-drag');
                        $('#logoPre').css('width','335px');
                        $('#logoPre').css('height','251px');
                        $('#logoPre').attr('src', url);
                        let timer = setTimeout(function(){
                            layer.close(layer.index);
                            let video_time = document.getElementById("logoPre").duration;
                            console.log(video_time);
                            if(video_time > 45){
                                layer.msg('上传视频不能超过45秒', {icon: 2})
                            }
                            clearTimeout(timer);
                        },1000);
                    });
                }
                ,before: function(input){
                    loading = layer.load(2, {
                        shade: [0.2,'#000']
                    });
                }
                ,done: function(res){
                    $('#logoPre').removeAttr('src');
                    $('#video').val('');
                    layer.close(loading);
                    $('#video').val(res.filepath);
                    $('#uploadLogo').removeClass('layui-upload-drag');
                    $('#logoPre').css('width','335px');
                    $('#logoPre').css('height','251px');
                    $('#logoPre').attr('src',"__PUBLIC__/"+res.filepath);
                    $('#display').hide();
                    layer.msg(res.msg, {icon: 1, time: 1000});
                }
                ,error: function(res){
                    layer.msg(res.msg, {icon: 2, time: 1000});
                }
            });
        });
    </script>
    {include file="index/footer" /}
    <script>
        function checkHouseUrl(){
            var order_id = $('#orderHouse').val();
            if(order_id != ''){
                $.ajax({
                    type:"post",
                    url:"<?=url('house/checkHouseUrl')?>",
                    dataType: 'json',
                    data:{'order_id':order_id,'id':0},
                    success:function (data) {
                        console.log(data);
                        if(data.code >1){
                            layer.alert(data.msg, {icon: 2});
                        }else if(data.code <= 1){
                            layer.alert(data.msg, {icon: 1, time: 1000});
                        }
                    },
                    error:function (error) {
                        console.log(error);
                    }
                })
            }

        }
        layui.use('upload', function(){
            var $ = layui.jquery;
            var upload = layui.upload;
            upload.render({
                elem: '#slide-pc',
                url: '{:url("house/upload2")}',
                size: 1024*1024*10,
                exts: 'jpg|png|jpeg|gif|bmp|JPG',
                multiple: true,
                before: function(obj) {
                    layer.msg('图片上传中...', {
                        icon: 16,
                        shade: 0.01,
                        time: 0
                    })
                },
                done: function(res) {
                    layer.close(layer.msg());//关闭上传提示窗口
                    if(res.status == 0) {
                        return layer.msg(res.message);
                    }
                    if(res.code ==1){
                        var html = '<div class="item" node-type="imgW" ><div class="operate"><i  class="close layui-icon"></i></div>\n' +
                            '                                                    <span>\n' +
                            '                                                        <img src="__PUBLIC__/' + res.filepath + '" />\n' +
                            '                                                        <input type="hidden" name="images[]" value="' + res.filepath + '" lay-verify="required|imgRegCaseType"  class="img_url" />\n' +
                            '                                                    </span>\n' +
                            '                                                </div>';
                        $('#slide-pc-priview').append(html);
                        refersh();
                    }else{
                        return layer.msg(res.msg);
                    }

                }
            });
        });
        //点击多图上传的X,删除当前的图片
        $("body").on("click",".close",function(){
            $(this).parent().parent('.item').remove();
        });
    </script>
    <script>
        $(document).ready(function(){
            refersh();
        });
        function refersh() {
            var that={
                imgaes:{},
                box:"",
                aveWidth:86,
                aveHeight:86,
                moveObj:'',
                status:false
            }
            var spacingHtml = '<div node-type="spacing"> </div>';
            var C = {
                initState:function(){
                    that.images = $('[node-type="imgW"]');
                    that.box= $('[node-type="box"]');

                }
            }
            var bindDOMFuncs = {
                'imgMouseDown':function(e){
                    //var evt=fixEvent(e);
                    //阻止浏览器默认行为
                    var evt=e;
                    //if(evt.which && evt.button==0){
                    that.follow=true;
                    $(that.images).bind('dragstart',bindDOMFuncs['unDrag']);
                    //}else{
                    //    $(that.images).unbind('dragstart',bindDOMFuncs['unDrag']);
                    //}

                    $(that.images).removeClass('selected');

                    $(this).addClass('selected');

                    $(that.box).append(spacingHtml);
                    //获得要移动的节点
                    that.moveObj = this;

                    $(that.images).bind('mousemove',bindDOMFuncs['imgMouseMove']);
                },
                'imgMouseMove':function(e){
                    if(that.follow){
                        var disX = e.pageX-$(that.box).offset().left;//鼠标位置距离父节点左边的距离
                        var disY = e.pageY-$(that.box).offset().top;//鼠标位置距离父节点上边的距离
                        //判断第一张图片且向左移的情况
                        var posLeft = $(that.moveObj).position().left+that.aveWidth/2;
                        var posTop = $(that.moveObj).position().top;
                        if(that.moveObj){
                            if((that.moveObj == $('[node-type="imgW"]')[0]) && disX<=posLeft && disY<=posTop+that.aveHeight){
                                that.status = false;
                                return;

                            }
                            if((that.moveObj == $('[node-type="imgW"]')[that.images.length-1]) && disX>=posLeft && disY>=posTop){
                                that.status = false;
                                return;


                            }
                        }
                        //确定移动目标位置
                        var colNum = Math.round(disX/that.aveWidth);
                        var rowNum = parseInt(disY/that.aveHeight);
                        var left = colNum*that.aveWidth;
                        var top =  rowNum*that.aveHeight;

                        $('[node-type="spacing"]').css({
                            'left':left+'px',
                            'top':top+'px'
                        });
                        $('[node-type="spacing"]').addClass('spacing');
                        that.status = true;
                    }
                },
                'imgMouseUp':function(e){
                    that.follow=false;
                    if(!that.status){
                        return;
                    }
                    that.status = false;
                    $(that.images).unbind('dragstart',bindDOMFuncs['unDrag']);

                    var sLeft = $('[node-type="spacing"]').position().left;
                    var sTop = $('[node-type="spacing"]').position().top;
                    var xNum = sLeft/that.aveWidth;
                    var yNum = sTop/that.aveHeight;
                    var index = yNum*8+xNum;

                    if(index == 0){
                        var clickObj = $('[node-type="imgW"]')[index];
                        that.moveObj && $(clickObj).before(that.moveObj);
                    }else{
                        var clickObj = $('[node-type="imgW"]')[index-1];
                        that.moveObj && $(clickObj).after(that.moveObj);
                    }
                    $('[node-type="spacing"]').remove();

                    $(that.images).unbind('mousemove',bindDOMFuncs['imgMouseMove']);
                    that.moveObj = null;

                },
                'unDrag':function(e){
                    if(e.stopPropagation){
                        e.preventDefault();
                        e.stopPropagation();
                    }else{
                        e.cancelBubble = true;
                        e.returnValue = false;
                    }
                    return false;
                },
                'imgMouseLeave':function(e){
                    $('[node-type="spacing"]') && $('[node-type="spacing"]').hide();
                },
                'imgMouseEnter':function(e){
                    $('[node-type="spacing"]') && $('[node-type="spacing"]').show();
                },
                'docMouseUp':function(e){
                    $('[node-type="spacing"]') && $('[node-type="spacing"]').remove();
                },
                'imgClick':function(e){
                    if(e.ctrlKey){
                        $(this).addClass('selected');
                        that.moveObj.push(this);
                    }else{
                        //that.moveObj = null;
                        $(that.images).removeClass('selected');
                        $(this).addClass('selected');
                        //that.moveObj = this;
                    }
                }
            }
            var bindDom=function(){
                $(that.images).bind('mousedown',bindDOMFuncs['imgMouseDown']);
                $(that.box).bind('mouseup',bindDOMFuncs['imgMouseUp']);
                $(that.box).bind('mouseenter',bindDOMFuncs['imgMouseEnter']);
                $(that.box).bind('mouseleave',bindDOMFuncs['imgMouseLeave']);
                $(document).bind('mouseup',bindDOMFuncs['docMouseUp']);
                //$(that.images).bind('click',bindDOMFuncs['imgClick']);


            }
            var init = function(){
                C.initState();
                bindDom();
            }
            init();
        }
    </script>