{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
    .logoPre{
        width: 216px;
        height: 150px;
    }.logoPreimg{
         width: 216px;
         height: 150px;
     }
    .layui-upload-img { width: 90px; height: 90px; margin: 0; }
    .pic-more { width:100%; left; margin: 10px 0px 0px 0px;}
    .pic-more li { width:300px; float: left; margin-right: 5px;margin-top: 10px;}
    .pic-more li .layui-input { display: initial; }
    .pic-more li a { position: absolute; top: 0; display: block; }
    #slide-pc-priview .item_img img{ width:277px; height: 177px}
    #slide-pc-priview li{position: relative;}
    #slide-pc-priview li .operate{ color: #000; display: none;}
    #slide-pc-priview li .toleft{ position: absolute;top: 40px; left: 1px; cursor:pointer;}
    #slide-pc-priview li .toright{ position: absolute;top: 40px; right: 1px;cursor:pointer;}
    #slide-pc-priview li .close{position: absolute;top: 5px; right: 5px;cursor:pointer;}
    #slide-pc-priview li:hover .operate{ display: block;}
    .item_img img{ width:277px; height: 177px}
</style>
<div class="layui-body">
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" action="<?=url('house/edit')?>?id={$house.id}" method="post">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>基础信息</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房源名称</label>
                    <div class="layui-input-block">
                        <input type="text" readonly lay-verify="required|title" value="{$house.title}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房源链接</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.http}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>地址</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.address}" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>城市校区</label>
                    <div class="layui-input-inline">
                        <input type="text" readonly value="{$house.city}" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" readonly value="{$house.school}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>租金</label>
                    <div class="layui-input-inline">
                        <input type="text" name="price" readonly value="{if condition="$house.price eq -1"}租金可议{else/}{$house.price}{/if}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>租约相关</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>入住时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="live_date" lay-verify="date" lay-verify="required" placeholder="请选择入住时间" value="{if condition='$house.live_date_show eq 1'}随时入住{else/}{$house.live_date}{/if}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">时间为澳洲时间</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房屋来源</label>
                    <div class="layui-input-block">
                        <input type="radio" name="source" disabled value="中介" title="中介" {if condition="$house.source eq '中介'"}checked{/if}>
                        <input type="radio" name="source" disabled value="学生公寓" title="学生公寓" {if condition="$house.source eq '学生公寓'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>出租方式</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" disabled value="整租" title="整租" {if condition="$house.type eq '整租'"}checked{/if}>
                        <input type="radio" name="type" disabled value="单间" title="单间" {if condition="$house.type eq '单间'"}checked{/if}>
                        <input type="radio" name="type" disabled value="厅卧" title="厅卧" {if condition="$house.type eq '厅卧'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>性别限制</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" disabled value="不限" title="不限" {if condition="$house.sex eq '不限'"}checked{/if}>
                        <input type="radio" name="sex" disabled value="限男性" title="限男性" {if condition="$house.sex eq '限男性'"}checked{/if}>
                        <input type="radio" name="sex" disabled value="限女性" title="限女性" {if condition="$house.sex eq '限女性'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>宠物</label>
                    <div class="layui-input-block">
                        <input type="radio" name="pet" disabled value="不限" title="不限" {if condition="$house.pet eq '不限'"}checked{/if}>
                        <input type="radio" name="pet" disabled value="接受" title="接受" {if condition="$house.pet eq '接受'"}checked{/if}>
                        <input type="radio" name="pet" disabled value="不接受" title="不接受" {if condition="$house.pet eq '不接受'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">Bill相关</label>
                    <div class="layui-input-block">
                        {volist name='all_bill' id='vo'}
                        <input type="checkbox" class="checkbox" disabled lay-skin="primary" name="bill[{$vo.bill}]" title="{$vo.bill}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">租期</label>
                    <div class="layui-input-block">
                        <input type="radio" name="lease_term" disabled value="12+" title="12+" {if condition="$house.lease_term eq '12+'"}checked{/if}>

                        <input type="radio" name="lease_term" disabled value="6-12" title="6-12" {if condition="$house.lease_term eq '6-12'"}checked{/if}>

                        <input type="radio" name="lease_term" disabled value="3-6" title="3-6" {if condition="$house.lease_term eq '3-6'"}checked{/if}>

                        <input type="radio" name="lease_term" disabled value="0-3" title="0-3" {if condition="$house.lease_term eq '0-3'"}checked{/if}>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>房屋相关</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房屋类型</label>
                    <div class="layui-input-block">
                        <input type="radio" disabled name="house_type" value="公寓" title="公寓" {if condition="$house.house_type eq '公寓'"}checked{/if}>
                        <input type="radio" disabled name="house_type" value="别墅" title="别墅"  {if condition="$house.house_type eq '别墅'"}checked{/if}>
                        <input type="radio" disabled name="house_type" value="联排别墅" title="联排别墅"  {if condition="$house.house_type eq '联排别墅'"}checked{/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>户型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="house_room" disabled value="Studio" title="Studio" {if condition="$house.house_room eq 'Studio'"}checked{/if}>
                        <input type="radio" name="house_room" disabled value="1" title="1" {if condition="$house.house_room eq '1'"}checked{/if}>
                        <input type="radio" name="house_room" disabled value="2" title="2" {if condition="$house.house_room eq '2'"}checked{/if}>
                        <input type="radio" name="house_room" disabled value="3" title="3" {if condition="$house.house_room eq '3'"}checked{/if}>
                        <input type="radio" name="house_room" disabled value="4" title="4" {if condition="$house.house_room eq '4'"}checked{/if}>
                        <input type="radio" name="house_room" disabled value="5" title="5" {if condition="$house.house_room eq '5'"}checked{/if}>
                        <input type="radio" name="house_room" disabled value="6" title="6" {if condition="$house.house_room eq '6'"}checked{/if}>
                        <input type="radio" name="house_room" disabled value="7" title="7" {if condition="$house.house_room eq '7'"}checked{/if}>
                        <input type="radio" name="house_room" disabled value="8" title="8" {if condition="$house.house_room eq '8'"}checked{/if}>
                        <input type="radio" name="house_room" disabled value="9" title="9" {if condition="$house.house_room eq '9'"}checked{/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>卫生间</label>
                    <div class="layui-input-block">
                        <input type="radio" name="toilet" disabled value="0" title="0" {if condition="$house.toilet eq '0'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="1" title="1" {if condition="$house.toilet eq '1'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="2" title="2" {if condition="$house.toilet eq '2'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="3" title="3" {if condition="$house.toilet eq '3'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="4" title="4" {if condition="$house.toilet eq '4'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="5" title="5" {if condition="$house.toilet eq '5'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="6" title="6" {if condition="$house.toilet eq '6'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="7" title="7" {if condition="$house.toilet eq '7'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="8" title="8" {if condition="$house.toilet eq '8'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="9" title="9" {if condition="$house.toilet eq '9'"}checked{/if}>
                    </div>
                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>车位</label>
                    <div class="layui-input-block">
                        <input type="radio" name="car" disabled value="0" title="0" {if condition="$house.car eq '0'"}checked{/if}>
                        <input type="radio" name="car" disabled value="1" title="1" {if condition="$house.car eq '1'"}checked{/if}>
                        <input type="radio" name="car" disabled value="2" title="2" {if condition="$house.car eq '2'"}checked{/if}>
                        <input type="radio" name="car" disabled value="3" title="3" {if condition="$house.car eq '3'"}checked{/if}>
                        <input type="radio" name="car" disabled value="4" title="4" {if condition="$house.car eq '4'"}checked{/if}>
                        <input type="radio" name="car" disabled value="5" title="5" {if condition="$house.car eq '5'"}checked{/if}>
                        <input type="radio" name="car" disabled value="6" title="6" {if condition="$house.car eq '6'"}checked{/if}>
                        <input type="radio" name="car" disabled value="7" title="7" {if condition="$house.car eq '7'"}checked{/if}>
                        <input type="radio" name="car" disabled value="8" title="8" {if condition="$house.car eq '8'"}checked{/if}>
                        <input type="radio" name="car" disabled value="9" title="9" {if condition="$house.car eq '9'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>家具</label>
                    <div class="layui-input-block">
                        {volist name='all_four' id='vo'}
                        <input type="checkbox" class="checkbox" disabled lay-skin="primary" name="home[{$vo.furn}]" title="{$vo.furn}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">楼宇设施</label>
                    <div class="layui-input-block">
                        {volist name='all_set' id='vo'}
                        <input type="checkbox" class="checkbox" disabled lay-skin="primary" name="furniture[{$vo.set}]" title="{$vo.set}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>

                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">周边</label>
                    <div class="layui-input-block">
                        {volist name='all_trans' id='vo'}
                        <input type="checkbox" class="checkbox" lay-skin="primary" name="sation[{$vo.trans}]" title="{$vo.trans}" disabled  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">特色</label>
                    <div class="layui-input-block">
                        {volist name='tags' id='vo'}
                        <input type="checkbox" class="checkbox tags"  lay-verify="required|des_tanlent" lay-skin="primary" name="tags[{$vo.name}]" disabled title="{$vo.name}" {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>房源简介</legend>
                </fieldset>
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                        <textarea readonly class="layui-textarea" style="height: 400px;">{$house.content}</textarea>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>联系方式</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>姓名</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.real_name}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>电话</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.tel}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">微信号</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.wchat}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.email}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>图片</legend>
                </fieldset>
                <div style="width: 100%;">
                    <div class="left" style="width: 30%;float:left;border-right: rgba(53, 153, 153) dashed 1px;display: block">

                        <div class="layui-form-mid layui-word-aux" style="margin-left: 40px;">图片要求，最大5MB，支持JPG/JEPG/PNG格式</div>
                        <div class="layui-form-item one-pan" style="margin-left: 40px;">
                            <div class="layui-upload-drag" style="display:inline-block;padding: 0px;border: 0px;">
                                <image id="logoPreimg" class="logoPreimg" style="width: 91%;height: 237px;" {if condition="$house.thumnail eq null"}
                                       {else/}
                                src="__PUBLIC__/{$house.thumnail}"
                                class="logoPreimg"
                                {/if}>

                                <input type="hidden" lay-verify="imgReg" name="thumnail" id="thumnail" value="{$house.thumnail}"/>
                                </image>
                                <div id="displayImg">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" id="pics">
                            <div class="layui-input-inline" style="width: 70%;margin-left: 50px;">
                                <div class="layui-upload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right" style="width: 68%;float:left;display: block;height: 370px;">
                        <div class="layui-form-mid layui-word-aux" style="margin-left: 40px;">请上传0-8张其他详情图。</div>
                        <div class="layui-form-item">
                            <div class="layui-input-inline" style="width: 100%;margin-left: 50px;">
                                <div class="pic-more" style="height: 266px">
                                    <ul class="pic-more-upload-list" id="slide-pc-priview" style="width: 100%">
                                        {if condition='$house.images neq null'}
                                        {volist name='house.images1' id="item" key="k"}
                                        <li class="item_img" style="width: 24%;float: left;"><div class="operate"><i  class="close layui-icon"></i></div><img src="__PUBLIC__/{$item}" class="img" style="width: 100%;height: 112px;" ><input type="hidden" name="images[]" value="{$item}" lay-verify="required|imgRegCaseType"  class="img_url" /></li>
                                        {/volist}
                                        {else/}
                                        未上传
                                        {/if}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>视频</legend>
                </fieldset>
                <div class="layui-form-mid layui-word-aux" style="margin-left: 40px;">视频仅限一个视频，大小控制在10M以内。</div>
                <div class="layui-form-item one-pan" style="margin-left: 40px;">
                    <div class="layui-upload-drag" id="uploadLogo" style="padding: 0px;display: inline-block;">
                        {if condition='$house.video neq null'}
                        <video id="logoPre" controls="controls" autobuffer="autobuffer" style="width: 335px;height: 215px;" autoplay="autoplay" loop="loop" src="__PUBLIC__/{$house.video}">
                            <input type="hidden" name="video" id="video" value="{$house.video}"/>
                        </video>
                        <div id="display" style="display: none">
                            <i class="layui-icon"></i>
                            <p>请点击此处选择视频</p>
                        </div>
                        {else/}
                        未上传
                        {/if}
                    </div>
                    <br/>
                </div>

            </form>

        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','laydate','layedit'], function(){
        var form = layui.form
            ,upload = layui.upload
            , laydate = layui.laydate
            ,layedit = layui.layedit
            ,$ = layui.jquery;
        //日期
        laydate.render({
            elem: '#date'
        });
    });
</script>
{include file="index/footer" /}