{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
    .layui-upload-img { width: 90px; height: 90px; margin: 0; }
    .pic-more { width:100%; left; margin: 10px 0px 0px 0px;}
    .pic-more li { width:300px; float: left; margin-right: 5px;margin-top: 10px;}
    .pic-more li .layui-input { display: initial; }
    .pic-more li a { position: absolute; top: 0; display: block; }
    #slide-pc-priview .item_img img{ width:277px; height: 177px}
    #slide-pc-priview li{position: relative;}
    #slide-pc-priview li .operate{ color: #000; display: none;}
    #slide-pc-priview li .toleft{ position: absolute;top: 40px; left: 1px; cursor:pointer;}
    #slide-pc-priview li .toright{ position: absolute;top: 40px; right: 1px;cursor:pointer;}
    #slide-pc-priview li .close{position: absolute;top: 5px; right: 5px;cursor:pointer;}
    #slide-pc-priview li:hover .operate{ display: block;}
    .item_img img{ width:277px; height: 177px}
</style>
<div class="layui-body">
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" action="<?=url('house/edit')?>?id={$house.id}" method="post">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>基础信息</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房源名称</label>
                    <div class="layui-input-block">
                        <input type="text" readonly lay-verify="required|title" value="{$house.title}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房源链接</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.http}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>租金</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.price}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>地址</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.address}" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>基础信息</label>
                    <div class="layui-input-inline">
                        <input type="text" readonly value="{$house.city}" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" readonly value="{$house.school}" class="layui-input">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>租约相关</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>入住时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="live_date" lay-verify="date" lay-verify="required" placeholder="请选择入住时间" value="{if condition='$house.live_date_show eq 1'}随时{else/}{$house.live_date}{/if}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">时间为澳洲时间</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房屋来源</label>
                    <div class="layui-input-block">
                        <input type="radio" name="source" disabled value="中介" title="中介" {if condition="$house.source eq '中介'"}checked{/if}>
                        <input type="radio" name="source" disabled value="个人" title="个人" {if condition="$house.source eq '个人'"}checked{/if}>
                        <input type="radio" name="source" disabled value="学生公寓" title="学生公寓" {if condition="$house.source eq '学生公寓'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>出租方式</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" disabled value="整租" title="整租" {if condition="$house.type eq '整租'"}checked{/if}>
                        <input type="radio" name="type" disabled value="单间" title="单间" {if condition="$house.type eq '单间'"}checked{/if}>
                        <input type="radio" name="type" disabled value="厅卧" title="厅卧" {if condition="$house.type eq '厅卧'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>性别限制</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" disabled value="男女不限" title="男女不限" {if condition="$house.sex eq '男女不限'"}checked{/if}>
                        <input type="radio" name="sex" disabled value="限男性" title="限男性" {if condition="$house.sex eq '限男性'"}checked{/if}>
                        <input type="radio" name="sex" disabled value="限女性" title="限女性" {if condition="$house.sex eq '限女性'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>宠物</label>
                    <div class="layui-input-block">
                        <input type="radio" name="pet" disabled value="接受" title="接受" {if condition="$house.pet eq '接受'"}checked{/if}>
                        <input type="radio" name="pet" disabled value="不接受" title="不接受" {if condition="$house.pet eq '不接受'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">Bill相关</label>
                    <div class="layui-input-block">
                        {volist name='all_bill' id='vo'}
                        <input type="checkbox" class="checkbox" disabled lay-skin="primary" name="bill[{$vo.bill}]" title="{$vo.bill}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">租期</label>
                    <div class="layui-input-block">
                        <input type="radio" name="lease_term" value="灵活" title="灵活" {if condition="$house.lease_term eq '灵活'"}checked{/if}>
                        <input type="radio" name="lease_term" value="1周起租" title="1周起租" {if condition="$house.lease_term eq '1周起租'"}checked{/if}>
                        <input type="radio" name="lease_term" value="1个月起租" title="1个月起租" {if condition="$house.lease_term eq '1个月起租'"}checked{/if}>
                        <input type="radio" name="lease_term" value="3个月起租" title="3个月起租" {if condition="$house.lease_term eq '3个月起租'"}checked{/if}>
                        <input type="radio" name="lease_term" value="6个月起租" title="6个月起租" {if condition="$house.lease_term eq '6个月起租'"}checked{/if}>
                        <input type="radio" name="lease_term" value="12个月起租" title="12个月起租" {if condition="$house.lease_term eq '12个月起租'"}checked{/if}>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>房屋相关</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房屋类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="house_type" disabled value="公寓" title="公寓" {if condition="$house.house_type eq '公寓'"}checked{/if}>
                        <input type="radio" name="house_type" disabled value="别墅" title="别墅" {if condition="$house.house_type eq '别墅'"}checked{/if}>
                        <input type="radio" name="house_type" disabled value="其他" title="其他" {if condition="$house.house_type eq '其他'"}checked{/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>户型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="house_room" value="一室" title="一室" {if condition="$house.house_room eq '一室'"}checked{/if}>
                        <input type="radio" name="house_room" value="两室" title="两室" {if condition="$house.house_room eq '两室'"}checked{/if}>
                        <input type="radio" name="house_room" value="三室" title="三室" {if condition="$house.house_room eq '三室'"}checked{/if}>
                        <input type="radio" name="house_room" value="四室" title="四室" {if condition="$house.house_room eq '四室'"}checked{/if}>
                        <input type="radio" name="house_room" value="四室以上" title="四室以上" {if condition="$house.house_room eq '四室以上'"}checked{/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>卫生间</label>
                    <div class="layui-input-block">
                        <input type="radio" name="toilet" disabled value="0" title="0" {if condition="$house.toilet eq '0'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="1" title="1" {if condition="$house.toilet eq '1'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="2" title="2" {if condition="$house.toilet eq '2'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="3" title="3" {if condition="$house.toilet eq '3'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="4" title="4" {if condition="$house.toilet eq '4'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="5" title="5" {if condition="$house.toilet eq '5'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="6" title="6" {if condition="$house.toilet eq '6'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="7" title="7" {if condition="$house.toilet eq '7'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="8" title="8" {if condition="$house.toilet eq '8'"}checked{/if}>
                        <input type="radio" name="toilet" disabled value="9" title="9" {if condition="$house.toilet eq '9'"}checked{/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>家具</label>
                    <div class="layui-input-block">
                        {volist name='all_four' id='vo'}
                        <input type="checkbox" class="checkbox" disabled lay-skin="primary" name="home[{$vo.furn}]" title="{$vo.furn}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>车位</label>
                    <div class="layui-input-block">
                        <input type="radio" name="car" disabled value="0" title="0" {if condition="$house.car eq '0'"}checked{/if}>
                        <input type="radio" name="car" disabled value="1" title="1" {if condition="$house.car eq '1'"}checked{/if}>
                        <input type="radio" name="car" disabled value="2" title="2" {if condition="$house.car eq '2'"}checked{/if}>
                        <input type="radio" name="car" disabled value="3" title="3" {if condition="$house.car eq '3'"}checked{/if}>
                        <input type="radio" name="car" disabled value="4" title="4" {if condition="$house.car eq '4'"}checked{/if}>
                        <input type="radio" name="car" disabled value="5" title="5" {if condition="$house.car eq '5'"}checked{/if}>
                        <input type="radio" name="car" disabled value="6" title="6" {if condition="$house.car eq '6'"}checked{/if}>
                        <input type="radio" name="car" disabled value="7" title="7" {if condition="$house.car eq '7'"}checked{/if}>
                        <input type="radio" name="car" disabled value="8" title="8" {if condition="$house.car eq '8'"}checked{/if}>
                        <input type="radio" name="car" disabled value="9" title="9" {if condition="$house.car eq '9'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">设施</label>
                    <div class="layui-input-block">
                        {volist name='all_set' id='vo'}
                        <input type="checkbox" class="checkbox" disabled lay-skin="primary" name="furniture[{$vo.set}]" title="{$vo.set}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>

                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">周边</label>
                    <div class="layui-input-block">
                        {volist name='all_trans' id='vo'}
                        <input type="checkbox" class="checkbox" lay-skin="primary" name="sation[{$vo.trans}]" title="{$vo.trans}" disabled  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>联系方式</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>姓名</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.real_name}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>电话</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.tel}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>微信号</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.wchat}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" readonly value="{$house.email}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>图片和视频</legend>
                </fieldset>
                <div class="layui-form-item" id="pics">
                    <div class="layui-form-label">房源图片</div>
                    <div class="layui-input-block" style="width: 70%;">
                        <div class="layui-upload">
                            <div class="pic-more">
                                <ul class="pic-more-upload-list" id="slide-pc-priview">
                                    {if condition='$house.images neq null'}
                                    {volist name='house.images1' id="item" key="k"}
                                    <li class="item_img">
                                        <img src="__PUBLIC__/{$item}" class="img" >
                                        <input type="hidden" name="images[]" value="{$item}" />
                                    </li>
                                    {/volist}
                                    {else/}
                                    未上传
                                    {/if}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-mid layui-word-aux">请上传1-8张图片，默认第一个为封面图。</div>
                </div>
                <div class="layui-form-item one-pan">
                    <label class="layui-form-label">房源视频</label>
                    <ul class="pic-more-upload-list" id="slide-pc-priview1">
                        {if condition='$house.video neq null'}
                        <li class="item_img">
                            <video style="width:277px; height: 177px" class="item_img" controls="controls" autobuffer="autobuffer" id="videoss" loop="loop" src="__PUBLIC__/{$house.video}" class="img" ></video>
                            <input type="hidden" name="video" id="video" value="{$house.video}" />
                        </li>
                        {else/}
                        未上传
                        {/if}
                    </ul>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">房源简介</label>
                    <div class="layui-input-block">
                        <textarea readonly class="layui-textarea">{$house.content}</textarea>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','laydate','layedit'], function(){
        var form = layui.form
            ,upload = layui.upload
            , laydate = layui.laydate
            ,layedit = layui.layedit
            ,$ = layui.jquery;
        //日期
        laydate.render({
            elem: '#date'
        });
    });
</script>
{include file="index/footer" /}