{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
    .layui-upload-img { width: 90px; height: 90px; margin: 0; }
    .pic-more { width:100%; left; margin: 10px 0px 0px 0px;}
    .pic-more li { width:300px; float: left; margin-right: 5px;margin-top: 10px;}
    .pic-more li .layui-input { display: initial; }
    .pic-more li a { position: absolute; top: 0; display: block; }
    #slide-pc-priview .item_img img{ width:277px; height: 177px}
    #slide-pc-priview li{position: relative;}
    #slide-pc-priview li .operate{ color: #000; display: none;}
    #slide-pc-priview li .toleft{ position: absolute;top: 40px; left: 1px; cursor:pointer;}
    #slide-pc-priview li .toright{ position: absolute;top: 40px; right: 1px;cursor:pointer;}
    #slide-pc-priview li .close{position: absolute;top: 5px; right: 5px;cursor:pointer;}
    #slide-pc-priview li:hover .operate{ display: block;}
    .item_img img{ width:277px; height: 177px}
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
       <a>房源管理</a>
        {if condition='$type eq 1'}
         <a href="<?=url('house/index')?>">房源列表</a>
        {else/}
         <a href="<?=url('house/myhouse')?>">我的房源</a>
        {/if}
        <a><cite>修改房源</cite></a>
    </span>
        <div style="float:right;">
            <a href="javascript:history.go(-1);" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" action="<?=url('house/edit')?>?id={$house.id}&type={$type}" method="post">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>基础信息</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房源名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required|title" placeholder="请输入房源名称" maxlength="50"  autocomplete="off" value="{$house.title}" class="layui-input">
                        <input type="hidden" value="{$house.id}" id="id" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>地址</label>
                    <div class="layui-input-block" id="input">
                        <input type="text" name="address" id="end" autocomplete="off" class="layui-input" placeholder="请注入地址" value="{$house.address}" >
                        <input type="hidden" name="x" id="x" autocomplete="off" class="layui-input" value="{$house.x}" >
                        <input type="hidden" name="y" id="y" autocomplete="off" class="layui-input" value="{$house.y}" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房源链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="http"  placeholder="请输入房源链接" autocomplete="off" value="{$house.http}" class="layui-input" id="orderHouse" onblur="checkHouseUrl()">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>租金</label>
                    <div class="layui-input-block">
                        <input type="number" name="price" lay-verify="required|title" placeholder="请输入租金" autocomplete="off" value="{$house.price}" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>城市校区</label>
                    <div class="layui-input-inline">
                        <select name="city" lay-verify="required" lay-filter="bu_p_id">
                            <option value="">请选择城市</option>
                            {volist name='city' id='vo'}
                            <option value="{$vo.id}" {if condition="$house.city eq $vo.name"}selected{/if}>{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="school" lay-verify="required" id="school">
                            <option value="">请选择校区</option>
                            {volist name='school' id='vo'}
                            <option value="{$vo.name}" {if condition="$house.school eq $vo.name"}selected{/if}>{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>租约相关</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>入住时间</label>
                    <div class="layui-input-inline">

                        <input type="text" name="live_date" id="date" lay-verify="date" lay-verify="required" style="display:{if condition="$house.live_date_show eq 1"}none{else/}block{/if}" placeholder="请选择入住时间" value="{$house.live_date}" autocomplete="off" class="layui-input">

                    </div>
                    <div class="layui-input-inline">
                        <input type="checkbox" lay-skin="switch" lay-filter="switchTest" lay-text="随时|随时" {if condition="$house.live_date_show eq 1"}checked{else/}{/if} >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>房屋来源</label>
                    <div class="layui-input-block">
                        <input type="radio" name="source" value="中介" title="中介" {if condition="$house.source eq '中介'"}checked{/if}>
                        <input type="radio" name="source" value="学生公寓" title="学生公寓" {if condition="$house.source eq '学生公寓'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>出租方式</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" value="整租" title="整租" {if condition="$house.type eq '整租'"}checked{/if}>
                        <input type="radio" name="type" value="单间" title="单间" {if condition="$house.type eq '单间'"}checked{/if}>
                        <input type="radio" name="type" value="厅卧" title="厅卧" {if condition="$house.type eq '厅卧'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>性别限制</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男女不限" title="男女不限" {if condition="$house.sex eq '男女不限'"}checked{/if}>
                        <input type="radio" name="sex" value="限男性" title="限男性" {if condition="$house.sex eq '限男性'"}checked{/if}>
                        <input type="radio" name="sex" value="限女性" title="限女性" {if condition="$house.sex eq '限女性'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>宠物</label>
                    <div class="layui-input-block">
                        <input type="radio" name="pet" value="接受" title="接受" {if condition="$house.pet eq '接受'"}checked{/if}>
                        <input type="radio" name="pet" value="不接受" title="不接受" {if condition="$house.pet eq '不接受'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">Bill相关</label>
                    <div class="layui-input-block">
                        {volist name='all_bill' id='vo'}
                        <input type="checkbox" class="checkbox" lay-skin="primary" name="bill[{$vo.bill}]" title="{$vo.bill}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">租期</label>
                    <div class="layui-input-block">

                        <input type="radio" name="lease_term" value="12个月起租" title="12个月起租" {if condition="$house.lease_term eq '12个月起租'"}checked{/if}>

                        <input type="radio" name="lease_term" value="6个月起租" title="6个月起租" {if condition="$house.lease_term eq '6个月起租'"}checked{/if}>

                        <input type="radio" name="lease_term" value="3个月起租" title="3个月起租" {if condition="$house.lease_term eq '3个月起租'"}checked{/if}>

                        <input type="radio" name="lease_term" value="1个月起租" title="1个月起租" {if condition="$house.lease_term eq '1个月起租'"}checked{/if}>


                        <input type="radio" name="lease_term" value="1周起租" title="1周起租" {if condition="$house.lease_term eq '1周起租'"}checked{/if}>
                        <input type="radio" name="lease_term" value="灵活" title="灵活" {if condition="$house.lease_term eq '灵活'"}checked{/if}>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>房屋相关</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>户型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="house_room" value="一室" title="一室" {if condition="$house.house_room eq '一室'"}checked{/if}>
                        <input type="radio" name="house_room" value="两室" title="两室" {if condition="$house.house_room eq '两室'"}checked{/if}>
                        <input type="radio" name="house_room" value="三室" title="三室" {if condition="$house.house_room eq '三室'"}checked{/if}>
                        <input type="radio" name="house_room" value="四室" title="四室" {if condition="$house.house_room eq '四室'"}checked{/if}>
                        <input type="radio" name="house_room" value="四室以上" title="四室以上" {if condition="$house.house_room eq '四室以上'"}checked{/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>卫生间</label>
                    <div class="layui-input-block">
                        <input type="radio" name="toilet" value="0" title="0" {if condition="$house.toilet eq '0'"}checked{/if}>
                        <input type="radio" name="toilet" value="1" title="1" {if condition="$house.toilet eq '1'"}checked{/if}>
                        <input type="radio" name="toilet" value="2" title="2" {if condition="$house.toilet eq '2'"}checked{/if}>
                        <input type="radio" name="toilet" value="3" title="3" {if condition="$house.toilet eq '3'"}checked{/if}>
                        <input type="radio" name="toilet" value="4" title="4" {if condition="$house.toilet eq '4'"}checked{/if}>
                        <input type="radio" name="toilet" value="5" title="5" {if condition="$house.toilet eq '5'"}checked{/if}>
                        <input type="radio" name="toilet" value="6" title="6" {if condition="$house.toilet eq '6'"}checked{/if}>
                        <input type="radio" name="toilet" value="7" title="7" {if condition="$house.toilet eq '7'"}checked{/if}>
                        <input type="radio" name="toilet" value="8" title="8" {if condition="$house.toilet eq '8'"}checked{/if}>
                        <input type="radio" name="toilet" value="9" title="9" {if condition="$house.toilet eq '9'"}checked{/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>家具</label>
                    <div class="layui-input-block">
                        {volist name='all_four' id='vo'}
                        <input type="checkbox" class="checkbox" lay-skin="primary" name="home[{$vo.furn}]" title="{$vo.furn}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>车位</label>
                    <div class="layui-input-block">
                        <input type="radio" name="car" value="0" title="0" {if condition="$house.car eq '0'"}checked{/if}>
                        <input type="radio" name="car" value="1" title="1" {if condition="$house.car eq '1'"}checked{/if}>
                        <input type="radio" name="car" value="2" title="2" {if condition="$house.car eq '2'"}checked{/if}>
                        <input type="radio" name="car" value="3" title="3" {if condition="$house.car eq '3'"}checked{/if}>
                        <input type="radio" name="car" value="4" title="4" {if condition="$house.car eq '4'"}checked{/if}>
                        <input type="radio" name="car" value="5" title="5" {if condition="$house.car eq '5'"}checked{/if}>
                        <input type="radio" name="car" value="6" title="6" {if condition="$house.car eq '6'"}checked{/if}>
                        <input type="radio" name="car" value="7" title="7" {if condition="$house.car eq '7'"}checked{/if}>
                        <input type="radio" name="car" value="8" title="8" {if condition="$house.car eq '8'"}checked{/if}>
                        <input type="radio" name="car" value="9" title="9" {if condition="$house.car eq '9'"}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">楼宇设施</label>
                    <div class="layui-input-block">
                        {volist name='all_set' id='vo'}
                        <input type="checkbox" class="checkbox" lay-skin="primary" name="furniture[{$vo.set}]" title="{$vo.set}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>

                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">周边</label>
                    <div class="layui-input-block">
                        {volist name='all_trans' id='vo'}
                        <input type="checkbox" class="checkbox" lay-skin="primary" name="sation[{$vo.trans}]" title="{$vo.trans}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">特色</label>
                    <div class="layui-input-block">
                        {volist name='tags' id='vo'}
                        <input type="checkbox" class="checkbox tags"  lay-verify="required|des_tanlent" lay-skin="primary" name="tags[{$vo.name}]" title="{$vo.name}" {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>联系方式</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="real_name" lay-verify="required|title" placeholder="请输入姓名" value="{$house.real_name}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="tel" lay-verify="required" placeholder="请输入电话" value="{$house.tel}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>微信号</label>
                    <div class="layui-input-block">
                        <input type="text" name="wchat" lay-verify="required|title" placeholder="请输入微信号" value="{$house.wchat}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" lay-verify="emails" placeholder="请输入邮箱" value="{$house.email}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>图片和视频</legend>
                </fieldset>
                <div class="layui-form-item" id="pics">
                    <div class="layui-form-label">房源图片</div>
                    <div class="layui-input-block" style="width: 70%;">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn pull-left" id="slide-pc">选择多图</button>
                            <div class="pic-more">
                                <ul class="pic-more-upload-list" id="slide-pc-priview">
                                    {if condition='$house.images neq null'}
                                    {volist name='house.images1' id="item" key="k"}
                                    <li class="item_img">
                                        <div class="operate">
                                            <i class="close layui-icon"></i>
                                        </div>
                                        <img src="__PUBLIC__/{$item}" class="img" >
                                        <input type="hidden" name="images[]" value="{$item}" class="img_url" lay-verify="required|imgRegCaseType" />
                                    </li>
                                    {/volist}
                                    {else/}
                                    未上传
                                    {/if}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-mid layui-word-aux">请上传1-8张图片，默认第一个为封面图。</div>
                </div>
                <div class="layui-form-item one-pan">
                    <label class="layui-form-label">房源视频</label>
                    <ul class="pic-more-upload-list" id="slide-pc-priview1">
                        {if condition='$house.video neq null'}
                        <li class="item_img">
                            <div class="operate">
                                <i class="close layui-icon"></i>
                            </div>
                            <video style="width:277px; height: 177px" class="item_img" controls="controls" autobuffer="autobuffer" id="videoss" loop="loop" src="__PUBLIC__/{$house.video}" class="img" ></video>
                            <input type="hidden" name="video" id="video" value="{$house.video}" />
                        </li>
                        {else/}
                        未上传
                        {/if}
                    </ul>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <span class="layui-btn" id="uploadLogo">更新视频</span>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">房源简介</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入房源简介" maxlength="500" name="content" class="layui-textarea">{$house.content}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit>发布</button>
                        <a class="layui-btn layui-btn-primary" href="javascript:history.go(-1);">返回</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script>
        layui.link('/layui/src/autocomplete/autocomplete.css');
        layui.config({
            base: '/layui/src/autocomplete/'
            , version: false,
            debug: false,
        });
        layui.use(['form', 'jquery','upload','laydate','autocomplete'], function(){
            var form = layui.form
                ,upload = layui.upload
                , laydate = layui.laydate
                ,autocomplete = layui.autocomplete
                ,$ = layui.jquery;
            autocomplete.render({
                elem: $('#end'),
                cache: true,
                response: {code: 'code', data: 'suggestions'},
                template_val: '{{d.label}}',
                template_txt: '{{d.label}}',
                onselect: function (resp) {
                    var address = resp.label;
                    locationAD(address);
                }
            });
            let APP_ID_HERE = "QuHxU6ypXzp37Dci84o8";
            let APP_CODE_HERE = "TDu_enlm0QIblRnIl33buw";
            function locationAD(query) {
                $.getJSON("https://geocoder.api.here.com/6.2/geocode.json?gen=9&searchtext=" + query + "&app_id=" + APP_ID_HERE + "&app_code=" + APP_CODE_HERE, function (data) {
                    console.log(data);
                    var lati = data["Response"]["View"][0]["Result"][0]["Location"]["DisplayPosition"]["Latitude"];
                    var longi = data["Response"]["View"][0]["Result"][0]["Location"]["DisplayPosition"]["Longitude"];
                    $('#x').val(lati);
                    $('#y').val(longi);
                });
            }
            //日期
            laydate.render({
                elem: '#date'
            });
            //监听指定开关
            //监听指定开关
            form.on('switch(switchTest)', function(data){
                if(this.checked){
                    $('#date').val('0000-00-00');
                    $('#date').hide();
                }else{
                    $('#date').show();
                }
            });
            //自定义验证规则
            form.verify({
                title: function(value){
                    if(value.length < 2){
                        return '标题至少得2个字符啊';
                    }
                }
                ,imgRegCaseType:function () {
                    var len = $(".img_url").length;
                    if (len > 8) {
                        return "房源图片不超过8个？";
                    }
                }
                ,urlTest:function(value){
                    if(value.length >0 ){
                        var Expression=/http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;
                        if(Expression.test(value)){
                        }else{
                            return "请输入正确的链接！";
                        }
                    }
                }
                ,des_tanlent:function () {
                    var len = $(".tags:checked").length;
                    if (len > 6) {
                        return "房源标签选择数不超过6个？";
                    }
                }
            });
            form.on('select(bu_p_id)', function(data){
                console.log(data.elem); //得到select原始DOM对象
                console.log(data.value); //得到被选中的值
                console.log(data.date); //得到美化后的DOM对象
                var id=data.value;
                $.ajax({
                    type: 'POST',
                    url: "<?=url('house/getSchool')?>",
                    data: {id:id},
                    dataType:  'json',
                    success: function(data){
                        console.log(data);
                        var code=data.data;
                        $("#school").html("<option value=''>请选择校区</option>");
                        $.each(code, function(i, val) {
                            var option1 = $("<option>").val(val.name).text(val.name);
                            $("#school").append(option1);
                            form.render('select');
                        });
                        $("#school").get(0).selectedIndex=0;
                    }
                });
            });
            //户型图片上传
            upload.render({
                elem: '#uploadLogo'
                ,url: '{:url("house/upload")}'
                ,size:10240 //限制文件大小，单位 KB
                ,ext: 'mp4'
                ,accept: 'video' //限制文件大小，单位 KB
                ,before: function(input){
                    loading = layer.load(2, {
                        shade: [0.2,'#000']
                    });
                }
                ,done: function(res){
                    $('#video').val('');
                    console.log(res);
                    layer.close(loading);
                    $('#video').val(res.filepath);
                    $('#videoss').css('width','216px');
                    $('#videoss').css('height','150px');
                    $('#videoss').attr('src',"__PUBLIC__/"+res.filepath);
                    layer.msg(res.msg, {icon: 1, time: 1000});
                }
                ,error: function(res){
                    layer.msg(res.msg, {icon: 2, time: 1000});
                }
            });
        });
    </script>
    {include file="index/footer" /}
    <script>
        function checkHouseUrl(){
            var order_id = $('#orderHouse').val();
            var id = $('#id').val();
            if(order_id != '') {
                $.ajax({
                    type: "post",
                    url: "<?=url('house/checkHouseUrl')?>",
                    dataType: 'json',
                    data: {'order_id': order_id, 'id': id},
                    success: function (data) {
                        console.log(data);
                        if (data.code > 1) {
                            layer.alert(data.msg, {icon: 2});
                        } else if (data.code <= 1) {
                            layer.alert(data.msg, {icon: 1, time: 1000});
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        }
        layui.use('upload', function(){
            var $ = layui.jquery;
            var upload = layui.upload;
            upload.render({
                elem: '#slide-pc',
                url: '{:url("house/upload")}',
                size: 1024*1024*10,
                exts: 'jpg|png|jpeg|gif|bmp|JPG',
                multiple: true,
                before: function(obj) {
                    layer.msg('图片上传中...', {
                        icon: 16,
                        shade: 0.01,
                        time: 0
                    })
                },
                done: function(res) {
                    layer.close(layer.msg());//关闭上传提示窗口
                    if(res.status == 0) {
                        return layer.msg(res.message);
                    }
                    console.log(res);
                    $('#slide-pc-priview').append('' +
                        '<li class="item_img"><div class="operate"><i  class="close layui-icon"></i></div><img src="__PUBLIC__/' + res.filepath + '" class="img" ><input type="hidden" name="images[]" lay-verify="required|imgRegCaseType"  class="img_url"  value="' + res.filepath + '" /></li>');
                }
            });
        });
        //点击多图上传的X,删除当前的图片
        $("body").on("click",".close",function(){
            $(this).closest("li").remove();
        });
    </script>