{include file="index/header" /}
<style>
    .layui-table-cell{
        height:36px !important;
        line-height:36px !important;
        clear: both;
    }
    .layui-form-item {
         margin-bottom: 0px !important;
        clear: both;
        *zoom: 1;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>房源管理</a>
        <a><cite>我的房源</cite></a>
    </span>
    <div style="float:right;">
        {if condition='$addable eq true'}
        <button class="layui-btn layui-btn-primary layui-btn-sm"  onclick="addArt()"><i class="layui-icon"></i>发布房源</button>
        {/if}
    </div>
</div>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <section class="panel panel-padding" style="padding-top: 0px;padding-left: 10px;">
                <form class="layui-form layui-form-pane1">
                    <div class="layui-form-item  demoTable">
                        <div class="layui-inline" >
                            <label class="layui-form-label" style="padding: 9px 14px;width: 57px;font-weight: bold">关键字：</label>
                            <div class="layui-input-inline" style="width: 80px;margin-right: 0px;">
                                <select name="keytype" id="keytype" style="border-right: white;">
                                    <option value="1">标题</option>
                                    <option value="2">ID</option>
                                    <option value="3">地址</option>
                                    <option value="5">详情</option>
                                </select>
                            </div>
                            <div class="layui-input-inline" style="width:160px;">
                                <input type="text" name="keywords" id="keywords"  placeholder="请输入" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="padding: 9px 14px;width: 42px;font-weight: bold">状态：</label>
                            <div class="layui-input-inline" style="width:110px;">
                                <select name="status" id="statu">
                                    <option value="">请选择状态</option>
                                    <option value="1">发布</option>
                                    <option value="2">草稿</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" style="margin-right: 0px;">
                            <label class="layui-form-label" style="padding: 9px 14px;width: 42px;font-weight: bold">区域：</label>
                            <div class="layui-input-inline" style="width: 80px;margin-right: 0px;">
                                <select name="city" id="city" lay-filter="bu_p_id">
                                    <option value="">城市</option>
                                    {volist name="cityinfo" id='role'}
                                    <option value="{$role.name}">{$role.name}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="layui-input-inline" style="width:80px;">
                                <div class="layui-input-inline" style="width: 80px;">
                                    <select name="area" id="bu_c_id">
                                        <option value="">地区</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="padding: 9px 14px;width: 70px;font-weight: bold">发布日期：</label>
                            <div class="layui-input-inline" style="width:120px;">
                                <input type="text" name="time" readonly class="layui-input" id="time" placeholder="请选择发布日期">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" >
                                <span class="layui-btn layui-btn-sm " data-type="reload">查询</span>
                                <a href="<?=url('house/myhouse')?>" class="layui-btn layui-btn-warm layui-btn-sm ">刷新</a>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <section class="panel panel-padding" style="padding-top: 0px;padding-left: 10px;">
                <form class="layui-form layui-form-pane1">
                    <div class="layui-form-item  demoTable">
                        <div class="layui-inline" style="margin-top: 5px;">
                            <div class="layui-input-inline" >
                                <span class="layui-btn layui-btn-sm layui-btn-danger" data-type="getCheckData">删除</span>
                            </div>
                        </div>
                        <div class="layui-inline" style="float: right;margin-right: 60px;">
                            <label class="layui-form-label" style="padding: 9px 14px;width: 42px;font-weight: bold">排序：</label>
                            <div class="layui-input-inline" style="width:130px;">
                                <select name="order" id="order"  lay-filter="reOrder">
                                    <option value="">排序方式</option>
                                    <option value="1">点击量从多到少</option>
                                    <option value="2">点击量从少到多</option>
                                    <option value="3">收藏量从多到少</option>
                                    <option value="4">收藏量从少到多</option>
                                    <option value="5">发布时间从近到远</option>
                                    <option value="6">发布时间从远到近</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <section class="panel panel-padding">
                <table lay-skin="line" class="layui-table" lay-filter="demo" lay-data="{height: 'full-200', cellMinWidth:60, url:'/xcx/house/myData/', limit:50,limits:[50] ,id: 'testReload',page:true}" >
                    <thead>
                    <tr>
                        <th lay-data="{type:'checkbox', width:48}">id</th>
                        <th lay-data="{field:'dsn' ,width:110}">房源编号</th>
                        <th lay-data="{field:'title',width:230}">标题</th>
                        <th lay-data="{field:'city',width:80}">城市</th>
                        <th lay-data="{field:'area',width:120}">区域</th>
                        <th lay-data="{field:'collection',width:70}">收藏</th>
                        <th lay-data="{field:'view',width:70}">点击</th>
                        <th lay-data="{field:'statuss',width:70}">状态</th>
                        {if condition='$offable eq true'}
                        <th lay-data="{field:'status',templet: '#status',width:110}">上下线</th>
                        {/if}
                        <th lay-data="{field:'cdate',width:105}">添加时间</th>
                        <th lay-data="{field:'user_id',width:120}">发布人</th>
                        <th lay-data="{ width:116, toolbar: '#barDemo'}">操作</th>
                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    {if condition='$editable eq true'}
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    {/if}
    <a class="layui-btn layui-btn-xs  layui-btn-warm" lay-event="alert">详情</a>
<!--    {if condition='$delable eq true'}-->
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--    {/if}-->
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="sex" lay-skin="switch" value="{{d.id}}" lay-text="上线|草稿" lay-filter="statusDemo" {{ d.status == 1 ? 'checked' : '' }} >
</script>
<script>
    layui.use(['table','laydate','form','element'], function(){
        var table = layui.table
            ,form = layui.form
            ,element = layui.element
            ,laydate = layui.laydate;
        laydate.render({
            elem: '#time'
            ,range: true
        });
        form.on('select(bu_p_id)', function(data){
            var city=data.value;
            $.ajax({
                type: 'POST',
                url: "<?=url('house/getarea')?>?city="+city,
                data: {city:city},
                dataType:  'json',
                success: function(data){
                    var code=data.data;
                    console.log(code);
                    $("#bu_c_id").html("<option value=''>请选择城市</option>");
                    $.each(code, function(i, val) {
                        var option1 = $("<option>").val(val.area).text(val.area);
                        $("#bu_c_id").append(option1);
                        form.render('select');
                    });
                    $("#bu_c_id").get(0).selectedIndex=0;
                }
            });
        });
        form.on('select(reOrder)', function(data){
            console.log(data);
            var order = data.value;
            var keywords = $('#keywords').val();
            var keytype = $('#keytype').val();
            var city = $('#city').val();
            var status = $('#statu').val();
            var area = $('#bu_c_id').val();
            var time = $('#time').val();
            table.reload('testReload', {
                url: '/xcx/house/myData/'
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    keywords: keywords,
                    keytype: keytype,
                    order: order,
                    city: city,
                    area: area,
                    status: status,
                    time: time
                },
                success:function (data) {
                    console.log(data);
                }
            });
        });
        //监听是否开启操作
        form.on('switch(statusDemo)', function(obj){
            var id = this.value;
            //如果选中状态是true,后台数据将要改为显示
            var change = obj.elem.checked;
            if(change){
                change = 1;
            }else{
                change = 0;
            }
            $.ajax({
                type: 'POST',
                url: "<?=url('house/onstatus')?>?id="+id+ "&change="+change,
                dataType:  'json',
                success: function(data){
                    layer.msg(data.msg,{
                        time: 1500
                    },function () {
                        location.reload();
                    });
                }
            });
        });
        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var ids = '';
                var checkStatus = table.checkStatus('testReload')
                    ,data = checkStatus.data;
                if(data.length <= 0){
                    layer.msg('请至少选择一条记录！');
                }else{
                    layer.confirm('确定批量删除房源记录？删除后不可恢复！', {
                        btn : [ '确定', '取消' ]//按钮
                    }, function() {
                        for(var i=0;i<data.length;i++){
                            ids+=','+checkStatus.data[i].id;
                        }
                        $.ajax({
                            type: 'POST',
                            url: "<?=url('house/delBatch')?>?ids="+ids,
                            data: {ids:ids},
                            dataType:  'json',
                            success: function(data){
                                if(data.code == '1'){
                                    layer.alert('批量删除成功！', {
                                        icon: 1,
                                        skin: 'layer-ext-moon',
                                        time: 2000,
                                        end: function(){
                                            window.location.href='<?=url("house/myhouse")?>';
                                        }
                                    });
                                }
                            }
                        });
                    },function(){
                        layer.msg('您已取消该操作！');
                    });
                }
            },
            reload: function(){
                var keywords = $('#keywords').val();
                var keytype = $('#keytype').val();
                var city = $('#city').val();
                var status = $('#statu').val();
                var area = $('#bu_c_id').val();
                var time = $('#time').val();
                table.reload('testReload', {
                    url: '/xcx/house/myData/'
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keywords: keywords,
                        keytype: keytype,
                        city: city,
                        area: area,
                        status: status,
                        time: time
                    },
                    success:function (data) {
                        console.log(data);
                    }
                });
            }

        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var id = data.id;
            if(obj.event === 'edit'){
                window.location.href='<?=url("house/edit")?>?id='+id+'&type=2';
            }else if(obj.event === 'alert'){
                layer.open({
                    type: 2,
                    title: '查看详情',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: "<?=url('house/detail')?>?id="+id
                });
            }else if(obj.event === 'tags'){
                window.location.href='<?=url("house/tags")?>?id='+id;
            } else if(obj.event === 'del'){
                layer.confirm('确定删除该房源？删除后不可恢复！', {
                    btn : [ '确定', '取消' ]//按钮
                }, function() {
                    $.ajax({
                        'type':"get",
                        'url':"<?=url('house/del')?>",
                        'data':{id:id},
                        'success':function (result) {
                            if(result.code < 1){
                                layer.msg(result.msg);
                            }else {
                                layer.msg(result.msg);
                                layer.open({
                                    title: '信息'
                                    ,content: result.msg
                                    ,yes: function(index){
                                        layer.close(index);
                                        window.location.href='<?=url("house/myhouse")?>';
                                    }
                                    ,cancel:function (index) {
                                        layer.close(index);
                                        window.location.href='<?=url("house/myhouse")?>';
                                    }
                                });
                            }
                        },
                        'error':function () {
                            console.log('error');
                        }
                    })
                },function(){
                    layer.msg('您已取消该操作！',{
                        time: 2000
                    });
                });
            }
        });
    });
    function addArt() {
        window.location.href='<?=url("house/add")?>';
    }
</script>
{include file="index/footer" /}