{include file="index/header" /}
<style>
    .dragPic{
        width:704px;
        margin:50px auto;
    }
    .dragPicBox{
        width:704px;
        background-color:#c0ebd7;
        position:relative;
    }
    .dragPic .item{
        display: inline;
        float: left;
        height: 86px;
        width: 86px;
        cursor: move;

    }
    .dragPic .item span{
        width:80px;
        height:80px;
        display:block;
        margin:3px;
        border: 1px solid #CDCDCB;
    }
    .dragPic .item:hover span,.dragPic .selected span{
        border-color:#FF0000;
    }
    .dragPic .item.selected{
        border-color:#FF0000;
    }
    .dragPic span img{
        display: block;
        height: 80px;
        width: 80px;
    }
    .dragPic .spacing{
        position:absolute;
        width:6px;
        height:82px;
        background-color:#1ABC9C;
        margin-top:3px;
    }

</style>
<body>
<div class="dragPic">
    <div class="dragPicBox clearfix" node-type="box">
        <div class="item" node-type="imgW" ><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (1).png" /></span></div>
        <div class="item" node-type="imgW"><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (2).png" /></span></div>
        <div class="item" node-type="imgW"><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (3).png" /></span></div>
        <div class="item" node-type="imgW"><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (4).png" /></span></div>
        <div class="item" node-type="imgW"><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (5).png" /></span></div>
        <div class="item" node-type="imgW"><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (6).png" /></span></div>
        <div class="item" node-type="imgW"><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (7).png" /></span></div>
        <div class="item" node-type="imgW"><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (8).png" /></span></div>
        <div class="item" node-type="imgW"><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (9).png" /></span></div>
        <div class="item" node-type="imgW"><span><img src="__PUBLIC__/uploads/ceshi/20200710/1 (10).png" /></span></div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var that={
            imgaes:{},
            box:"",
            aveWidth:86,
            aveHeight:86,
            moveObj:'',
            status:false
        }
        var spacingHtml = '<div node-type="spacing"> </div>';
        var C = {
            initState:function(){
                that.images = $('[node-type="imgW"]');
                that.box= $('[node-type="box"]');

            }
        }
        var bindDOMFuncs = {
            'imgMouseDown':function(e){
                //var evt=fixEvent(e);
                //阻止浏览器默认行为
                var evt=e;
                //if(evt.which && evt.button==0){
                that.follow=true;
                $(that.images).bind('dragstart',bindDOMFuncs['unDrag']);
                //}else{
                //    $(that.images).unbind('dragstart',bindDOMFuncs['unDrag']);
                //}

                $(that.images).removeClass('selected');

                $(this).addClass('selected');

                $(that.box).append(spacingHtml);
                //获得要移动的节点
                that.moveObj = this;

                $(that.images).bind('mousemove',bindDOMFuncs['imgMouseMove']);
            },
            'imgMouseMove':function(e){
                if(that.follow){
                    var disX = e.pageX-$(that.box).offset().left;//鼠标位置距离父节点左边的距离
                    var disY = e.pageY-$(that.box).offset().top;//鼠标位置距离父节点上边的距离
                    //判断第一张图片且向左移的情况
                    var posLeft = $(that.moveObj).position().left+that.aveWidth/2;
                    var posTop = $(that.moveObj).position().top;
                    if(that.moveObj){
                        if((that.moveObj == $('[node-type="imgW"]')[0]) && disX<=posLeft && disY<=posTop+that.aveHeight){
                            that.status = false;
                            return;

                        }
                        if((that.moveObj == $('[node-type="imgW"]')[that.images.length-1]) && disX>=posLeft && disY>=posTop){
                            that.status = false;
                            return;


                        }
                    }
                    //确定移动目标位置
                    var colNum = Math.round(disX/that.aveWidth);
                    var rowNum = parseInt(disY/that.aveHeight);
                    var left = colNum*that.aveWidth;
                    var top =  rowNum*that.aveHeight;

                    $('[node-type="spacing"]').css({
                        'left':left+'px',
                        'top':top+'px'
                    });
                    $('[node-type="spacing"]').addClass('spacing');
                    that.status = true;
                }
            },
            'imgMouseUp':function(e){
                that.follow=false;
                if(!that.status){
                    return;
                }
                that.status = false;
                $(that.images).unbind('dragstart',bindDOMFuncs['unDrag']);

                var sLeft = $('[node-type="spacing"]').position().left;
                var sTop = $('[node-type="spacing"]').position().top;
                var xNum = sLeft/that.aveWidth;
                var yNum = sTop/that.aveHeight;
                var index = yNum*8+xNum;

                if(index == 0){
                    var clickObj = $('[node-type="imgW"]')[index];
                    that.moveObj && $(clickObj).before(that.moveObj);
                }else{
                    var clickObj = $('[node-type="imgW"]')[index-1];
                    that.moveObj && $(clickObj).after(that.moveObj);
                }
                $('[node-type="spacing"]').remove();

                $(that.images).unbind('mousemove',bindDOMFuncs['imgMouseMove']);
                that.moveObj = null;

            },
            'unDrag':function(e){
                if(e.stopPropagation){
                    e.preventDefault();
                    e.stopPropagation();
                }else{
                    e.cancelBubble = true;
                    e.returnValue = false;
                }
                return false;
            },
            'imgMouseLeave':function(e){
                $('[node-type="spacing"]') && $('[node-type="spacing"]').hide();
            },
            'imgMouseEnter':function(e){
                $('[node-type="spacing"]') && $('[node-type="spacing"]').show();
            },
            'docMouseUp':function(e){
                $('[node-type="spacing"]') && $('[node-type="spacing"]').remove();
            },
            'imgClick':function(e){
                if(e.ctrlKey){
                    $(this).addClass('selected');
                    that.moveObj.push(this);
                }else{
                    //that.moveObj = null;
                    $(that.images).removeClass('selected');
                    $(this).addClass('selected');
                    //that.moveObj = this;
                }
            }
        }
        var bindDom=function(){
            $(that.images).bind('mousedown',bindDOMFuncs['imgMouseDown']);
            $(that.box).bind('mouseup',bindDOMFuncs['imgMouseUp']);
            $(that.box).bind('mouseenter',bindDOMFuncs['imgMouseEnter']);
            $(that.box).bind('mouseleave',bindDOMFuncs['imgMouseLeave']);
            $(document).bind('mouseup',bindDOMFuncs['docMouseUp']);
            //$(that.images).bind('click',bindDOMFuncs['imgClick']);


        }
        var init = function(){
            C.initState();
            bindDom();
        }
        init();
    });
</script>
{include file="index/footer" /}