{include file="index/header" /}
<style>
    .layui-table-cell{
        height:36px !important;
        line-height:36px !important;
        clear: both;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>房源管理</a>
        <a><cite>房源列表</cite></a>
    </span>
</div>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li>
            <a href='<?=url("house/index")?>'>后台房源</a>
            </li>
        <li class="layui-this">
            房东房源</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <section class="panel panel-padding" style="padding-top: 10px;padding-left: 10px;">
                <form class="layui-form layui-form-pane1">
                    <div class="layui-form-item  demoTable">
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 250px;">
                                <input type="text" name="keywords" id="keywords"  placeholder="请输入订单编号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="ad_role" id="service">
                                    <option value="">请选择订单区域</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="ad_role" id="status">
                                    <option value="">请选择订单状态</option>
                                    <option value="1">未安排</option>
                                    <option value="2">已安排</option>
                                    <option value="3">已完成</option>
                                    <option value="4">未完成</option>
                                    <option value="5">已结算</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="cus_opptime" readonly class="layui-input" id="live_time" placeholder="请选择截止时间">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span class="layui-btn" data-type="reload">查询</span>
                                <!--                                <a href="<?=url('order/order')?>" class="layui-btn layui-btn-warm">刷新</a>-->
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <section class="panel panel-padding">
                <table lay-skin="line" class="layui-table" lay-filter="demo" lay-data="{height: 'full-200', cellMinWidth:60, url:'/xcx/house/houseData/', limit:20,limits:[20,30,50] ,id: 'testReload',page:true}" >
                    <thead>
                    <tr>
                        <th lay-data="{field:'dsn', width:150, sort: true}">房源编号</th>
                        <th lay-data="{field:'title'}">房源标题</th>
                        <th lay-data="{field:'city'}">城市</th>
                        <th lay-data="{field:'address'}">地址</th>
                        <th lay-data="{field:'school'}">所属区域</th>
                        <th lay-data="{field:'price', sort: true}">租金</th>
                        <th lay-data="{field:'real_name'}">姓名</th>
                        <th lay-data="{field:'wchat'}">微信号</th>
                        <th lay-data="{field:'tel'}">手机号</th>
                        <th lay-data="{field:'top', templet: '#switch',unresize: true}">是否置顶</th>
                        <th lay-data="{field:'tj', templet: '#switchTpl',unresize: true}">是否推荐</th>
                        <th lay-data="{field:'status'}">状态</th>
                        <th lay-data="{field:'cdate'}">添加时间</th>
                        <th lay-data="{ width:220, toolbar: '#barDemo'}">操作</th>
                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>
</div>
<input type="text" id="copy" style="z-index: -1;opacity: 0;">
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="details"><i class="layui-icon">&#xe705;</i>查看</a>
</script>
<script>
    layui.use(['table','laydate','form','element'], function(){
        var table = layui.table
            ,form = layui.form
            ,element = layui.element
            ,laydate = layui.laydate;
        laydate.render({
            elem: '#live_time'
            ,range: true
        });
        var $ = layui.$, active = {
            reload: function(){
                var keywords = $('#keywords').val();
                var status = $('#status').val();
                var step = $('#step').val();
                var service = $('#service').val();
                var live_time = $('#live_time').val();
                //执行重载
                table.reload('testReload', {
                    url: '/admin/order/orderData/'
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keywords: keywords,
                        status: status,
                        city: service,
                        step: step,
                        live_time: live_time
                    },
                    success:function (data) {
                        console.log(data);
                    }
                });
            }

        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var crm_id = data.crm_id;
            var step = data.order_step;
            if(obj.event === 'edit'){
                switch (step) {
                    case 1:
                        window.location.href='<?=url("order/edit1")?>?crm_id='+crm_id;
                        break;
                    case 2:
                        window.location.href='<?=url("order/edit2")?>?crm_id='+crm_id;
                        break;
                    case 3:
                        window.location.href='<?=url("order/edit3")?>?crm_id='+crm_id;
                        break;
                }

            }else if(obj.event === 'alert'){
                var text = '__ROOTDOMAIM__/oa/index/order?crm_id='+crm_id;
                $('#copy').val(text);
                $('#copy').select();
                document.execCommand("Copy");
                layer.msg('复制成功，快去分享到群里进行派单吧！');
                // }else if(obj.event === 'edit1'){
                //     window.location.href='<?=url("order/updoc1")?>?crm_id='+crm_id;
            }else if(obj.event === 'details'){
                layer.open({
                    type: 2,
                    title: '查看详情',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: "<?=url('order/orderDet')?>?crm_id="+crm_id
                });
            }else if(obj.event === 'cancel'){
                layer.confirm('看房员是否与您达成共识取消此订单分配？', {
                    btn : [ '是', '否' ]//按钮
                }, function() {
                    $.ajax({
                        'type':"get",
                        'url':"<?=url('order/cancelOrder')?>",
                        'data':{crm_id:crm_id},
                        'success':function (result) {
                            if(result.code < 1){
                                layer.msg(result.msg);
                            }else {
                                layer.msg(result.msg);
                                layer.open({
                                    title: '信息'
                                    ,content: result.msg
                                    ,yes: function(index){
                                        layer.close(index);
                                        window.location.href='<?=url("order/order")?>';
                                    }
                                    ,cancel:function (index) {
                                        layer.close(index);
                                        window.location.href='<?=url("order/order")?>';
                                    }
                                });
                            }
                        },
                        'error':function () {
                            console.log('error');
                        }
                    })
                },function(){
                    layer.msg('您已取消该操作！',{
                        time: 2000
                    });
                });

            } else if(obj.event === 'del'){
                layer.confirm('确定删除该订单？删除后不可恢复！', {
                    btn : [ '确定', '取消' ]//按钮
                }, function() {
                    $.ajax({
                        'type':"get",
                        'url':"<?=url('order/del')?>",
                        'data':{crm_id:crm_id},
                        'success':function (result) {
                            if(result.code < 1){
                                layer.msg(result.msg);
                            }else {
                                layer.msg(result.msg);
                                layer.open({
                                    title: '信息'
                                    ,content: result.msg
                                    ,yes: function(index){
                                        layer.close(index);
                                        window.location.href='<?=url("order/order")?>';
                                    }
                                    ,cancel:function (index) {
                                        layer.close(index);
                                        window.location.href='<?=url("order/order")?>';
                                    }
                                });
                            }
                        },
                        'error':function () {
                            console.log('error');
                        }
                    })
                },function(){
                    layer.msg('您已取消该操作！',{
                        time: 2000
                    });
                });
            }
        });
    });
    function addArt() {
        window.location.href='<?=url("order/create1")?>';
    }
    function switchOrder(id) {
        layui.use(['table','jquery'], function(){
            var table = layui.table;
            table.reload('testReload', {
                url: '/admin/order/orderData/'
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    step: id,
                },
                success:function (data) {
                    console.log(data);
                }
            });
        })
    }

</script>
{include file="index/footer" /}