{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>{$lable.gongsiguanli}</a>
        <a href="<?=url('corp/index')?>">{$lable.gongsiliebiao}</a>
        <a><cite>{$lable.tianjia}</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('corp/index')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                {$lable.back}</a>
        </div>
    </div>
    <hr/>
    <div class="layui-tab">
        <div class="layui-tab-content">
            <!--基本信息-->
            <div class="layui-tab-item layui-show">
                <div style="margin: 10px">
                    <div style="padding: 15px;">
                        <form class="layui-form" action="<?=url('corp/add')?>" method="post">
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.gongsimingcheng}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="cp_name" lay-verify="required|title" placeholder="{$lable.pleaseInput}" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>ABN</label>
                                <div class="layui-input-block">
                                    <input type="text" name="cp_identity" lay-verify="required|title" placeholder="{$lable.pleaseInput}" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.address}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="cp_address" lay-verify="required|title" placeholder="{$lable.pleaseInput}" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item one-pan">
                                <label class="layui-form-label"><span style="color: red;">*</span>Logo</label>
                                <div class="layui-upload-drag" id="uploadLogo" style="display:inline-block;">
                                    <image id="logoPre">
                                        <input type="hidden" lay-verify="imgReg" name="cp_logo" id="cp_logo" value=""/>
                                    </image>
                                    <div id="display">
                                        <i class="layui-icon"></i>
                                        <p>{$lable.shangchuan}</p>
                                    </div>
                                </div>
                                <div class="one">
                                    <div class="layui-form-mid layui-word-aux" style="margin-left: 39px; ">{$lable.tupianRemark}</div>
                                </div>
                            </div>
                             <div class="layui-form-item one-pan">
                                <label class="layui-form-label"><span style="color: red;">*</span>miniLogo</label>
                                <div class="layui-upload-drag" id="uploadLogom" style="display:inline-block;">
                                    <image id="logoPrem">
                                        <input type="hidden" lay-verify="imgReg" name="minilogo" id="minilogo" value=""/>
                                    </image>
                                    <div id="display">
                                        <i class="layui-icon"></i>
                                        <p>{$lable.shangchuan}</p>
                                    </div>
                                </div>
                                <div class="one">
                                    <div class="layui-form-mid layui-word-aux" style="margin-left: 39px; ">{$lable.tupianRemark}</div>
                                </div>
                            </div>
                            <div class="layui-form-item one-pan">
                                <label class="layui-form-label"><span style="color: red;">*</span>主页背景图</label>
                                <div class="layui-upload-drag" id="uploadImg" style="display:inline-block;">
                                    <image id="imgPre">
                                        <input type="hidden" lay-verify="imgReg" name="backimg" id="backimg" value=""/>
                                    </image>
                                    <div id="displays">
                                        <i class="layui-icon"></i>
                                        <p>{$lable.shangchuan}</p>
                                    </div>
                                </div>
                                <div class="one">
                                    <div class="layui-form-mid layui-word-aux" style="margin-left: 39px; ">{$lable.tupianRemark}图片规格1125*840</div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>前端颜色</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="colour" value="1" title="浅色" checked>
                                    <input type="radio" name="colour" value="2" title="深色">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.youxiang}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="cp_email" lay-verify="required|title" placeholder="{$lable.pleaseInput}" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.dianhua}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="cp_tel" lay-verify="required|title" placeholder="{$lable.pleaseInput}" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{$lable.desc}</label>
                                <div class="layui-input-block">
                                    <textarea placeholder="{$lable.pleaseInput}" maxlength="500" name="cp_desc" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="saveInfo">{$lable.fabu}</button>
                                    <a class="layui-btn layui-btn-primary" href="<?=url('corp/index')?>">{$lable.back}</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,$ = layui.jquery;
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
        });
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("xcx/corp/upload")}'
            ,exts: 'PNG|JPG'
            ,size: '30000'
            ,done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLIC__/"+res.path);
                console.log(res);
                $('#cp_logo').val('' +res.path + '');
            }
        }); 
         upload.render({
            elem: '#uploadLogom'
            ,url: '{:url("xcx/corp/upload")}'
            ,exts: 'PNG|JPG'
            ,size: '30000'
            ,done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPrem').css('width','216px');
                $('#logoPrem').css('height','150px');
                $('#logoPrem').attr('src',"__PUBLIC__/"+res.path);
                console.log(res);
                $('#minilogo').val('' +res.path + '');
            }
        }); 
        upload.render({
            elem: '#uploadImg'
            ,url: '{:url("xcx/corp/upload")}'
            ,exts: 'PNG|JPG'
            ,size: '30000'
            ,done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                $('#uploadImg').removeClass('layui-upload-drag');
                $('#imgPre').css('width','216px');
                $('#imgPre').css('height','150px');
                $('#imgPre').attr('src',"__PUBLIC__/"+res.path);
                console.log(res);
                $('#backimg').val('' +res.path + '');
            }
        });
    });
</script>
{include file="index/footer" /}