{include file="index/header" /}
<style>
    .logoPre{
        width: 216px;
        height: 150px;
    }
    .casePre{
        display:none;
    }
</style>
<div class="layui-body">
    <div class="layui-tab">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div style="margin: 10px">
                    <div style="padding: 15px;">
                        <form class="layui-form" method="post">
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.gongsimingcheng}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="cp_name" lay-verify="required|title" readonly value="{$corp.cp_name}" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>ABN</label>
                                <div class="layui-input-block">
                                    <input type="text" name="cp_identity" lay-verify="required|title" readonly value="{$corp.cp_identity}"  autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.address}</label>
                                <div class="layui-input-block">
                                    <input type="text" readonly name="cp_address" lay-verify="required|title" value="{$corp.cp_address}"  autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item one-pan">
                                <label class="layui-form-label"><span style="color: red;">*</span>Logo</label>
                                <div {if condition="$corp.cp_logo eq null"}class="layui-upload-drag"{/if} style="display:inline-block;" >
                                <image id="logoPre"
                                       {if condition="$corp.cp_logo eq null"}
                                       {else/}
                                src="__PUBLIC__/{$corp.cp_logo}"
                                class="logoPre"
                                {/if}
                                >
                                <input type="hidden" lay-verify="imgReg" name="b_cover" id="b_cover" value="{$corp.cp_logo}"/>
                                </image>
                            </div>
                                <div class="one">
                                    <div class="layui-form-mid layui-word-aux" style="margin-left: 39px; ">{$lable.tupianRemark}</div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.youxiang}</label>
                                <div class="layui-input-block">
                                    <input type="text" readonly name="cp_email" lay-verify="required|title" value="{$corp.cp_email}"  autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.dianhua}</label>
                                <div class="layui-input-block">
                                    <input type="text" readonly name="cp_tel" lay-verify="required|title" value="{$corp.cp_tel}"  autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">{$lable.desc}</label>
                                <div class="layui-input-block">
                                    <textarea readonly maxlength="500" name="cp_desc" class="layui-textarea">{$corp.cp_desc}</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="index/footer" /}