{include file="index/header" /}
<style>
    .layui-table-cell{
        height:36px !important;
        line-height:36px !important;
        clear: both;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>{$lable.gongsiguanli}</a>
        <a><cite>{$lable.gongsiliebiao}</cite></a>
    </span>
    <div style="float:right;">
        {if condition='$addable eq true'}
        <button class="layui-btn layui-btn-primary layui-btn-sm"  onclick="addBanner()"><i class="layui-icon"></i>{$lable.tianjia}</button>
        {/if}
    </div>
</div>
<hr/>
<section class="panel panel-padding">
    <table lay-skin="line" class="layui-table" lay-filter="demo" lay-data="{height: 'full-100', cellMinWidth:30, url:'/xcx/corp/corpData/', limit:50,limits:[50] ,id: 'testReload',page:true}" >
        <thead>
        <tr>
            <th lay-data="{field:'cp_id',width:80}">Id</th>
            <th lay-data="{field:'cp_name'}">{$lable.gongsimingcheng}</th>
            <th lay-data="{field:'cp_address'}">{$lable.address}</th>
            <th lay-data="{field:'cp_email'}">{$lable.youxiang}</th>
            <th lay-data="{field:'cp_tel'}">{$lable.dianhua}</th>
            <th lay-data="{field:'cp_count'}">{$lable.yuangongshu}</th>
            <th lay-data="{field:'cp_addtime'}">{$lable.tijiaoshijian}</th>
            <th lay-data="{align:'left',width:188, toolbar: '#barDemo'}">{$lable.caozuo}</th>
        </tr>
        </thead>
    </table>
</section>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="review">{$lable.xiangqing}</a>
    {if condition='$editable eq true'}
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">{$lable.bianji}</a>
    {/if}
    {if condition='$delable eq true'}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">{$lable.delete}</a>
    {/if}
</script>
<script type="text/javascript">

    function addBanner(){
        window.location.href='<?=url('corp/add')?>';
    }
</script>
<script>
    layui.use(['table','laydate','form'], function(){
        var table = layui.table
            ,form = layui.form
            ,laydate = layui.laydate;
        //监听是否开启操作
        form.on('switch(topDemo)', function(obj){
            var id = this.value;
            //如果选中状态是true,后台数据将要改为显示
            var change = obj.elem.checked;
            if(change){
                change = 1;
            }else{
                change = 0;
            }
            $.ajax({
                type: 'POST',
                url: "<?=url('help/status')?>?id="+id+ "&change="+change,
                dataType:  'json',
                success: function(data){
                    // console.log(data.msg);
                    layer.msg(data.msg);
                }
            });
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var h_id = data.cp_id;
            if(obj.event === 'review'){
                layer.open({
                    type: 2,
                    title: '{$lable.xiangqing}',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: "<?=url('corp/detail')?>?cp_id="+h_id
                });
            }else if(obj.event === 'edit'){
                window.location.href='<?=url("corp/edit")?>?cp_id='+h_id;
            }else if(obj.event === 'del'){
                layer.confirm('确定删除该公司？删除后不可恢复！', {
                    btn : [ '{$lable.sure}', '{$lable.cancel}' ]//按钮
                }, function() {
                    $.ajax({
                        'type':"get",
                        'url':"<?=url('corp/del')?>",
                        'data':{cp_id:h_id},
                        'success':function (result) {
                            if(result.code < 1){
                                layer.msg(result.msg);
                            }else {
                                layer.msg(result.msg);
                                layer.open({
                                    title: '{$lable.deleteSuc}'
                                    ,content: result.msg
                                    ,yes: function(index){
                                        layer.close(index);
                                        window.location.href='<?=url("corp/index")?>';
                                    }
                                    ,cancel:function (index) {
                                        layer.close(index);
                                        window.location.href='<?=url("corp/index")?>';
                                    }
                                });
                            }
                        },
                        'error':function () {
                            console.log('error');
                        }
                    })
                },function(){
                    layer.msg('{$lable.quxiaocaozuo}！',{
                        time: 2000
                    });
                });
            }
        });
    });
</script>
{include file="index/footer" /}