{include file="index/header" /}
<style>
    .layui-table-cell{
        height:36px !important;
        line-height:36px !important;
        clear: both;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>{$lable.gongsiguanli}</a>
        <a><cite>{$lable.wodegongsi}</cite></a>
    </span>
</div>
<hr/>
<section class="panel panel-padding">
    <table lay-skin="line" class="layui-table" lay-filter="demo" lay-data="{height: 'full-90', cellMinWidth:30, url:'/xcx/corp/myData/', limit:50,limits:[50] ,id: 'testReload',page:true}" >
        <thead>
        <tr>
            <th lay-data="{field:'cp_id',width:80}">Id</th>
            <th lay-data="{field:'cp_name'}">{$lable.gongsimingcheng}</th>
            <th lay-data="{field:'cp_address'}">{$lable.address}</th>
            <th lay-data="{field:'cp_email'}">{$lable.youxiang}</th>
            <th lay-data="{field:'cp_tel'}">{$lable.dianhua}</th>
            <th lay-data="{field:'cp_count'}">{$lable.yuangongshu}</th>
            <th lay-data="{field:'cp_addtime'}">{$lable.tijiaoshijian}</th>
            <th lay-data="{align:'left',width:185, toolbar: '#barDemo'}">{$lable.caozuo}</th>
        </tr>
        </thead>
    </table>
</section>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="review">{$lable.xiangqing}</a>
    {if condition='$editable eq true'}
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">{$lable.bianji}</a>
    {/if}
    {if condition='$addable eq true'}
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="add">{$lable.tianjiayuangong}</a>
    {/if}
</script>
<script>
    layui.use(['table','laydate','form'], function(){
        var table = layui.table
            ,form = layui.form;
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var h_id = data.cp_id;
            if(obj.event === 'review'){
                layer.open({
                    type: 2,
                    title: '{$lable.xiangqing}',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: "<?=url('corp/detail')?>?cp_id="+h_id
                });
            }else if(obj.event === 'edit'){
                window.location.href='<?=url("corp/edit")?>?cp_id='+h_id+'&type=2';
            }else if(obj.event === 'add'){
                window.location.href='<?=url("corp/adda")?>?cp_id='+h_id;
            }
        });
    });
</script>
{include file="index/footer" /}