{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
    .logoPre{
        width: 216px;
        height: 150px;
    }
    .casePre{
        display:none;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>订单管理</a>
        <a><cite>修改订单</cite></a>
    </span>
    </div>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" action="<?=url('clean/edit')?>?cc_id={$clean.cc_id}" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>订单编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="cc_order_id" lay-verify="required|title" placeholder="请输入订单编号" autocomplete="off" value="{$clean.cc_order_id}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>客户编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="cc_user_name" lay-verify="required|title" placeholder="请输入客户编号" autocomplete="off" value="{$clean.cc_user_name}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>收款时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required"  name="cc_pay_time" readonly id="alert" value="{$clean.cc_pay_time|default=''}" placeholder="请选择截止时间">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">截止时间为澳洲时间。</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">付款方式</label>
                    <div class="layui-input-inline">
                        <select name="cc_pay_type" lay-filter="cc_pay_type">
                            <option value="">请选择客户付款方式</option>
                            <option value="1" {if condition="$clean.cc_pay_type eq 1"}selected{/if}>淘宝</option>
                            <option value="2" {if condition="$clean.cc_pay_type eq 2"}selected{/if}>转账</option>
                            <option value="3" {if condition="$clean.cc_pay_type eq 3"}selected{/if}>汇款</option>
                        </select>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">客户付给我们的钱的付款方式</div>
                </div>
                <div class="layui-form-item" pane  id="order_price">
                    <label class="layui-form-label"><span style="color: red;">*</span>押金金额</label>
                    <div class="layui-input-inline">
                        <input type="number" value="{$clean.cc_price|default=''}" class="layui-input" lay-verify="required"  name="cc_price" id="cc_price" placeholder="{if condition="$clean.cc_pay_type eq 1"}￥{else/}${/if}">
                    </div>
                    <div class="layui-form-mid layui-word-aux" id="price_unit" style="color:red !important;">单位：{if condition="$clean.cc_pay_type eq 1"}人民币（￥）{else/}澳币（$）{/if}</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>租期</label>
                    <div class="layui-input-inline">
                        <select name="cc_rent_term"  lay-verify="required">
                            <option value="">请选择租期</option>
                            <option value="6" {if condition="$clean.cc_rent_term eq 6"}selected{/if}>6个月</option>
                            <option value="12" {if condition="$clean.cc_rent_term eq 12"}selected{/if}>12个月</option>
                            <option value="18" {if condition="$clean.cc_rent_term eq 18"}selected{/if}>18个月</option>
                            <option value="24" {if condition="$clean.cc_rent_term eq 24"}selected{/if}>24个月</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">付款ID</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="cc_pay_id" value="{$clean.cc_pay_id}" placeholder="请输入付款ID，如淘宝订单号">
                    </div>
                </div>
                <div class="layui-form-item one-pan">
                    <label class="-form-label">收款凭证</label>

                    <div {if condition="$clean.cc_receipt eq null"}class="layui-upload-drag"{/if} id="uploadLogo" style="display:inline-block;" >
                    <image id="logoPre"
                           {if condition="$clean.cc_receipt eq null"}
                           {else/}
                    src="__PUBLIC__/{$clean.cc_receipt}"
                    class="logoPre"
                    {/if}
                    >
                    <input type="hidden" name="cc_receipt" id="cc_receipt" value="{$clean.cc_receipt}"/>
                    </image>
                    {if condition="$clean.cc_receipt eq null"}
                    <div id="display">
                        <i class="layui-icon"></i>
                        <p>请点击此处上传封面图片</p>
                    </div>
                    {/if}
                </div>
            </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">是否银行核对</label>
                    <div class="layui-input-block">
                        <input type="radio" name="cc_check" value="1" title="是" {if condition="$clean.cc_check eq 1"} checked{/if}>
                        <input type="radio" name="cc_check" value="2" title="否" {if condition="$clean.cc_check eq 2"} checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>房型</label>
                    <div class="layui-input-inline">
                        <input type="text" value="{$clean.cc_house_type|default=''}" class="layui-input" name="cc_house_type"  lay-verify="required" placeholder="请填写房型">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>户型</label>
                    <div class="layui-input-inline">
                        <input type="text" value="{$clean.cc_room_type|default=''}"  class="layui-input" name="cc_room_type" lay-verify="required" placeholder="请填写户型">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>退款金额</label>
                    <div class="layui-input-inline">
                        <input type="number" value="{$clean.cc_refund|default=''}"  class="layui-input" lay-verify="required"  name="cc_refund" placeholder="$">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">每次通过清洁检查后退给客户的钱。</div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">任务备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入任务备注" name="cc_remarks" class="layui-textarea">{$clean.cc_remarks|default=''}</textarea>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>清洁检查信息</legend>
                </fieldset>
                <div class="layui-form-item">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>检查时间</th>
                            <th>是否通过检查</th>
                            <th>退款凭证</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody  id="table">
                            {volist name='$clean.logs' id='vo'}
                                <tr class="table-tr">
                                    <td>
                                        <input  type="date" readonly value="{$vo.cl_date}" name="cl_date[]" class="layui-input">
                                    </td>
                                    <td>
                                        <input type="checkbox" value="{$vo.cl_id}" {if $vo.cl_status eq 1}checked{/if} lay-filter="isTop" lay-skin="switch" lay-text="是|否">
                                    </td>
                                    <td>
                                        <img id="imgs{$vo.cl_id}" style="width: 30px;height: 30px;" src="__PUBLIC__/{$vo.cl_imgs|default='__WEIUI__/images/pic_160.png'}"/>
                                    </td>
                                    <td>
                                        <span class="layui-btn layui-btn-xs" onclick="uploadVer({$vo.cl_id},{$clean.cc_id})"><i class="layui-icon">&#xe642;</i>编辑</span>
                                        <span onclick='del(this,{$vo.cl_id})' class="layui-btn layui-btn-danger layui-btn-xs">删除</span>
                                    </td>
                                </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
                <button type="button" id='addbtn' class="layui-btn layui-btn-sm layui-btn-normal">添加一次检查</button>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="saveInfo">修改</button>
                        <a class="layui-btn layui-btn-primary" href="javascript:history.back(-1)">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','laydate'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,laydate = layui.laydate
            ,$ = layui.jquery;
        form.on('select(cc_pay_type)', function(data){
            var type = data.value;
            if(type == 1){
                $('#cc_price').attr('placeholder','￥');
                $('#cc_price').val('');
                $('#price_unit').html('单位：人民币（￥）');
            }else{
                $('#cc_price').attr('placeholder','$');
                $('#cc_price').val('');
                $('#price_unit').html('单位：澳币（$）');
            }
        });
        laydate.render({
            elem: '#alert'
            ,type: 'date'
            ,trigger: 'click'
        });
        //监听指定开关
        form.on('switch(isTop)', function(obj){
            var change = obj.elem.checked;
            if(change){
                change = 1;
            }else{
                change = 0;
            }
            //状态表示将要更改成为的状态
            var cl_id = obj.value;
            $.ajax({
                type:"post",
                url:"<?=url('clean/cleanStatus')?>",
                dataType: 'json',
                data:{
                    "change":change,
                    'cl_id':cl_id
                },
                success:function (data) {
                    console.log(data);
                    layer.msg(data.msg);
                },
                error:function (error) {
                    console.log(error);
                }
            })
        });
        //图片上传
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("clean/upload")}'
            ,size:600 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#cc_receipt').val('');
                console.log(res);
                console.log(res.filepath);
                layer.close(loading);
                $('#cc_receipt').val(res.filepath);
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLIC__/"+res.filepath);
                $('#display').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
            ,content: function(value){
                var cont=layedit.getContent(index); //获取编辑器内容
                if(cont.length <= 0){
                    return '请输入内容信息！';
                }
            }
        });
    });
    $('#addbtn').click(function () {
        var cc_id = {$clean.cc_id};
        layer.open({
            type: 2,
            title: '添加检查',
            shadeClose: true,
            shade: false,
            maxmin: true,
            area: ['80%', '80%'],
            content: "<?=url('clean/upimgs')?>?cl_id=0&cc_id="+cc_id
        });
    });
    
    function del(obj,cl_id) {
        layer.confirm('确定删除该记录？删除后不可恢复！', {
            btn : [ '确定', '取消' ]//按钮
        }, function() {
            $.ajax({
                'type':"get",
                'url':"<?=url('clean/delog')?>",
                'data':{cl_id:cl_id},
                'success':function (result) {
                    if(result.code < 1){
                        layer.msg(result.msg);
                    }else {
                        layer.msg(result.msg);
                        layer.open({
                            title: '信息'
                            ,content: result.msg
                            ,yes: function(index){
                                $(obj).parents('.table-tr').remove();
                                layer.close(index);
                                window.reload();
                            }
                            ,cancel:function (index) {
                                $(obj).parents('.table-tr').remove();
                                layer.close(index);
                                window.reload();
                            }
                        });
                    }
                },
                'error':function () {
                    console.log('error');
                }
            })
        },function(){
            layer.msg('您已取消该操作！',{
                time: 2000
            });
        });

    }
    
    function uploadVer(id,cc_id) {
        layer.open({
            type: 2,
            title: '修改详情',
            shadeClose: true,
            shade: false,
            maxmin: true,
            area: ['80%', '80%'],
            content: "<?=url('clean/upimgs')?>?cl_id="+id+"&cc_id="+cc_id
        });
    }
</script>
{include file="index/footer" /}