<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="__WEIUI__/css/weui.css"/>
    <link rel="stylesheet" href="__WEIUI__/css/weuix.css"/>

    <script src="__WEIUI__/js/zepto.min.js"></script>
    <script src="__WEIUI__/js/zepto.weui.js"></script>
</head>

<body ontouchstart>
<div class="page-hd">
    <h1 class="page-hd-title">
        欢迎登录小宝租房OA系统
    </h1>
</div>


<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="用户名" type="text" id="user" >
        </div>
    </div>
</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="密码" type="password" id="pwd" >
        </div>
    </div>
</div>
<label for="weuiAgree" class="weui-agree">
    <input id="weuiAgree" class="weui-agree__checkbox" type="checkbox">
    <span class="weui-agree__text">
        在此设备记住用户名和密码
    </span>
</label>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="btn">登录</a>
</div>
</body>
<script>
    $(function(){
        $(document).on("click","#btn",function(){
            var user = $("#user").val();
            var pwd = $("#pwd").val();
            var check = $('#weuiAgree').is(':checked');
            if(user=="" || pwd==""){
                $.toptip("用户名或密码不能为空");
                return false;
            }else{
                $.toptip("提交中");
                $.ajax({
                    type:'post',
                    url:'/oa/login/login',
                    data:{'user':user,'pwd':pwd,'check':check},
                    success:function (data) {
                        console.log(data);
                        if(data.code ==1){
                            $.toptip("登录成功！跳转中……",'success');
                            window.location.href="<?=url('light/index')?>";
                        }else{
                            $.toptip(data.msg);
                        }
                    },
                    error:function (data) {
                        $.toptip("登录失败，请稍后重试~");
                    }
                })

            }
        })
        console.log(document.referrer);
    });
</script>
</html>