{include file="index/header" /}
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
    .logoPre{
        width: 216px;
        height: 150px;
    }
    .casePre{
        display:none;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>内容管理</a>
        <a href="<?=url('article/article')?>">文章管理</a>
        <a><cite>修改文章</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('article/article')?>" class="layui-btn layui-btn-primary layui-btn-sm"  onclick="addArt()">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" action="<?=url('article/editArticle')?>?art_id={$art.art_id}" method="post">
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>文章分类</label>
                    <div class="layui-input-inline">
                        <select name="art_type" lay-verify="required">
                            <option value="">请选择文章分类</option>
                            {volist name='prov' id='vo'}
                            <option value="{$vo.at_id}" {if condition="$vo.at_id eq $art.art_type"}selected{/if}>{$vo.at_name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="art_title" value="{$art.art_title}" lay-verify="required|title" placeholder="请输入文章标题，同SEO标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><span style="color: red;">*</span>文章摘要</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入文章摘要" lay-verify="required" name="art_preview" class="layui-textarea">{$art.art_preview}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>跳转链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="art_url" value="{$art.art_url}"  placeholder="请输入文章跳转链接" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">详情展示到</label>
                    <div class="layui-input-block">
                        <input type="radio" name="art_show" {if condition="$art.art_show eq '1'"}checked{/if} lay-filter="encrypt" id="weixin" value="1" title="微信">
                        <input type="radio" name="art_show" {if condition="$art.art_show eq '2'"}checked{/if} lay-filter="encrypt" id='zhannei' value="2" title="站内">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;font-weight: bolder">
                        若详情页显示到微信请填写准确的跳转链接！</br>
                        若你切换到显示站内，请确保详情页内容已添加，排版已安排妥当，否则要承担相应责任！！！</div>
                </div>
                <div class="layui-form-item one-pan">
                    <label class="layui-form-label"><span style="color: red;">*</span>封面图片</label>

                    <div {if condition="$art.art_img eq null"}class="layui-upload-drag"{/if} id="uploadLogo" style="display:inline-block;" >
                        <image id="logoPre"
                            {if condition="$art.art_img eq null"}
                            {else/}
                                src="__PUBLIC__{$art.art_img}"
                                class="logoPre"
                            {/if}
                        >
                            <input type="hidden" name="art_img" id="art_img" value="{$art.art_img}"/>
                        </image>
                        {if condition="$art.art_img eq null"}
                        <div id="display">
                            <i class="layui-icon"></i>
                            <p>请点击此处上传封面图片</p>
                        </div>
                        {/if}
                    </div>
                </div>

        <div class="layui-form-item">
            <label class="layui-form-label">文章内容</label>
            <div class="layui-input-block">
                <script id="container" name="art_content"  style="width:1024px;height:500px;" type="text/plain">{$art.art_content}</script>
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red;">*</span>SEO标题</label>
            <div class="layui-input-block">
                <input type="text" name="seo_title" value="{$art.seo_title}" lay-verify="required|title" placeholder="请输入SEO标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red;">*</span>SEO关键词</label>
            <div class="layui-input-block">
                <input type="text" name="seo_keywords" value="{$art.seo_keywords}" lay-verify="required|title" placeholder="请输入SEO关键词,多个关键词之间用英文逗号隔开。" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><span style="color: red;">*</span>SEO描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入SEO描述" name="seo_desc" lay-verify="required|title" class="layui-textarea">{$art.seo_desc}</textarea>
            </div>
        </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="saveInfo">修改</button>
                        <a class="layui-btn layui-btn-primary" href="<?=url('article/article')?>">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','layedit'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,layedit = layui.layedit
            ,$ = layui.jquery;
        form.on('radio(encrypt)', function(data){
            var show = data.value;
            if(show == 1){
                layer.msg('若详情页显示到微信请填写准确的跳转链接！', {time: 5000, icon:6});
            }else{
                layer.msg('若你切换到显示站内，请确保详情页内容已添加，排版已安排妥当，否则要承担相应责任！！！', {time: 5000, icon:6});
            }
        });
        //图片上传
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("article/upload")}'
            ,size:600 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#art_img').val('');
                console.log(res);
                layer.close(loading);
                $('#art_img').val(res.path);
                $('#uploadLogo').removeClass('layui-upload-drag');
                $('#logoPre').css('width','216px');
                $('#logoPre').css('height','150px');
                $('#logoPre').attr('src',"__PUBLIC__"+res.path);
                $('#display').hide();
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
    });
</script>
{include file="index/footer" /}