{include file="index/header" /}
<style>
    .one-pan{
        position: relative;
    }
    .one{
        position: absolute;
        left:300px;
        top:0;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>水电气网</a>
        <a><cite>创建订单</cite></a>
    </span>
    </div>
    <div class="layui-tab layui-tab-brief" style="margin-left: 10px;" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li>
                <a href='<?=url("order/create1")?>'>
                    看房订单
                </a>
            </li>
            <li>
                <a href='<?=url("order/create2")?>'>领钥匙订单</a>
            </li>
            <li class="layui-this">
                水电气网
            </li>
            <li>
                <a href='<?=url("order/create4")?>'>代缴定金</a>
            </li>
        </ul>
    </div>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" action="<?=url('order/create3')?>" method="post">
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>订单类型</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" readonly value="水电气网">
                        <input type="hidden" name="order_step" value="3">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>任务区域</label>
                    <div class="layui-input-inline">
                        <select name="order_city" lay-verify="required">
                            <option value="">请选择区域</option>
                            {volist name='city' id='vo'}
                            <option value="{$vo.crm_c_id}">{$vo.crm_city}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>订单编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="order_id" lay-verify="required|title" placeholder="请输入订单编号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" id="houseAddress"><span style="color: red;">*</span>房源地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="order_house_address" lay-verify="required" placeholder="请输入房源地址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" id="subItem">
                    <label class="layui-form-label"><span style="color: red;">*</span>开通项</label>
                    <div class="layui-input-block">
                        <input type="checkbox" class="checkbox" name="sub[2]" title="电">
                        <input type="checkbox" class="checkbox" name="sub[3]" title="气/热水">
                        <input type="checkbox" class="checkbox" name="sub[4]" title="网">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>截止时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required"  name="order_show_time" readonly id="alert" placeholder="请选择截止时间">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">截止时间为澳洲时间。</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>收费时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required" name="order_paytime" readonly id="pay" placeholder="请选择收费时间">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">收费时间为澳洲时间。</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>工资结算</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required"  name="order_price" placeholder="$">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">付款方式</label>
                    <div class="layui-input-inline">
                        <select name="order_pay_type" lay-filter="order_pay_type">
                            <option value="">请选择客户付款方式</option>
                            <option value="1">淘宝</option>
                            <option value="2">转账</option>
                            <option value="3">汇款</option>
                        </select>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">客户付给我们的钱的付款方式</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">付款金额</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="order_pay_price" id="order_pay_price" placeholder="$">
                    </div>
                    <div class="layui-form-mid layui-word-aux" id="price_unit" style="color:red !important;">单位：澳币（$）</div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">任务备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入任务备注" name="order_remarks" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="saveInfo">创建</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','laydate'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,laydate = layui.laydate
            ,$ = layui.jquery;
        //alert
        laydate.render({
            elem: '#alert'
            ,type: 'datetime'
            ,trigger: 'click'
        });
        form.on('select(order_pay_type)', function(data){
            console.log(data);
            var type = data.value;
            if(type == 1){
                $('#order_pay_price').attr('placeholder','￥');
                $('#order_pay_price').val('');
                $('#price_unit').html('单位：人民币（￥）');
            }else{
                $('#order_pay_price').attr('placeholder','$');
                $('#order_pay_price').val('');
                $('#price_unit').html('单位：澳币（$）');
            }
        });
        laydate.render({
            elem: '#pay'
            ,type: 'datetime'
            ,trigger: 'click'
        });
        form.on('submit(saveInfo)', function (data) {
            var len = $(".checkbox:checked").length;
            if (len < 1) {
                layer.msg('请至少选择一个能源开通项！', { icon: 2 });
                return false;
            }
        });
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
            ,content: function(value){
                var cont=layedit.getContent(index); //获取编辑器内容
                if(cont.length <= 0){
                    return '请输入内容信息！';
                }
            }
        });
    });
</script>
{include file="index/footer" /}