{include file="index/header" /}
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>订单管理</a>
        <a><cite>修改订单</cite></a>
    </span>
    </div>
    <hr/>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" action="<?=url('order/edit3')?>?crm_id={$order.crm_id}" method="post">
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>任务区域</label>
                    <div class="layui-input-inline">
                        <select name="order_city" lay-verify="required">
                            <option value="">请选择区域</option>
                            {volist name='city' id='vo'}
                            <option value="{$vo.crm_c_id}" {if condition="$order.order_city eq $vo.crm_c_id"}selected{/if}>{$vo.crm_city}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>订单类型</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$order.orderStep}" readonly class="layui-input">
                        <input type="hidden" name="order_step" value="{$order.order_step}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>订单编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="order_id" readonly value="{$order.order_id}" lay-verify="required|title" placeholder="请输入订单编号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red;">*</span>任务地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="order_house_address" value="{$order.order_house_address}" lay-verify="required|title" placeholder="请输入房源地址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" id="subItem1">
                    <label class="layui-form-label"><span style="color: red;">*</span>开通项</label>
                    <div class="layui-input-block">
                        {volist name='all_sub' id='vo'}
                        <input type="checkbox" class="checkbox" name="sub[{$vo.so_sub_type}]" title="{$vo.sub_name}"  {$vo.is_checked ? 'checked' : ''}>
                        {/volist}
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>截止时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required"  name="order_show_time" value="{$order.order_show_time}" readonly id="alert" placeholder="请选择截止时间">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">截止时间为澳洲时间。</div>
                </div>
                <div class="layui-form-item" pane id="payTime">
                    <label class="layui-form-label"><span style="color: red;">*</span>收费时间</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required" value="{$order.order_paytime}" name="order_paytime" readonly id="pay" placeholder="请选择收费时间">
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">收费时间为澳洲时间。</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label"><span style="color: red;">*</span>工资结算</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required" value="{$order.order_price}" name="order_price" placeholder="$">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">付款方式</label>
                    <div class="layui-input-inline">
                        <select name="order_pay_type" lay-filter="order_pay_type">
                            <option value="">请选择客户付款方式</option>
                            <option value="1" {if condition="$order.order_pay_type eq 1"}selected{/if}>淘宝</option>
                            <option value="2" {if condition="$order.order_pay_type eq 2"}selected{/if}>转账</option>
                            <option value="3" {if condition="$order.order_pay_type eq 3"}selected{/if}>汇款</option>
                        </select>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;">客户付给我们的钱的付款方式</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">付款金额</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" value="{$order.order_pay_price}" name="order_pay_price" placeholder="{if condition="$order.order_pay_type eq 1"}￥{else/}${/if}">
                    </div>
                    <div class="layui-form-mid layui-word-aux" id="price_unit" style="color:red !important;">单位：{if condition="$order.order_pay_type eq 1"}人民币（￥）{else/}澳币（$）{/if}</div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">任务备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入任务备注" name="order_remarks" class="layui-textarea">{$order.order_remarks}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="saveInfo">更新</button>
                        <a class="layui-btn layui-btn-primary" href="<?=url('order/order')?>">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','laydate'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,laydate = layui.laydate
            ,$ = layui.jquery;
        //alert
        laydate.render({
            elem: '#alert'
            ,type: 'datetime'
            ,trigger: 'click'
        });
        laydate.render({
            elem: '#pay'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        form.on('switch(switchTest)', function(data){
            if(this.checked == true){
                $('#other_docs').val(1);
                layer.msg('请检查您的资料是否准备完整！');
            }else{
                $('#other_docs').val(0);
            }
        });
        form.on('submit(saveInfo)', function (data) {
            var len = $(".checkbox:checked").length;
            if (len < 1) {
                layer.msg('请至少选择一个能源开通项！', { icon: 2 });
                return false;
            }
        });
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
            ,content: function(value){
                var cont=layedit.getContent(index); //获取编辑器内容
                if(cont.length <= 0){
                    return '请输入内容信息！';
                }
            }
        });
    });
</script>
{include file="index/footer" /}