{include file="index/header" /}
<style>
    .layui-table-cell{
        height:36px !important;
        line-height:36px !important;
        clear: both;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>订单管理</a>
        <a><cite>订单列表</cite></a>
    </span>
    <div style="float:right;">
        <button class="layui-btn layui-btn-primary layui-btn-sm"  onclick="addArt()"><i class="layui-icon"></i>创建订单</button>
    </div>
</div>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li {if condition="$steps eq 0"}class="layui-this"{/if} onclick="switchOrder(0)">全部订单</li>
        <li {if condition="$steps eq 1"}class="layui-this"{/if} onclick="switchOrder(1)">看房订单</li>
        <li {if condition="$steps eq 2"}class="layui-this"{/if} onclick="switchOrder(2)">领钥匙订单</li>
        <li {if condition="$steps eq 3"}class="layui-this"{/if} onclick="switchOrder(3)">水电气网</li>
        <li {if condition="$steps eq 6"}class="layui-this"{/if} onclick="switchOrder(6)">代缴定金</li>
        <li>
            <a href="<?=url('clean/index')?>">清洁检查</a>
        </li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <section class="panel panel-padding" style="padding-top: 10px;padding-left: 10px;">
                <form class="layui-form layui-form-pane1">
                    <div class="layui-form-item  demoTable">
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 250px;">
                                <input type="text" name="keywords" id="keywords"  placeholder="请输入订单编号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="ad_role" id="service">
                                    <option value="">请选择订单区域</option>
                                    {volist name="city" id='role'}
                                    <option value="{$role.crm_c_id}">{$role.crm_city}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="ad_role" id="status">
                                    <option value="">请选择订单状态</option>
                                    <option value="1">未安排</option>
                                    <option value="2">已安排</option>
                                    <option value="3">已完成</option>
                                    <option value="4">未完成</option>
                                    <option value="5">已结算</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="cus_opptime" readonly class="layui-input" id="live_time" placeholder="请选择截止时间">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span class="layui-btn layui-btn-sm" data-type="reload">查询</span>
<!--                                <a href="<?=url('order/order')?>" class="layui-btn layui-btn-warm">刷新</a>-->
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <table class="layui-table" lay-filter="demo" lay-size="sm" lay-skin="line" lay-data="{height: 'full-170', page:true, url:'/admin/order/orderData/',where:{keywords: '{$keywords}',step: '{$steps}'},limit:20,limits:[20,30,50] ,id: 'testReload'}" >
                <thead>
                <tr>
                    <th lay-data="{field:'order_id', width:130, sort: true}">订单编号</th>
                    <th lay-data="{field:'orderStep', width:80}">订单类型</th>
                    <th lay-data="{field:'order_type', width:80}">任务类型</th>
                    <th lay-data="{field:'order_city', width:80}">订单区域</th>
                    <th lay-data="{field:'order_show_time',templet: '#showTime', width:160, sort: true}">截止时间</th>
                    <th lay-data="{field:'order_pay_type',width:80}">付款方式</th>
                    <th lay-data="{field:'order_pay_price',width:110}">付款金额</th>
                    <th lay-data="{field:'order_statuss', width:100}">订单状态</th>
                    <th lay-data="{field:'order_service_id',width:80}">建单人</th>
                    <th lay-data="{width:280, toolbar: '#barDemo'}">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script type="text/html" id="showTime">
        {{#  if(d.orderColor === 'red'){ }}
        <span class="layui-badge">{{d.order_show_time}}</span>
      {{#  } else if(d.orderColor === 'orange') { }}
        <span class="layui-badge layui-bg-orange">{{d.order_show_time}}</span>
        {{#  } else if(d.orderColor === 'green') { }}
        <span class="layui-badge layui-bg-green">{{d.order_show_time}}</span>
      {{#  }else{ }}
        <span class="layui-badge layui-bg-gray">{{d.order_show_time}}</span>
        {{#  } }}
</script>
<input type="text" id="copy" style="z-index: -1;opacity: 0;">
<script type="text/html" id="barDemo">
    {{#  if(d.order_status == 1){ }}
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-xs  layui-btn-warm" lay-event="alert"><i class="layui-icon">&#xe637;</i>派单</a>

    {{#  }else if(d.order_status == 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="cancel"><i class="layui-icon">&#x1006;</i>取消</a>
    {{#  }else{ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    {{#  } }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="details"><i class="layui-icon">&#xe705;</i>查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
<script>
      layui.use(['table','laydate','form','element'], function(){
        var table = layui.table
            ,form = layui.form
            ,element = layui.element
            ,laydate = layui.laydate;
        laydate.render({
            elem: '#live_time'
            ,range: true
        });
        var $ = layui.$, active = {
            reload: function(){
                var keywords = $('#keywords').val();
                var status = $('#status').val();
                var step = $('#step').val();
                var service = $('#service').val();
                var live_time = $('#live_time').val();
                //执行重载
                table.reload('testReload', {
                    url: '/admin/order/orderData/'
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keywords: keywords,
                        status: status,
                        city: service,
                        step: step,
                        live_time: live_time
                    },
                    success:function (data) {
                        console.log(data);
                    }
                });
            }

        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var crm_id = data.crm_id;
            var step = data.order_step;
            console.log(step);
            if(obj.event === 'edit'){
                switch (step) {
                    case 1:
                        window.location.href='<?=url("order/edit1")?>?crm_id='+crm_id;
                        break;
                    case 2:
                        window.location.href='<?=url("order/edit2")?>?crm_id='+crm_id;
                        break;
                    case 3:
                        window.location.href='<?=url("order/edit3")?>?crm_id='+crm_id;
                        break;
                    case 6:
                        window.location.href='<?=url("order/edit4")?>?crm_id='+crm_id;
                        break;
                }

            }else if(obj.event === 'alert'){
                var text = '__ROOTDOMAIM__/oa/index/order?crm_id='+crm_id;
                $('#copy').val(text);
                $('#copy').select();
                document.execCommand("Copy");
                layer.msg('复制成功，快去分享到群里进行派单吧！');
            // }else if(obj.event === 'edit1'){
            //     window.location.href='<?=url("order/updoc1")?>?crm_id='+crm_id;
            }else if(obj.event === 'details'){
                var step = data.order_step;
                var crm_id = data.crm_id;
                var status = data.order_status;
                var url = '';
                if(status != 1){
                    if(step == 6){
                        url = "<?=url('light/subdet4')?>?crm_id="+crm_id;
                    }else{
                        url = "<?=url('order/orderDet')?>?crm_id="+crm_id;
                    }
                }else{
                    if(step == 1){
                        url = "<?=url('light/subdet1')?>?crm_id="+crm_id;
                    }else if(step == 2){
                        url = "<?=url('light/subdet2')?>?crm_id="+crm_id;
                    }else if(step == 3){
                        url = "<?=url('light/subdet3')?>?crm_id="+crm_id;
                    }
                }
                layer.open({
                    type: 2,
                    title: '查看详情',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: url
                });
            }else if(obj.event === 'cancel'){
                layer.confirm('看房员是否与您达成共识取消此订单分配？', {
                    btn : [ '是', '否' ]//按钮
                }, function() {
                    $.ajax({
                        'type':"get",
                        'url':"<?=url('order/cancelOrder')?>",
                        'data':{crm_id:crm_id},
                        'success':function (result) {
                            if(result.code < 1){
                                layer.msg(result.msg);
                            }else {
                                layer.msg(result.msg);
                                layer.open({
                                    title: '信息'
                                    ,content: result.msg
                                    ,yes: function(index){
                                        layer.close(index);
                                        window.location.href='<?=url("order/order")?>';
                                    }
                                    ,cancel:function (index) {
                                        layer.close(index);
                                        window.location.href='<?=url("order/order")?>';
                                    }
                                });
                            }
                        },
                        'error':function () {
                            console.log('error');
                        }
                    })
                },function(){
                    layer.msg('您已取消该操作！',{
                        time: 2000
                    });
                });

            } else if(obj.event === 'del'){
                layer.confirm('确定删除该订单？删除后不可恢复！', {
                    btn : [ '确定', '取消' ]//按钮
                }, function() {
                    $.ajax({
                        'type':"get",
                        'url':"<?=url('order/del')?>",
                        'data':{crm_id:crm_id},
                        'success':function (result) {
                            if(result.code < 1){
                                layer.msg(result.msg);
                            }else {
                                layer.msg(result.msg);
                                layer.open({
                                    title: '信息'
                                    ,content: result.msg
                                    ,yes: function(index){
                                        layer.close(index);
                                        window.location.href='<?=url("order/order")?>';
                                    }
                                    ,cancel:function (index) {
                                        layer.close(index);
                                        window.location.href='<?=url("order/order")?>';
                                    }
                                });
                            }
                        },
                        'error':function () {
                            console.log('error');
                        }
                    })
                },function(){
                    layer.msg('您已取消该操作！',{
                        time: 2000
                    });
                });
            }
        });
    });
    function addArt() {
        window.location.href='<?=url("order/create1")?>';
    }
    function switchOrder(id) {
        layui.use(['table','jquery'], function(){
            var table = layui.table;
            table.reload('testReload', {
                url: '/admin/order/orderData/'
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    step: id,
                },
                success:function (data) {
                    console.log(data);
                }
            });
        })
    }

</script>
{include file="index/footer" /}