{include file="index/header" /}
<style>
    .layui-table-cell{
        height:36px !important;
        line-height:36px !important;
        clear: both;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>订单管理</a>
        <a><cite>todolist</cite></a>
    </span>
</div>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this" onclick="switchOrder(0)">全部订单</li>
        <li onclick="switchOrder(1)">看房订单</li>
        <li onclick="switchOrder(2)">领钥匙订单</li>
        <li onclick="switchOrder(3)">水电气网订单</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <section class="panel panel-padding" style="padding-top: 10px;padding-left: 10px;">
                <form class="layui-form layui-form-pane1">
                    <div class="layui-form-item  demoTable">
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 250px;">
                                <input type="text" name="keywords" id="keywords"  placeholder="请输入订单编号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="ad_role" id="step">
                                    <option value="">请选择订单类型</option>
                                    {volist name='step' id='vo'}
                                    <option value="{$key}">{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="cus_opptime" readonly class="layui-input" id="live_time" placeholder="请选择截止时间">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span class="layui-btn" data-type="reload">查询</span>
                                <a href="<?=url('order/todo2')?>" class="layui-btn layui-btn-warm">刷新</a>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <table class="layui-table" lay-filter="demo" lay-size="sm" lay-skin="line" lay-data="{height: 'full-200', page:true, url:'/admin/order/todoData2/', limit:20,limits:[20,30,50] ,id: 'testReload'}" >
    <thead>
    <tr>
        <th lay-data="{field:'order_id', width:120}">订单编号</th>
        <th lay-data="{field:'orderStep', width:80}">订单类型</th>
        <th lay-data="{field:'order_type', width:80}">任务类型</th>
        <th lay-data="{field:'order_city', width:80}">订单区域</th>
        <th lay-data="{field:'order_show_time',templet: '#showTime', width:180, sort: true}">截止时间</th>
        <th lay-data="{field:'order_pay_type',width:80}">付款方式</th>
        <th lay-data="{field:'order_pay_price',width:120}">付款金额</th>
        <th lay-data="{field:'order_statuss', width:100}">订单状态</th>
        <th lay-data="{field:'order_service_id',width:80}">派单员</th>
        <th lay-data="{width:230, toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>
        </div>
    </div>
</div>
<script type="text/html" id="showTime">
        {{#  if(d.orderColor === 'red'){ }}
        <span class="layui-badge">{{d.order_show_time}}</span>
      {{#  } else if(d.orderColor === 'orange') { }}
        <span class="layui-badge layui-bg-orange">{{d.order_show_time}}</span>
        {{#  } else if(d.orderColor === 'green') { }}
        <span class="layui-badge layui-bg-green">{{d.order_show_time}}</span>
      {{#  }else{ }}
        <span class="layui-badge layui-bg-gray">{{d.order_show_time}}</span>
        {{#  } }}
</script>
<input type="text" id="copy" style="z-index: -1;opacity: 0;">
<script type="text/html" id="barDemo">
    {{#  if(d.ol_status == 1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>上传资料</a>
    {{#  } }}
    {{#  if(d.ol_status == 3){ }}
    {{#  } }}
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="details"><i class="layui-icon">&#xe705;</i>查看</a>
</script>
<script>
    function switchOrder(id) {
        layui.use(['table','jquery'], function(){
            var table = layui.table;
            table.reload('testReload', {
                url: '/admin/order/todoData2/'
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    step: id,
                },
                success:function (data) {
                    console.log(data);
                }
            });
        })
    }
    layui.use(['table','laydate','form'], function(){
        var table = layui.table
            ,form = layui.form
            ,laydate = layui.laydate;
        laydate.render({
            elem: '#live_time'
            ,range: true
        });
        var $ = layui.$, active = {
            reload: function(){
                var keywords = $('#keywords').val();
                var step = $('#step').val();
                var live_time = $('#live_time').val();
                //执行重载
                table.reload('testReload', {
                    url: '/admin/order/todoData2/'
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keywords: keywords,
                        step: step,
                        live_time: live_time
                    },
                    success:function (data) {
                        console.log(data);
                    }
                });
            }

        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var ol_id = data.ol_id;
            if(obj.event === 'edit'){
                window.location.href='<?=url("order/upDoc")?>?ol_id='+ol_id;
            }else if(obj.event === 'details'){
                var step = data.order_step;
                var crm_id = data.crm_id;
                var status = data.order_status;
                var url = '';
                if(status != 1){
                    if(step == 6){
                        url = "<?=url('light/subdet4')?>?crm_id="+crm_id;
                    }else{
                        url = "<?=url('order/orderDet')?>?crm_id="+crm_id;
                    }
                }else{
                    if(step == 1){
                        url = "<?=url('light/subdet1')?>?crm_id="+crm_id;
                    }else if(step == 2){
                        url = "<?=url('light/subdet2')?>?crm_id="+crm_id;
                    }else if(step == 3){
                        url = "<?=url('light/subdet3')?>?crm_id="+crm_id;
                    }
                }
                layer.open({
                    type: 2,
                    title: '查看详情',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: url
                });
            }
        });
    });
</script>
{include file="index/footer" /}