{include file="index/header" /}
<style>
    .item_img{
        width: 120px;
        height: 105px;
        float: left;
        margin-top: 20px;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>订单管理</a>
        <a href="<?=url('order/todo2')?>">TODULIST</a>
        <a><cite>上传资料</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('order/todo2')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回列表</a>
        </div>
    </div>
    <hr/>
    <div style="margin: 10px">
        <div style="padding: 15px;">
            <form class="layui-form" id="myForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">订单编号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$order.order_id}" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">订单类型</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$order.orderStep}" readonly class="layui-input">
                    </div>
                </div>
                {if condition='$order.order_step eq 1'}
                <div class="layui-form-item">
                    <label class="layui-form-label">任务类型</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$order.order_type}" readonly class="layui-input">
                    </div>
                </div>
                {/if}

                <div class="layui-form-item">
                    <label class="layui-form-label">任务地址</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$order.order_house_address}" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">截止时间</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$order.order_show_time}" readonly class="layui-input">
                    </div>
                </div>

                {if condition='$order.order_step eq 3'}
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>开通能源项</legend>
                </fieldset>
                {volist name='order.sub' id='vo'}
                {switch name="$vo.so_sub_type"}
                {case value="2"}
                <div class="layui-form-item">
                    <label class="layui-form-label">电</label>
                    <input type="hidden" value="{$vo.so_id}" name="elect">
                    <div class="layui-input-inline">
                        <select name="elect_value" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            {volist name='elect' id='vos'}
                            <option value="{$vos.eg_id}" {if condition="$vos.eg_id eq $vo.so_sub_cp_id"}selected{/if}>{$vos.eg_company}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                {/case}
                {case value="3"}
                <div class="layui-form-item">
                    <label class="layui-form-label">气/热水</label>
                    <input type="hidden" value="{$vo.so_id}" name="gas">
                    <div class="layui-input-inline">
                        <select name="gas_value"  lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            {volist name='gas' id='vos'}
                            <option value="{$vos.eg_id}" {if condition="$vos.eg_id eq $vo.so_sub_cp_id"}selected{/if}>{$vos.eg_company}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                {/case}
                {case value="4"}
                <div class="layui-form-item">
                    <label class="layui-form-label">网</label>
                    <input type="hidden" value="{$vo.so_id}" name="nets">
                    <div class="layui-input-inline">
                        <select name="nets_value" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            {volist name='nets' id='vos'}
                            <option value="{$vos.eg_id}" {if condition="$vos.eg_id eq $vo.so_sub_cp_id"}selected{/if}>{$vos.eg_company}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                {/case}
                {default /}
                {/switch}
                {/volist}
                {/if}
                {if condition='$order.order_step neq 3'}
                <div class="layui-form-item" id="pics">
                    <div class="layui-form-label">上传图片</div>
                    <div class="layui-input-block" style="width: 70%;">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal pull-left" id="slide-pc">选择多图</button>
                            <div class="pic-more">
                                <ul class="pic-more-upload-list" id="slide-pc-priview">
                                    {if condition='$order.ol_images neq null'}
                                    {volist name='order.ol_image' id="item" key="k"}
                                    <li class="item_img">
                                        <div class="operate">
                                            <i  class="close layui-icon"></i>
                                        </div>
                                        <img style="height: 80px;width:100px;" src="__PUBLIC__/{$item}" class="img" >
                                        <input type="hidden" name="ol_images[]" value="{$item}" />
                                    </li>
                                    {/volist}
                                    {else/}
                                    未上传
                                    {/if}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;font-weight: bolder">图片单个不大于2M！图片格式限于jpg|png|jpeg。</div>
                </div>
                {/if}
                {if condition='$order.order_step eq 1'}
                <div class="layui-form-item" id="video">
                    <div class="layui-form-label">上传视频</div>
                    <div class="layui-input-block" style="width: 70%;">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal pull-left" id="slide-video">选择视频</button>
                            <div class="pic-mores">
                                <ul class="pic-more-upload-list" id="slide-video-priview">
                                    {if condition='$order.ol_video neq null'}
                                    {volist name='order.ol_videos' id="item" key="k"}
                                    <li class="item_img">
                                        <div class="operate"><i  class="close layui-icon"></i></div>
                                        <video style="height: 80px;width:100px;" controls="controls" autobuffer="autobuffer"  autoplay="autoplay" loop="loop" src="__PUBLIC__/{$item}" class="img" >
                                    </li>
                                    {/volist}
                                    {else/}
                                    未上传
                                    {/if}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;font-weight: bolder">视频单个不大于100M！视频格式限于MP4</div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">看房报告</label>
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
                    </div>
                    {if condition='$order.ol_doc neq null'}
                    <a href="__PUBLIC__/{$order.ol_doc}" class="layui-btn layui-btn-xs" >点击查看文档</a>
                    {else/}
                    未上传
                    {/if}
                    <div class="layui-input-inline">
                        <input id="docUrl" value="{$order.ol_doc}" name="ol_doc" class="layui-input" readonly/>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="color:red !important;font-weight: bolder">报告格式仅限于PDF|XLS|XLSX</div>
                </div>
                {/if}

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">任务备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入任务备注" name="ol_remarks" class="layui-textarea">{$order.ol_remarks}</textarea>
                    </div>
                </div>
                {if condition='$order.order_step eq 1'}
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否已完成</label>
                        <div class="layui-input-block">
                            <input type="checkbox" lay-skin="switch" lay-filter="switchTest" checked lay-text="是|否">
                        </div>
                    </div>
                {/if}
                <input type="hidden" name="is_finish" id="is_finish" value="1">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <span class="layui-btn" lay-submit lay-filter="addPro">提交</span>
                        <span class="layui-btn layui-btn-primary" lay-submit lay-filter="savePro">保存</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery','upload','layer'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,layer = layui.layer
            ,$ = layui.jquery;

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            if(this.checked == true){
                $('#is_finish').val(1);
                layer.msg('请检查您的看房资料是否以上传完整！');
            }else{
                $('#is_finish').val(0);
            }
        });
        form.on('submit(addPro)', function(){
            var ol_id = {$order.ol_id};
            $.ajax({
                type: 'POST',
                url: "<?=url('order/upDoc')?>?ol_id="+ol_id,
                data:$('#myForm').serialize(),
                dataType:  'json',
                success: function(data){
                    if(data.code == 1){
                        layer.msg(data.msg);
                        window.location.href='<?=url("order/todo2")?>';
                    }else{
                        layer.msg(data.msg);
                        // window.location.href='<?=url("order/todo2")?>';
                    }
                }
            });
        });

        form.on('submit(savePro)', function(){
            var ol_id = {$order.ol_id};
            $.ajax({
                type: 'POST',
                url: "<?=url('order/upDoc')?>?ol_id="+ol_id+"&type=1",
                data:$('#myForm').serialize(),
                dataType:  'json',
                success: function(data){
                    if(data.code == 1){
                        layer.msg(data.msg);
                        window.location.href='<?=url("order/todo2")?>';
                    }else{
                        layer.msg(data.msg);
                        // window.location.href='<?=url("order/todo2")?>';
                    }
                }
            });
        });

        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
            ,content: function(value){
                var cont=layedit.getContent(index); //获取编辑器内容
                if(cont.length <= 0){
                    return '请输入内容信息！';
                }
            }
        });
        //文件
        upload.render({
            elem: '#test3'
            ,url: '{:url("admin/order/upload")}'
            ,exts: 'PDF|XLS|XLSX,'
            ,size: '100000'
            ,done: function(res){
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                console.log(res);
                $('#docUrl').val('' +res.filepath + '');
            }
        });
        //视频
        upload.render({
            elem: '#slide-video',
            url: '{:url("admin/order/upload")}',
            size: 1044000,
            exts: 'MP4',
            multiple: true,
            before: function(obj) {
                layer.msg('视频上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res) {
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                console.log(res);
                $('#slide-video-priview').append('' +
                    '<li class="item_img"><div class="operate"><i  class="close layui-icon"></i></div><video style="height: 80px;width:100px;" src="__PUBLIC__/' + res.filepath + '" class="img" ><input type="hidden" name="ol_video[]" value="' + res.filepath + '" /></li>');
            }
        });

        //图片
        upload.render({
            elem: '#slide-pc',
            url: '{:url("admin/order/upload")}',
            size: 3000,
            exts: 'jpg|png|jpeg',
            multiple: true,
            before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res) {
                layer.close(layer.msg());//关闭上传提示窗口
                if(res.status == 0) {
                    return layer.msg(res.message);
                }
                console.log(res);
                $('#slide-pc-priview').append('' +
                    '<li class="item_img"><div class="operate"><i  class="close layui-icon"></i></div><img style="height: 80px;width:100px;" src="__PUBLIC__/' + res.filepath + '" class="img" ><input type="hidden" name="ol_images[]" value="' + res.filepath + '" /></li>');
            }
        });
    });
    //点击多图上传的X,删除当前的图片
    $("body").on("click",".close",function(){
        $(this).closest("li").remove();
    });
</script>
{include file="index/footer" /}