{include file="index/header" /}
<div class="layui-body">
    <div class="layui-tab">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div style="margin: 10px">
                    <div style="padding: 15px;">
                        <form class="layui-form" >
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span style="color: red;">*</span>问</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="required|title" placeholder="请输入" id="title" value="{$content.title}" class="layui-input">
                                    <input type="hidden" name="id" id="id" value="{$content.id}" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">答</label>
                                <div class="layui-input-block">
                                    <textarea placeholder="请输入" id="summary" name="summary" class="layui-textarea">{$content.summary}</textarea>
                                </div>
                            </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <span class="layui-btn" onclick="closeAlls()">提交</span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function closeAlls(){
        var id = $('#id').val();
        var title = $('#title').val();
        var summary = $('#summary').val();
        $.ajax({
            type: 'post',
            url: "<?=url('question/review1')?>",
            data:{'id':id,'title':title,'summary':summary},
            dataType:  'json',
            success: function(data){
                layer.msg(data.msg,{
                    time: 2000
                },function () {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    parent.location.reload();
                });
            }
        });
    }
    layui.use(['form', 'jquery','upload'], function(){
        var form = layui.form
            ,upload = layui.upload
            ,$ = layui.jquery;
        //自定义验证规则
    });
</script>
{include file="index/footer" /}