{include file="index/header" /}
<div class="layui-body">
    <div class="layui-tab">
        <div class="layui-tab-content">
            <div style="padding: 15px;">
                <form class="layui-form" id="emailForm">
                    <div style="margin: 10px">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>看房参与者</legend>
                        </fieldset>
                        <div class="layui-form" id="test">
                            <table class="layui-table">
                                <thead>
                                </thead>
                                <tbody>
                                {if condition="$renter neq null"}
                                {volist name="renter" id="vo"}
                                <tr>
                                    <td><input name="pu_user[{$vo.pu_email}]" type='checkbox' lay-skin="primary" /></td>
                                    <td>{$vo.pu_username}</td>
                                    <td>{$vo.pu_phone}</td>
                                    <td>{$vo.pu_email}</td>
                                </tr>
                                {/volist}
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮件主题</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="emailsubject" id="pu_username" placeholder="请输入邮件主题" />
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">正文</label>
                        <div class="layui-input-block">
                            <textarea name="emailcontent" placeholder="请输入邮件内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <span class="layui-btn" onclick="closeAlls()">发送</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function closeAlls(){
        $.ajax({
            type: 'post',
            url: "<?=url('inspect/emailrenter')?>",
            data:$("#emailForm").serialize(),
            dataType:  'json',
            success: function(data){
                layer.msg(data.msg,{
                    time: 2000
                },function () {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    parent.location.reload();
                });
            }
        });
    }
    layui.use(['form', 'jquery','upload'], function(){
        var form = layui.form
            ,$ = layui.jquery;
        form.on('select(u_phone)', function(data){
            var cid=data.value;
            console.log(cid);
            $.ajax({
                type: 'POST',
                url: "<?=url('inspect/getUser')?>?id="+cid,
                data: {cid:cid},
                dataType:  'json',
                success: function(data){
                    console.log(data);
                    var user = data.data;
                    $('#pu_username').val(user.u_name);
                    $('#pu_email').val(user.u_email);
                    $('#pu_uid').val(user.u_id);
                }
            });
        });
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,imgReg:function (value) {
                if(value.length <= 0){
                    return '请上传图片';
                }
            }
        });
    });
</script>
{include file="index/footer" /}