{include file="index/header" /}
<style>
    .layui-table-cell{
        height:36px !important;
        line-height:36px !important;
        clear: both;
    }
    .layui-form-item {
        margin-bottom: 0px !important;
        clear: both;
        *zoom: 1;
    }
</style>
<div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>看房管理</a>
        <a><cite>看房任务</cite></a>
    </span>
</div>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <section class="panel panel-padding">
                <table lay-skin="line" class="layui-table" lay-filter="demo" lay-data="{height: 'full-200', cellMinWidth:60, url:'/xcx/inspect/indexData/', limit:50,limits:[50] ,id: 'testReload',page:true}" >
                    <thead>
                    <tr>
                        <th lay-data="{field:'hp_id',width:80}">id</th>
                        <th lay-data="{field:'address',width:250}">看房地址</th>
                        <th lay-data="{field:'ad_realname',width:100}">看房员</th>
                        <th lay-data="{field:'hp_plandate',width:150}">看房日期</th>
                        <th lay-data="{field:'hp_lastime',width:140}">看房时间</th>
                        <th lay-data="{field:'hp_maxnum',width:100}">最大看房人数</th>
                        <th lay-data="{field:'hp_type',width:180}">看房性质</th>
                        <th lay-data="{field:'hp_status',width:150}">状态</th>
                        <th lay-data="{ width:330, toolbar: '#barDemo'}">操作</th>
                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs  layui-btn" lay-event="addTime">增加时间</a>
    <a class="layui-btn layui-btn-xs  layui-btn" lay-event="update">修改</a>
    <a class="layui-btn layui-btn-xs  layui-btn" lay-event="cancel">取消</a>
    <a class="layui-btn layui-btn-xs  layui-btn-warm" lay-event="addRent">登记租客</a>
    {{#  if(d.is_rent > 0){ }}
    <a class="layui-btn layui-btn-xs  layui-btn-warm" lay-event="contact">联系租客</a>
    {{#  } }}
    
</script>
<script>
    layui.use(['table','laydate','form','element'], function(){
        var table = layui.table
            ,form = layui.form
            ,element = layui.element
            ,laydate = layui.laydate;
        //监听是否开启操作
        form.on('switch(topDemo)', function(obj){
            var id = this.value;
            //如果选中状态是true,后台数据将要改为显示
            var change = obj.elem.checked;
            if(change){
                change = 1;
            }else{
                change = 0;
            }
            $.ajax({
                type: 'POST',
                url: "<?=url('forent/status')?>?id="+id+ "&change="+change,
                dataType:  'json',
                success: function(data){
                    // console.log(data.msg);
                    layer.msg(data.msg);
                }
            });
        });
        var $ = layui.$, active = {
            reload: function(){
                var keywords = $('#keywords').val();
                var type = $('#type').val();
                //执行重载
                table.reload('testReload', {
                    url: '/xcx/forent/indexData/'
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keywords: keywords,
                        type: type
                    },
                    success:function (data) {
                        console.log(data);
                    }
                });
            }

        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var id = data.hp_id;
            if(obj.event === 'addTime'){
                layer.open({
                    type: 2,
                    title: '增加时间',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: "<?=url('inspect/addtime')?>?id="+id
                });
            }else if(obj.event === 'addRent'){
                layer.open({
                    type: 2,
                    title: '登记租客',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: "<?=url('inspect/addRent')?>?id="+id
                });
            }else if(obj.event === 'contact'){
                layer.open({
                    type: 2,
                    title: '联系租客',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: "<?=url('inspect/emailrent')?>?id="+id
                });
            }else if(obj.event === 'cancel'){
                $.ajax({
                    'type':"get",
                    'url':"<?=url('inspect/cancel')?>?id="+id,
                    'success':function (result) {
                        if(result.code < 1){
                            layer.msg(result.msg);
                            window.location.href='<?=url("inspect/index")?>';
                        }else {
                            layer.msg(result.msg);
                            window.location.href='<?=url("inspect/index")?>';
                        }
                    },
                    'error':function () {
                        console.log('error');
                    }
                })
            }
        });
    });
</script>
{include file="index/footer" /}