<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="__WEIUI__/css/weui.css"/>
    <link rel="stylesheet" href="__WEIUI__/css/weuix.css"/>
    <script src="__WEIUI__/js/zepto.min.js"></script>
    <script>
        $(function(){


        });
    </script>
</head>
<body ontouchstart>
<article class="weui-article">
    <h1>订单编号:{$log.order_id}【{$log.orderStep}】</h1>
    <section>
        {if condition='$log.order_step eq 1'}
            <h2 class="title">订单类型：{$log.order_type}</h2>
        {/if}
        <section>
            <dl class="weui-pay-line"><dt class="weui-pay-label">结算金额：</dt><dd class="weui-pay-e">${$log.order_price}</dd></dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">截止时间：</dt><dd class="weui-pay-e">{$log.order_show_time}</dd></dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">任务地区：</dt><dd class="weui-pay-e">{$log.order_city}</dd></dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">详细地址：</dt><dd class="weui-pay-e">{$log.order_house_address}</dd></dl>
            {if condition='$log.order_step eq 1'}
                 <dl class="weui-pay-line"><dt class="weui-pay-label">房源链接：</dt><dd class="weui-pay-e"><a href='{$log.order_house_url}' target='_black'>点击查看</a></dd></dl>
            {/if}

<!--电子文档版本2-->
<!--            <dl class="weui-pay-line"><dt class="weui-pay-label">下载模板：</dt><dd class="weui-pay-e">-->
<!--                <a href="__PUBLIC__/docs/showhouse.xlsx" download="看房模板">点击下载</a>-->
<!--            </dd></dl>-->

            {if condition='$log.order_step eq 3'}
            <div class="weui-cells weui-cells_checkbox" style="margin-top: 0px;">
                {volist name='$log.sub_info' id='vo'}
                <label class="weui-cell weui-check__label" for="s11">
                    <div class="weui-cell__hd">
                        <input class="weui-check" disabled name="checkbox1" id="s11" checked="checked" type="checkbox">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <span>
                            {switch name="$vo.so_sub_type"}
                            {case value="1"}水{/case}
                            {case value="2"}电{/case}
                            {case value="3"}气/热水{/case}
                            {case value="4"}网{/case}
                            {default /}
                            {/switch}
                        </span>
                        {if condition='$log.order_status eq 3'}
                            <span>
                                {$vo.sub_comp}
                            </span>
                        {/if}
                    </div>
                </label>
                {/volist}
            </div>
            {/if}
            <p>
                <b>订单备注：</b>
                {$log.order_remarks}
            </p>
            <h3>任务状态：{$log.olStatus}</h3>

            {if condition='$log.ol_status neq 2 and $log.order_step lt 3'}
                <h3>看房员ID：{$log.ol_inspector}</h3>
                <h3>订单状态：{$log.order_statuss}</h3>
                <p>
                    {if condition='$log.ol_status egt 3'}
                <p>
                    资料暂未上传，请去PC端后台进行上传。
                </p>
            {else/}
                <div class="weui-uploader__bd">
                <h3>图片：
                    {if condition='$log.ol_images neq null'}
                    <i class="weui-icon-success-circle"></i>
                    已上传
                    {else/}
                    <i class="weui-icon-cancel"></i>
                    未上传
                    {/if}
                </h3>
                <ul class="weui-uploader__files" id="uploaderFiles">
                    {if condition='$log.ol_images neq null'}
                    {volist name='log.ol_image' id="item" key="k"}
                    <li class="weui-uploader__file" ><img style="height: 80px;width:100px;" src="__PUBLIC__/{$item}" class="img" ></li>
                    {/volist}
                    {/if}
                </ul>
                </div>
                {if condition='$log.order_step eq 1'}
                <h3>视频：

                    {if condition='$log.ol_video neq null'}
                    <i class="weui-icon-success-circle"></i>
                    已上传
                    {else/}
                    <i class="weui-icon-cancel"></i>
                    未上传
                    {/if}
                </h3>
                <h3>报告：
                    {if condition='$log.ol_doc neq null'}
                    <i class="weui-icon-success-circle"></i>
                    已上传
                    {else/}
                    <i class="weui-icon-cancel"></i>
                    未上传
                    {/if}
                </h3>
                {/if}
                </p>

                {/if}
            {/if}
            <p>
                <b>备注：</b>
                {$log.ol_remarks}
            </p>
        </section>
    </section>
</article>
</body>
</html>