<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <link rel="stylesheet" href="__WEIUI__/css/weui.css"/>
    <link rel="stylesheet" href="__WEIUI__/css/weuix.css"/>
</head>
<body ontouchstart class="page-bg">
<div class="weui-cells" style="margin-top: 0px;background-color:transparent !important">
	<div class="weui-cell">
		<div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
			<img src="__WEIUI__/images/pic_160.png" style="width: 50px; border-radius: 50%;display: block">
		</div>
		<div class="weui-cell__bd">
			<p>小宝租房</p>
		</div>
        <div class="weui-header-right"><a id="sign" href="lists.html" class="icon f-green">我的订单</a></div>
	</div>
</div>

<ul class="weui-payrec">
    <div class="weui-pay-m">
        <li class="weui-pay-order">
            <dl class="weui-pay-line">
                <dd class="weui-pay-name">订 单 号：{$order.order_id}</dd>
                <dd class="weui-pay-name">订单类型：{$order.orderStep}</dd>
                <dd class="weui-pay-name">订单状态：{$order.orderStatus}</dd>
            </dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">结算金额：</dt><dd class="weui-pay-e">${$order.order_price}</dd></dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">截止时间：</dt><dd class="weui-pay-e">{$order.order_show_time}</dd></dl>
			<dl class="weui-pay-line"><dt class="weui-pay-label">任务地区：</dt><dd class="weui-pay-e">{$order.order_city}</dd></dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">详细地址：</dt><dd class="weui-pay-e">{$order.order_house_address}</dd></dl>
            {if condition="$order.order_step eq 1"}
                <dl class="weui-pay-line"><dt class="weui-pay-label">房源链接：</dt><dd class="weui-pay-e"><a href='{$order.order_house_url}' target='_black'>点击查看</a></dd></dl>
            {/if}
            {if condition="$order.order_step eq 3"}
            <div class="page-hd" style="padding: 8px;">
                <h1 class="page-hd-title">
                    开通能源项
                </h1>
            </div>
            <div class="weui-cells weui-cells_checkbox" style="margin-top: 0px;">
                {volist name='$order.sub_info' id='vo'}
                <label class="weui-cell weui-check__label" for="s11">
                    <div class="weui-cell__hd">
                        <input class="weui-check" disabled name="checkbox1" id="s11" checked="checked" type="checkbox">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>
                            {switch name="$vo.so_sub_type"}
                            {case value="1"}水{/case}
                            {case value="2"}电{/case}
                            {case value="3"}气/热水{/case}
                            {case value="4"}网{/case}
                            {default /}
                            {/switch}
                        </p>
                    </div>
                </label>
                {/volist}
            </div>
            {/if}
            <input id="crm_id" type="hidden" value="{$order.crm_id}"/>
            {if condition="$order.order_status eq 1"}
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:" id="accept">立即接单</a>
            </div>
            {else/}
            {if condition="$order.isSelf  eq 1"}
            <div class="weui-btn-area">
                <a href="lists.html"  class="weui-btn weui-btn_plain-default weui-btn_plain-disabled">您已接单</a>
            </div>
            {else/}
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_plain-default weui-btn_plain-disabled">您来晚了</a>
            </div>
            {/if}
            {/if}
        </li>
    </div>
   
</ul>
</body>
<script src="__WEIUI__/js/zepto.min.js"></script>
<script src="__WEIUI__/js/zepto.weui.js"></script>
<script>
    $(function(){
        $(document).on("click","#accept",function(){
            var crm_id = $('#crm_id').val();
            $.ajax({
                type:'get',
                url:'/oa/index/accept',
                data:{'crm_id':crm_id},
                success:function (data) {
                    console.log(data);
                    if(data.code ==1){
                        $.toptip(data.msg,'success');
                        window.location.href="<?=url('index/lists')?>";
                    }else{
                        $.toptip(data.msg);
                        window.location.href="<?=url('index/lists')?>";
                    }
                },
                error:function (data) {
                    window.location.href="<?=url('index/lists')?>";
                }
            })
        })
    });
</script>
</html>