{include file="index/header" /}
<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
    }
</style>
<div class="layui-body">
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" action="<?=url('admin/add')?>" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>员工姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_realname" lay-verify="required|title" placeholder="请输入管理员姓名" value="{$admin.ad_realname}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>员工角色</label>
                <div class="layui-input-inline">
                    <select name="ad_role" id="roleaa" disabled lay-verify="required">
                        <option value="">请选择角色</option>
                        {volist name="role" id="vo"}
                        <option value="{$vo.r_id}" {if condition="$admin.ad_role eq $vo.r_id"}selected{/if}>{$vo.r_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>电子邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_email" id="ad_email" onblur="checkEmail()" placeholder="请输入电子邮箱" autocomplete="off" readonly value="{$admin.ad_email}"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>手机号码</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_phone" value="{$admin.ad_phone}"  id="ad_phone" placeholder="请输入手机号码" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-upload">
                <label class="layui-form-label">头像</label>
                <div class="layui-input-inline">
                    <img class="layui-upload-img" id="demo1" src="__PUBLIC__/{$admin.ad_img}">
                    <p id="demoText"></p>
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label"><span style="color: red;">*</span>性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="ad_sex" disabled value="1" title="男" {if condition="$admin.ad_sex eq 1" }checked{/if}>
                    <input type="radio" name="ad_sex" disabled value="2" title="女" {if condition="$admin.ad_sex eq 2" }checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_corp" readonly value="{$admin.ad_corp}" placeholder="请输入公司" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">职位</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_job" readonly value="{$admin.ad_job}" placeholder="请输入职位" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工号</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_bid" readonly value="{$admin.ad_bid}" placeholder="请输入工号" autocomplete="off"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">微信号码</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_weixin" readonly value="{$admin.ad_weixin}" placeholder="请输入微信" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">个人简介</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入个人简介" readonly maxlength="500" name="ad_desc" class="layui-textarea">{$admin.ad_desc}</textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form','jquery','upload'], function(){
        var form = layui.form
            ,$ = layui.jquery,
            upload = layui.upload;
    });
</script>
{include file="index/footer" /}