<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="__WEIUI__/css/weui.css"/>
    <link rel="stylesheet" href="__WEIUI__/css/weuix.css"/>
    <script src="__WEIUI__/js/zepto.min.js"></script>
    <script>
        $(function(){
        });
    </script>
</head>
<body ontouchstart>
<article class="weui-article">
    <h1>订单编号:{$log.cl_order_id}【闪电租房】</h1>
    <section>
        <h3>订单状态：{$log.orderStatus}</h3>
        <h3>截止时间：{$log.cl_end_time}</h3>
        <section>
            <p>
                <b>订单备注：</b>
                {$log.cl_remarks}
            </p>
            <p>
                更多信息请前往OA后台进行查看！
            </p>
        </section>
    </section>
</article>
</body>
</html>