<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <link rel="stylesheet" href="__WEIUI__/css/weui.css"/>
    <link rel="stylesheet" href="__WEIUI__/css/weuix.css"/>
</head>
<body ontouchstart class="page-bg">
<div class="weui-cells" style="margin-top: 0px;background-color:transparent !important">
    <div class="weui-cell">
        <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
            <img src="__WEIUI__/images/pic_160.png" style="width: 50px; border-radius: 50%;display: block">
        </div>
        <div class="weui-cell__bd">
            <p>小宝租房</p>
        </div>
        <div class="weui-header-right"><a id="sign" href="lists.html" class="icon f-green">我的订单</a></div>
    </div>
</div>

<ul class="weui-payrec">
    <div class="weui-pay-m">
        <li class="weui-pay-order">
            <dl class="weui-pay-line">
                <dd class="weui-pay-name">订 单 号：{$order.cl_order_id}</dd>
                <dd class="weui-pay-name">订单类型：闪电租房</dd>
                <dd class="weui-pay-name">订单状态：{$order.orderStatus}</dd>
            </dl>
            <dl class="weui-pay-line"><dt class="weui-pay-label">截止时间：</dt><dd class="weui-pay-e">{$order.cl_end_time}</dd></dl>
            <input id="crm_id" type="hidden" value="{$order.cl_id}"/>
            {if condition="$order.cl_cl_admin eq null"}
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:" id="accept">立即接单</a>
            </div>
            {else/}
            {if condition="$order.cl_cl_admin  eq $ad_name"}
            <div class="weui-btn-area">
                <a href="lists.html"  class="weui-btn weui-btn_plain-default weui-btn_plain-disabled">您已接单</a>
            </div>
            {else/}
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_plain-default weui-btn_plain-disabled">您来晚了</a>
            </div>
            {/if}
            {/if}
        </li>
    </div>
    <input type="hidden" id="cl_id" value="{$order.cl_id}"/>
</ul>
</body>
<script src="__WEIUI__/js/zepto.min.js"></script>
<script src="__WEIUI__/js/zepto.weui.js"></script>
<script>
    $(function(){
        $(document).on("click","#accept",function(){
            var cl_id = $('#cl_id').val();
            $.ajax({
                type:'get',
                url:'/oa/light/accept',
                data:{'cl_id':cl_id},
                success:function (data) {
                    console.log(data);
                    if(data.code ==1){
                        $.toptip(data.msg,'success');
                        window.location.href="<?=url('light/lists')?>";
                    }else{
                        $.toptip(data.msg);
                        window.location.href="<?=url('light/lists')?>";
                    }
                },
                error:function (data) {
                    window.location.href="<?=url('light/lists')?>";
                }
            })
        })
    });
</script>
</html>