{include file="index/header" /}
<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
       <a>{$lable.zhanghuguanli}</a>
        <a><cite>{$lable.gerenziliao}</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('account/personal')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                {$lable.fanhui}</a>
        </div>
    </div>
    <hr/>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" action="<?=url('account/edit')?>" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.yuangongxm}</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_realname" lay-verify="required|title" placeholder="" autocomplete="off" value="{$admin.ad_realname}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.yuangongjs}</label>
                <div class="layui-input-block">
                    {volist name='allrole' id='vo'}
                    {if condition="$vo.is_checked eq true"}
                    <input type="checkbox" class="checkbox" lay-skin="primary" name="ad_role[{$vo.ad_id}]" title="{$vo.erole}" disabled checked>
                    {/if}
                    {/volist}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.email}</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_email" id="ad_email" disabled value="{$admin.ad_email}"  onblur="checkEmail()" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.phone}</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_phone" disabled value="{$admin.ad_phone}" id="ad_phone" placeholder=" " autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-upload">
                <label class="layui-form-label">{$lable.avatar}</label>
                <div class="layui-input-inline">
                    <img class="layui-upload-img" id="demo1" {if condition="$admin.ad_img neq null"}src="__PUBLIC__/{$admin.ad_img}"{/if} >
                    <p id="demoText"></p>
                </div>
                <input type="hidden" name="ad_img" id="ad_img" value="{$admin.ad_img}" >
                <span class="layui-btn" id="test1">{$lable.shangchuan}</span>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.gender}</label>
                    <input type="radio" name="ad_sex" value="1" title="{$lable.male}" {if condition="$admin.ad_sex eq 1" }checked{/if}>
                    <input type="radio" name="ad_sex" value="2" title="{$lable.female}" {if condition="$admin.ad_sex eq 2" }checked{/if}>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司</label>
                <div class="layui-input-block">
                    {volist name='crop' id='vo'}
                    {if condition="$vo.is_checked eq true"}
                    <input type="checkbox" class="checkbox" lay-skin="primary" name="ad_corp[{$vo.cp_id}]" title="{$vo.cp_name}" disabled checked >
                    {/if}
                    {/volist}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{$lable.position}</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_job" readonly placeholder=" " autocomplete="off" class="layui-input" value="{$admin.ad_job}" >
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">{$lable.desc}</label>
                <div class="layui-input-block">
                    <textarea placeholder=" " maxlength="500" name="ad_desc" class="layui-textarea">{$admin.ad_desc}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="saveInfo">{$lable.gengxin}</button>
                    <a class="layui-btn layui-btn-primary" href="<?=url('account/personal')?>">{$lable.fanhui}</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form','jquery','upload'], function(){
        var form = layui.form
            ,$ = layui.jquery,
            upload = layui.upload;
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
        });
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '{:url("admin/upload")}' //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                console.log(res);
                //如果上传失败
                if(res.code > 0){
                    layer.msg(res.msg);
                    $('#demo1').attr('src',"__PUBLIC__/"+res.filepath);
                    $('#ad_img').val(res.filepath);
                }else{
                    return layer.msg(res.msg);
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });

    function checkPhone(){
        var ad_bid=$('#ad_bid').val();
        $.ajax({
            type:"post",
            url:"<?=url('admin/checkPhone')?>",
            dataType: 'json',
            data:{'ad_bid':ad_bid,'ad_id':'0'},
            success:function (data) {
                console.log(data);
                if(data.code >1){
                    layer.msg(data.msg, {icon: 2, time: 1000});
                }else if(data.code <= 1){
                    layer.msg(data.msg, {icon: 1, time: 1000});
                }
            },
            error:function (error) {
                console.log(error);
            }
        })
    }

    function checkEmail(){
        var ad_email=$('#ad_email').val();
        $.ajax({
            type:"post",
            url:"<?=url('admin/checkEmail')?>",
            dataType: 'json',
            data:{'ad_email':ad_email,'ad_id':'0'},
            success:function (data) {
                console.log(data);
                if(data.code >1){
                    layer.msg(data.msg, {icon: 2, time: 1000});
                }else if(data.code <= 1){
                    layer.msg(data.msg, {icon: 1, time: 1000});
                }
            },
            error:function (error) {
                console.log(error);
            }
        })
    }

</script>
{include file="index/footer" /}