{include file="index/header" /}
<div class="layui-body">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <div style="margin: 20px;">
        <span class="layui-breadcrumb" lay-separator=">">
            <a>{$lable.zhanghuguanli}</a>
            <a><cite>{$lable.gerenziliao}</cite></a>
        </span>
        </div>
    <form class="layui-form bform" style="margin-top: 20px;" id="reform" method="post" action="" enctype="multipart/form-data">
        <input type="hidden" class="layui-input" name="ad_id" value="{$admin_id}">
        <div class="layui-form-item">
            <label class="layui-form-label">{$lable.yuanmima}</label>
            <div class="layui-input-inline">
                <input type="password" name="oldPwd" id="oldPwd" lay-verify="require|pass" placeholder="{$lable.pleaseInput}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{$lable.xinmima}</label>
            <div class="layui-input-inline">
                <input type="password" name="newPwd" id="newPwd" lay-verify="require|pass" placeholder="{$lable.pleaseInput}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{$lable.rexinmima}</label>
            <div class="layui-input-inline">
                <input type="password" name="newPwd2" id="newPwd2" lay-verify="require|pass" placeholder="{$lable.pleaseInput}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <span class="layui-btn" onclick="resetPwd(this)" id="sub">{$lable.querenxiugai}</span>
            </div>
        </div>
    </form>
    </div>
</div>
<script>
    layui.use(['element','jquery','layer'], function(){
        var element = layui.element,
            $ = layui.jquery,
            layer = layui.layer;
    });
    function resetPwd(e) {
        $.ajax({
            'type':"post",
            'url':"<?=url('index/resetpass')?>",
            'data':$("#reform").serialize(),
            'success':function (result) {
                if(result.code < 1){
                    layer.msg(result.msg);
                }else {
                    layer.msg(result.msg);
                    layer.open({
                        title: '信息'
                        ,content: result.msg
                        ,yes: function(index, layero){
                            layer.close(index);
                            window.parent.location.reload();
                        }
                        ,cancel:function (index, layero) {
                            layer.close(index);
                            window.parent.location.reload();
                        }
                    });
                }
            },
            'error':function () {
                console.log('error');
            }
        })
    }
</script>
{include file="index/footer" /}