{include file="index/header" /}
<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>{$lable.zhanghuguanli}</a>
        <a><cite>{$lable.gerenziliao}</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('account/edit')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon">&#xe642;</i>
                {$lable.xiugaiziliao}</a>
        </div>
    </div>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" action="<?=url('admin/edit')?>?ad_id={$admin.ad_id}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.yuangongxm}</label>
                <div class="layui-input-block">
                    <input type="text" readonly value="{$admin.ad_realname}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.yuangongjs}</label>
                <div class="layui-input-block">
                    {volist name='allrole' id='vo'}
                    {if condition="$vo.is_checked eq true"}
                    <input type="checkbox" class="checkbox" lay-skin="primary" name="ad_role[{$vo.ad_id}]" title="{$vo.erole}" disabled checked>
                    {/if}
                    {/volist}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.email}</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$admin.ad_email}" readonly class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <span class="layui-btn layui-btn-sm layui-btn-normal" id="changeEmail" data-href="<?=url('account/email')?>">{$lable.gengxinyouxiang}</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.phone}</label>
                <div class="layui-input-inline">
                    <input type="text" name="ad_phone" value="{$admin.ad_phone}" readonly  class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <span class="layui-btn layui-btn-sm layui-btn-normal" id="changePhone" data-href="<?=url('account/phone')?>">{$lable.gengxinshouji}</span>
                </div>
            </div>
            <div class="layui-upload">
                <label class="layui-form-label">{$lable.avatar}</label>
                <div class="layui-input-inline">
                    <img class="layui-upload-img" id="demo1" {if condition="$admin.ad_img neq null"}src="__PUBLIC__/{$admin.ad_img}"{/if} >
                    <p id="demoText"></p>
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label"><span style="color: red;">*</span>{$lable.gender}</label>
                <div class="layui-input-block">
                    <input type="radio" disabled name="ad_sex" value="1" title="{$lable.male}" {if condition="$admin.ad_sex eq 1" }checked{/if}>
                    <input type="radio" disabled name="ad_sex" value="2" title="{$lable.female}" {if condition="$admin.ad_sex eq 2" }checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{$lable.company} </label>
                <div class="layui-input-block">
                    <input type="text" readonly class="layui-input" value="{$admin.ad_corp}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{$lable.position}</label>
                <div class="layui-input-block">
                    <input type="text" readonly class="layui-input" value="{$admin.ad_job}" >
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">{$lable.desc}</label>
                <div class="layui-input-block">
                    <textarea readonly class="layui-textarea">{$admin.ad_desc}</textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form','jquery','upload','layer'], function(){
        var form = layui.form
            ,$ = layui.jquery
            ,layer = layui.layer,
            upload = layui.upload;
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
        });
    });
    $("body").on("click","#changeEmail",function(){
        var urls = $(this).attr('data-href');
        layer.open({
            type: 2,
            title: '{$lable.gengxinyouxiang}',
            shadeClose: true,
            shade: false,
            maxmin: true,
            area: ['80%', '80%'],
            content: urls
        });
    });
    $("body").on("click","#changePhone",function(){
        var urls = $(this).attr('data-href');
        layer.open({
            type: 2,
            title: '{$lable.gengxinshouji}',
            shadeClose: true,
            shade: false,
            maxmin: true,
            area: ['80%', '80%'],
            content: urls
        });
    });
</script>
{include file="index/footer" /}