{include file="index/header" /}
<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
    }
</style>
<div class="layui-body">
    <div style="margin: 20px;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a>账户管理</a>
        <a><cite>个人资料</cite></a>
    </span>
        <div style="float:right;">
            <a href="<?=url('account/edit')?>" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon">&#xe642;</i>
                修改资料</a>
        </div>
    </div>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" action="<?=url('admin/edit')?>?ad_id={$admin.ad_id}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>员工姓名</label>
                <div class="layui-input-block">
                    <input type="text" readonly value="{$admin.ad_realname}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>员工角色</label>
                <div class="layui-input-block">
                    {volist name='allrole' id='vo'}
                    <input type="checkbox" class="checkbox" lay-skin="primary" name="ad_role[{$vo.ad_id}]" title="{$vo.ad_role}" disabled  {$vo.is_checked ? 'checked' : ''}>
                    {/volist}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>电子邮箱</label>
                <div class="layui-input-block">
                    <input type="text" value="{$admin.ad_email}" readonly class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red;">*</span>手机号码</label>
                <div class="layui-input-block">
                    <input type="text" name="ad_phone" value="{$admin.ad_phone}" readonly  class="layui-input">
                </div>
            </div>
            <div class="layui-upload">
                <label class="layui-form-label">头像</label>
                <div class="layui-input-inline">
                    <img class="layui-upload-img" id="demo1" {if condition="$admin.ad_img neq null"}src="__PUBLIC__/{$admin.ad_img}"{/if} >
                    <p id="demoText"></p>
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label"><span style="color: red;">*</span>性别</label>
                <div class="layui-input-block">
                    <input type="radio" disabled name="ad_sex" value="1" title="男" {if condition="$admin.ad_sex eq 1" }checked{/if}>
                    <input type="radio" disabled name="ad_sex" value="2" title="女" {if condition="$admin.ad_sex eq 2" }checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司</label>
                <div class="layui-input-block">
                    <input type="text" readonly class="layui-input" value="{$admin.ad_corp}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">职位</label>
                <div class="layui-input-block">
                    <input type="text" readonly class="layui-input" value="{$admin.ad_job}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工号</label>
                <div class="layui-input-block">
                    <input type="text" readonly value="{$admin.ad_bid}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">微信号码</label>
                <div class="layui-input-block">
                    <input type="text" value="{$admin.ad_weixin}" readonly class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">个人简介</label>
                <div class="layui-input-block">
                    <textarea readonly class="layui-textarea">{$admin.ad_desc}</textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form','jquery','upload'], function(){
        var form = layui.form
            ,$ = layui.jquery,
            upload = layui.upload;
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
        });
    });
</script>
{include file="index/footer" /}